<div class="container_12 pages">
	<h1>Claim existing credits</h1>

	<p>We have found <%= @users.count %> name/s that match yours.</p>


<% @users.each do |u| %>

<% if u.nil? %>

<p>We could not match your name to any existing credits.</p>

<% else %>
	<%= form_tag claim_credits_path, method: :put do %>
	<div class="activity-feed">
		<ul>
		<% u.credits.where(:user_id.nil?).each do |credit| %>
		<li class="<%= cycle('even', 'odd') -%>">
		<%= image_tag credit.product.image.thumb.to_s || "assets/default-small.png" %><strong><%= best_in_place credit, :role %></strong> on <%= credit.product.title %>  <%= check_box_tag "credit_ids[]", credit.id %> <br />
		</li>
		<% end %>
		</ul>
	</div>
		<% if u.credits.count > 0 %>
<span style="margin-left:25px">	<%= submit_tag "Claim Credits", :class => 'submit' %> </span>
		<% end %>
	<% end %>
<% end %>

<% end %>

<h2>Go under a different first name? Please enter the full correct name.</h2>

<%= form_tag connection_index_path, :method => 'get' do %>
  <%= text_field_tag :name, params[:name] %>
		 <%= submit_tag "Search", :name => nil, :class => "search-button" %>   
<% end %>

</div>