<div class="container_12 pages">
	<div class="grid_6 push_3">
		
	
	<h2>Which Facebook Friend would you like to credit?</h2>
<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :friend_name %><br />
    <%= f.text_field :recipient_name %>
  </div>

    <%= f.hidden_field :body, value: "#{params[:name]} #{params[:link]}" %>
  

  <%= f.hidden_field :recipient_uid %>

  <div class="actions">
    <%= f.submit "Send", :class => "submit" %>
  </div>
<% end %>

<%= javascript_tag do %>
  window.friends = <%=raw current_user.all_friends.to_json %>;
<% end %>


<h2>Share by email</h2>
<%= form_for(@message) do |f| %>
<div class="actions">
<%= f.label :email_address %>	
<%= f.text_field :email %>
<%= f.hidden_field :url, :value => params[:link] %>
<div class="actions">
  <%= f.submit "Send", :class => "submit" %>
</div>
<% end %>
</div>

</div>
</div>
