
<div class="container_12 index-header">
	<div class="grid_6 alpha">
		<h1>Welcome to whoactually.com
			<% if current_user %>
			<% else %>
			Thank you for taking part.</h1>
			<% end %>
	</div>

		<div class="grid_6 push_1 search omega">
			<%= form_tag search_path, :method => 'get' do %>
			  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)} %>
					 <%= submit_tag "Search", :name => nil, :class => "search-button" %>   


			<% end %>
		
		</div>
</div>


	<div class="white-box">
	
		
<% if current_user %>
<p>The platform for all Creators to own and manage their Credits and get the public recognition they deserve.</p>

<% else %>
<p>We use facebook as the first level of validation to prove you're identity so that you can begin to claim the creative credits on media products (games, film, comics, web) you feel you deserve and find colleagues to validate those claims.</p>

<p>We will NOT POST ANYTHING TO YOUR WALL or contact any of your friends. The facebook login is purely to validate that you are who you say you are. We will only use your profile picture and your registered email address to communicate with you ONLY. We hate spam as much as you do.</p>

		<p>Please  <%= link_to "register/login via Facebook.", "/auth/facebook", id: "login_with_facebook"  %> 
 	<% end %>
	</div>


<div class="product-list">
	
		<ul class="product-list">
			<h3 class="ul">Featured Creators</h3>
			<% @users_featured.each do |u| %>
		<%= link_to u do %>
<li class="product-list">
<span style="margin-left:40px;"><img src="http://graph.facebook.com/<%= u.uid%>/picture?type=small"></span>
<h3> <%= u.name %></h3>

</li>
<%end%><%end%>	
		</ul>
</div>

<div class="product-list">
	
		<ul class="product-list">
			<h3 style="margin-left:10px;">Users with the most credits</h3>
			<% @most_user_credits.each do |u| %>
		<%= link_to u do %>
<li class="product-list">
<span style="margin-left:40px;"><img src="http://graph.facebook.com/<%= u.uid%>/picture?type=small"></span>
<h3> <%= u.name %></h3>

</li>
<%end%><%end%>	
		</ul>
</div>

<div class="product-list">
	
		<ul class="product-list">
			<h3 style="margin-left:10px;">Works with the most credits</h3>
			<% @most_product_credits.each do |p| %>
		<%= link_to p do %>
<li class="product-list">
<span style="margin-left:40px;"><%= image_tag p.image.thumb.to_s %></span>
<h3> <%= p.title %></h3>

</li>
<%end%><%end%>	
		</ul>
</div>


<% if current_user %>

<div class="container_12 credits-form">
	<% if @unclaimed.empty?%>
	<% else %>
	<h1>Unclaimed Credits</h1>
		<div class= "activity-feed">
			<ul>
	<% @unclaimed.each do |u| %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= u.role %> <%= u.user_id %>on <%= u.product.title %></h3> <span class="right" style="margin-top:-80px;"><%= link_to "Claim Credit", front_validate_email_credit_url(:credit_id => u.id), :class => "blue-link" %> </span> </li>
	<%end%>	
	<% end %>
	</ul>
	</div>
	
	
	<% if @unclamied_email_credits  %>
	<h1>Unclaimed Credits matching other email addresses</h1>
	<div class= "activity-feed">
		<ul>
	<% @unclamied_email_credits.each do |u| %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= u.role %> <%= u.user_id %>on <%= u.product.title %></h3> <span class="right" style="margin-top:-80px;"><%= link_to "Claim Credit", front_validate_new_email_credit_url(:credit_id => u.id), :class => "blue-link" %> </span> </li>
	<% end %>
	<% end %>
</ul> 	
	<% else %>
	
<% end %>
	</div>


<div class="container_12 activity-feed">
	<h2>New Credits</h2>
		<ul>
			<% @credits.each do |c| %>
			<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>"><img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square" style="margin:5px;"> <%= link_to c.user.name, user_path(c.user) %> -   <%= link_to c.product.title, product_path(c.product)%>  <span class="right">Credit Added</span></li>
			<%else%>
			<%end%>
			<%end%>	
		</ul>
		
</div>
