
<div class="container_12 index-header">
	<div class="grid_6 alpha">
		<h1>Welcome to Hoovue.com</h1>
	
	</div>

		<div class="grid_6 push_1 search omega">
		<%= form_tag search_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)} %>
		 <%= submit_tag "Search", :name => nil, :class => "search-button" %>   


<% end %>
		</div>
</div>

<% if current_user %>

<%else%>
	<div class="white-box">
	
		<p>Hoovue.com is a crowdsourced database and social network that allows Consumers and Creators to connect directly.</p>

		<p>To best make use of Hoovue.com please  <%= link_to "register/login via Facebook.", "/auth/facebook", id: "login_with_facebook"  %> 
 	
	</div>
<%end%>

<div class="product-list">
	<h2>Featured Works</h2>
		<ul class="product-list">
			<% @products_featured.each do |p| %>
		<%= link_to p do %>
<li class="product-list">
	<% if p.image.blank? %>
	<span style="margin-left:30px"><%= image_tag 'default-small.png'%></span>	
	<%else%>
		<%= image_tag p.image.small %>
	<%end%>
<h3> <%= p.title %></h3>

</li>
<%end%><%end%>	
		</ul>
</div>

<div class="container_12 activity-feed">
	<h2>New Credits</h2>
		<ul>
			<% @credits.each do |c| %>
			<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>"><span class="timesince"><%= time_ago_in_words(c.created_at) %></span><img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square" style="margin:5px;"> <%= link_to c.user.name, user_path(c.user) %> -   <%= link_to c.product.title, product_path(c.product)%>  <span class="right">Credit Added</span></li>
			<%else%>
			<%end%>
			<%end%>	
		</ul>
</div>
