
<div class="container_12 index-header">
	<div class="grid_6 alpha">
		<h1>Welcome to hoovue.com.
			<% if current_user %>
			<% else %>
			Thank you for taking part.</h1>
			<% end %>
	</div>

		<div class="grid_6 push_1 search omega">
			<%= form_tag search_credits_path, :method => 'get' do %>

			  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)} %>
			     <%= submit_tag "Search", :name => nil, :class => "search-button" %>
			  <%end%>
		
		</div>
</div>


	<div class="white-box">
	
		
<% if current_user %>
<p>The platform for all Creators to own and manage their Credits and get the public recognition they deserve.</p>

<% else %>
<p>We use facebook as the first level of validation to prove you're identity so that you can begin to claim the creative credits on media products (games, film, comics, web) you feel you deserve and find colleagues to validate those claims.</p>

<p>We will NOT POST ANYTHING TO YOUR WALL or contact any of your friends. The facebook login is purely to validate that you are who you say you are. We will only use your profile picture and your registered email address to communicate with you ONLY. We hate spam as much as you do.</p>

		<p>Please  <%= link_to "register/login via Facebook.", "/auth/facebook", id: "login_with_facebook"  %> 
 	<% end %>
	</div>


<div class="product-list">
	<h2>Featured Creators</h2>
		<ul class="product-list">
			<% @users_featured.each do |u| %>
		<%= link_to u do %>
<li class="product-list">
<span style="margin-left:40px;"><img src="http://graph.facebook.com/<%= u.uid%>/picture?type=small"></span>
<h3> <%= u.name %></h3>

</li>
<%end%><%end%>	
		</ul>
</div>

<% if current_user %>

<div class="container_12 credits-form">
	<% if @unclaimed.empty?%>
	<% else %>
	<h1>Unclaimed Credits</h1>
		<div class= "activity-feed">
			<ul>
	<% @unclaimed.each do |u| %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= u.role %> <%= u.user_id %>on <%= u.product.title %></h3> <span class="right" style="margin-top:-80px;"><%= link_to "Claim Credit", front_validate_email_credit_url(:credit_id => u.id), :class => "blue-link" %> </span> </li>
	<%end%>	
	<% end %>
	</ul>
	</div>
	
	
	<% if @unclamied_email_credits  %>
	
	<% else %>
	<h1>Unclaimed Credits matching other email addresses</h1>
	<div class= "activity-feed">
		<ul>
	<% @unclamied_email_credits.each do |u| %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= u.role %> <%= u.user_id %>on <%= u.product.title %></h3> <span class="right" style="margin-top:-80px;"><%= link_to "Claim Credit", front_validate_new_email_credit_url(:credit_id => u.id), :class => "blue-link" %> </span> </li>
	<% end %>
	<% end %>
</ul> 	

	</div>
</div>



<div class="container_12 credits-form">
	
	<% if @empty_credits.empty? %>
	<% else %>
	<h1>Your Credits</h1>
	<% end %>
<ul>
	<% @empty_credits.each do |c| %>
	
	<li class="<%= cycle('even', 'odd') -%>">
		
		
	<h2><% if c.product.image? %>
			<%= image_tag c.product.image.thumb.to_s %>
				 <%else%> 
			<%= image_tag '/assets/default-credit-small.jpg'%>
	 <%end%>  
	   
	 
	 
	  <%= c.role%><% if current_user %>			
<% if current_user.id == c.user_id %> <%= link_to "(edit)", role_credits_path(:id => c) %> <% end %> <% end %> on   <%= link_to c.product.title, product_path(c.product)%></h2>
	
	
	<%= render '/credits/ticks', :c => c %>		

<br /><br /><br /><br />
	   
				
	<%= render '/credits/more-detail', :c => c %>	

	

<div class="container_12">

<%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "blue-link" %>
</div>


	<%= render '/credits/validate-credit', :c => c, :p => c.product %>	


<%end%>

	</li>
			
</ul>
</div>



<% if @credit_validations.empty? %>
<% else %>
<h1>Validation Requestions</h1>
<% end %>

<div class="container_12 credits-form">
	<ul>
	<% @credit_validations.each do |cv| %>
		<% c = Credit.find_by_id(cv.credit_id)%>
		<li class="<%= cycle('even', 'odd') -%>">
		<h2><% if c.product.image? %>
				<%= image_tag c.product.image.thumb.to_s %>
					 <%else%> 
				<%= image_tag '/assets/default-credit-small.jpg'%>
		 <%end%>  
	
  <%= c.user.name %> was a <%= c.role%>  on   <%= link_to c.product.title, product_path(c.product)%></h2>
   		
				
   		<% if cv.status == "confirmed" %>
   		<span class="score">
   		<a href="/users/<%= cv.validator_id %>"><img src="http://graph.facebook.com/<%= @user.uid%>/picture?type=square" style="margin-top:-5px;"></a>
   		</span>
   		<% end %>
   			<% if cv.status == "pending" %>
   		<span class="score">
   		<a href="/credit_validations/<%= cv.id %>"><%= image_tag '/assets/pending.png' %></a>
					
   				<% if current_user %>
   					<% if current_user.id == cv.validator_id %>
							
   					<%= link_to "Validate", validate_credit_validation_path(cv), :method=>:put  %>
   				<% end %>
   			<% end %>
   		<% end %>
   		</span>
   	
   <br /><br /><br /><br />
		<div class="more-detail">		
		<h3>Role description: <% if current_user %>			
<% if current_user.id == c.user_id %> <%= link_to "(edit)", role_credits_path(:id => c) %> <% end %> <% end %> </h3><p>  <%= c.role_desc %></p>	
			<h3>Interesting Fact: <% if current_user %>			
<% if current_user.id == c.user_id %>(click below to edit) <% end %> <% end %>
</h3><p><%= best_in_place c, :fact, :type => :textarea, :nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel' %></p>
		</div>
  
		</li>
	<% end %>
	</ul>

</div>
<% if @flagged_credits.empty? %>
<% else %>
<h2>Your Pending Credits:</h2>
<% end %>
<div class="container_12 credits-form">
	<ul>
	<% @flagged_credits.each do |cv| %>
		<% c = Credit.find_by_id(cv.credit_id)%>
		<li class="<%= cycle('even', 'odd') -%>">
		<h2><% if c.product.image? %>
				<%= image_tag c.product.image.thumb.to_s %>
					 <%else%> 
				<%= image_tag '/assets/default-credit-small.jpg'%>
		 <%end%>  
	
  <%= c.user.name %> was a <%= c.role%>  on   <%= link_to c.product.title, product_path(c.product)%></h2>
   		
				
   		<% if cv.status == "confirmed" %>
   		<span class="score">
   		<a href="/users/<%= cv.validator_id %>"><img src="http://graph.facebook.com/<%= @user.uid%>/picture?type=square" style="margin-top:-5px;"></a>
   		</span>
   		<% end %>
   			<% if cv.status == "pending" %>
   		<span class="score">
   		<a href="/credit_validations/<%= cv.id %>"><%= image_tag '/assets/pending.png' %></a>
					
   				<% if current_user %>
   					<% if current_user.id == cv.validator_id %>
							
   					<%= link_to "Validate", validate_credit_validation_path(cv), :method=>:put  %>
   				<% end %>
   			<% end %>
   		<% end %>
   		</span>
   	
   <br /><br /><br /><br />
		<div class="more-detail">		
		<h3>Role description: <% if current_user %>			
<% if current_user.id == c.user_id %> <%= link_to "(edit)", role_credits_path(:id => c) %> <% end %> <% end %> </h3><p>  <%= c.role_desc %></p>	
			<h3>Interesting Fact: <% if current_user %>			
<% if current_user.id == c.user_id %>(click below to edit) <% end %> <% end %>
</h3><p><%= best_in_place c, :fact, :type => :textarea, :nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel' %></p>
		</div>
		
		</li>
	<% end %>
	</ul>

</div>

<% end %>




<div class="container_12 activity-feed">
	<h2>New Credits</h2>
		<ul>
			<% @credits.each do |c| %>
			<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>"><span class="timesince"><%= time_ago_in_words(c.created_at) %></span><img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square" style="margin:5px;"> <%= link_to c.user.name, user_path(c.user) %> -   <%= link_to c.product.title, product_path(c.product)%>  <span class="right">Credit Added</span></li>
			<%else%>
			<%end%>
			<%end%>	
		</ul>
</div>
