<%= form_for @user do |f| %>
  <%= render "/shared/error_messages", target: @user %>

  <h2>Edit Your Profile Picture</h2>

  <% if @user.picture %>
    <%= image_tag @user.picture.small, :class => "picture" %>
  <% else %>
  <% if @user.profile_picture %>
	  <%= image_tag @user.profile_picture, :class => "picture" %>
  <% end %>
  <% end %>

  <div class="field">
  <%= f.file_field :picture, :class => "browse" %>
  </div>


  <h2>Edit Your Bio</h2>

  <div class="field">
    <%= f.label :tell_us_a_little_about_yourself %>
  <%= f.text_area :bio, :rows => '10', :style => "height:150px;" %>
  </div>

  <h2>Edit Your Personal Website URL</h2>

  <div class="field">
    <%= f.label :link_to_your_personal_website %>
    <span>http://</span><%= f.text_field :link %>
  </div>

  <h2>Twitter</h2>

  <div class="field">
    <%= f.label :provide_your_twitter_username_below_to_add_it_to_your_profile %>
    <span>@</span><%= f.text_field :twitter %>
  </div>

  <div class="actions"><%= f.submit "SAVE", :class => "submit" %></div>

<% end %>
