<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email_address %><br />
    <%= f.text_field :email %>
  </div>
 
 <% if @user.picture %>
 <%= image_tag @user.picture.small %>
	<% else %>
	<% if @user.profile_picture %>
	  	<%= image_tag @user.profile_picture %>	 
	 <% end %>
	<% end %> 
  <div class="field">
    <%= f.label :upload_your_own_picture %><br />
  <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :tell_us_a_little_about_yourself %><br />
  <%= f.text_area :bio, :rows => '5' %>
  </div>
  <div class="field">
    <%= f.label :link_to_a_personal_website_or_something_you_are_currently_working_on %><br />
   http:// <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :we_can_display_your_twitter_feed_in_your_profile_page_if_you_enter_your_twitter_username_here %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="actions"><%= f.submit "Submit" %></div>
<% end %>