<div class="container_12 pages">
	
	</div>

	<div class="container_12 profile-header">
		<h1><%= @user.name %> <% if current_user %><span style="font-size:15px"><%= link_to "(edit profile)", edit_user_path(@user) %> <% end %></span></h1> 
		<div class="grid_3 alpha">
<img src="http://graph.facebook.com/<%= @user.uid%>/picture?type=large"><br />
			</div>
			<div class=grid_5>
				<h3>Bio</h3>
				<p><%= @user.bio %></p>
		<h3><a href="<%= @user.link %>"><%= @user.link %></a></h3>
			</div>
			
			<div class="grid_4 omega"  style="margin-top:10px;">
			<% if @user.twitter %>
			
			<% else %>
			
			<script src="https://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
				  version: 2,
				  type: 'profile',
				  rpp: 10,
				  interval: 6000,
				  width: 290,
				  height: 200,
				  theme: {
				    shell: {
				      background: '#274050',
				      color: '#fff',
					  border: '#000'
				    },
				    tweets: {
				      background: '#fff',
				      color: '#000',
				      links: '#000000'
				    }
				  },
				  features: {
				    scrollbar: true,
				    loop: false,
				    live: true,
				    hashtags: true,
				    timestamp: true,
				    avatars: false,
				    behavior: 'all'
				  }
				}).render().setUser('<%= @user.twitter %>').start();
				</script>
			
			
			
			
				<% end %>
			</div>

	</div>

<% for friendship in @user.friendships%>
	<% friendship.friend.name %>  (<%= link_to "unfollow", friendship, :method => :delete %>)    <br />
<%end%>






<div class="container_12 activity-feed">
	<h1>Credits</h1>
		<ul>
			<% @credits.each do |c| %>
			<li class="<%= cycle('even', 'odd') -%>"><% if c.user %> <%= link_to c.user.name, user_path(c.user) %> <img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square"><span class="plus">+</span> <%else%> Pending User  <% end %> <% if c.product.image? %><%= image_tag c.product.image.thumb.to_s %><%end%>  <%= link_to c.product.title, product_path(c.product)%><span class="right"><%= c.role%> </li>
			<%end%>	
		</ul>
</div>