<div class="container_12 user-page">
	<div class="grid_9 alpha user-container">





<div class="user-info-panel">
	
	<div class="grid_3 profile-picture">
		<% if @user.picture.blank? %>
		
		<% if @user.provider == "facebook" %>		
	<img  style="margin-top:3px;" src="http://graph.facebook.com/<%= @user.uid%>/picture?type=large"><br />
		<% end %>
		<% if @user.provider == "linkedin" %>		
	<%= image_tag @user.profile_picture %><br />
		<% end %>
		<% else %>
		<%= image_tag @user.picture %>
		<% end %>
		
	</div>
	
	
	<div class="grid_3 stats">
		<div class="stats">
			<p class="credit-count"><%= @user.credits.count %></p>
			<p class="credits">Credits</p>
				<div class="verified-count">
					<p class="verified-credits">
						<%= @verified_credits.size %>
					</p>
					<p class="verifed">Verified</p>
				</div>
					<div class="images">
						<p class="verified-credits">
							<%= @part_verified_credits %>
						</p>
						<p class="part">Part</p>
					</div>
						<div class="videos">
							<p class="verified-credits"><%= @pending_credits.count %></p>
							<p class="pending">Pending</p>
						</div>
		</div>
	</div>
	
	<div class="grid_2 analytics">
		<div class="followers">
			<div class="data">
				<%= @followers.count %>
			</div>
			<div class="title">
				Followers
			</div>	
			</div>
			
			<div class="likes">
				<div class="data">
					3
				</div>
				<div class="title">
					Likes
				</div>	
				</div>
				
				
				<div class="shared">
					<div class="data">
						2					</div>
					<div class="title">
						Shared
					</div>	
				</div>
					
					
					
					
	
	 </div>
	 
	<div class="description">
		<div class="name">
			<%= @user.name %> <% if current_user %> <% if current_user.id == @user.id %><span style="font-size:15px"><%= link_to "(edit profile)", edit_user_path(@user) %> <% end %> <% end %>
		</div>
	
		<% if current_user %>
			 <% if current_user.id == @user.id %>
			 		<% else %>
	
		<%= link_to 'Follow +', friendships_path(:friend_id => @user.id), :method => :post, :class => "blue-btn" %><br /><br />

		<% if @user.twitter.blank? %>
		
		<% else %>
		<a href="https://twitter.com/<%= @user.twitter %>" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @<%= @user.twitter %></a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	
		<% end %>

			<% end %>
					<% end %>
		
		
	
		<div class="info">
			<p class="url"><a href="http://<%= @user.link %>" target=blank><%= @user.link %></a></p>
		
		</div>	
		
		<div class="bio">
			<%= @user.bio %>
		</div>	
			
		
			
		
	
	</div>
		
	
</div>	



<script type="text/javascript">

$(document).ready(function(){

        $(".slidingDiv_followers").hide();
        $(".show_hide_followers").show();

    $('.show_hide_followers').click(function(){
    $(".slidingDiv_followers").slideToggle();
    });

});

</script>

<script type="text/javascript">

$(document).ready(function(){

        $(".slidingDiv_following").hide();
        $(".show_hide_following").show();

    $('.show_hide_following').click(function(){
    $(".slidingDiv_following").slideToggle();
    });

});

</script>

<ul class="following-navi">
	<li><a href"#" class="show_hide_followers">Followers</a></li>
	<li><a href"#" class="show_hide_following">Following</a></li>
</ul>	

<div class="slidingDiv_followers">
	<ul>
	    <% for user in @user.inverse_friends %>
	<li><%= link_to user_path(user.id) do %>
		<%= image_tag user.profile_picture %>
		<%=h user.name %><% end %></li>
	    <% end %>

	</ul>
</div>

<div class="slidingDiv_following">
	<ul>
<% for friendship in @user.friendships%>
<% user = User.find_by_id(friendship.friend_id) %>
<li>
	<%= link_to user_path(user.id) do %>
	
<%= image_tag user.profile_picture %>
	
	<%= user.name %><% end %></li>
<% end %>
	</ul>
</div>



<div class="credits">
	
	<h2>Credits</h2>
	
	<% @credits.each do |c| %>
	
	
	<div class="credit-item"
	<% if c.product.status == "Ongoing" %>
	style="border:1px solid green;"
	<% end %>
	>
		<% if c.user %>
		<% if c.product.image.blank? %>
		
			<%= image_tag 'default-thumb.png'%>
		
		<%else%>	
	<%= image_tag c.product.image, :width => "50" %>
	
		<% end %>
	<div class="user-name">
	<%= link_to c.product.title, product_path(c.product) %>
	</div>
	
	<div class="user-details">
		<p class="title">Credits</p><p class="data"><%= c.product.credits.count %></p>
		<p class="title">Followers</p><p class="data">0</p>
		<p class="title">Status</p><p class="data"><%= c.product.status %></p>
	</div>
	
	<div class="more-detail">
		<p class="role"><%= c.role %><% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %></p>
		<p class="role-description"><%= c.role_desc %><% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %>
							</p>
	</div>
	
	
	<script type="text/javascript">
 
	$(document).ready(function(){
 
	        $(".slidingDiv_interesting_fact_<%= c.id %>").hide();
	        $(".show_hide_interesting_fact_<%= c.id %>").show();
 
	    $('.show_hide_interesting_fact_<%= c.id %>').click(function(){
	    $(".slidingDiv_interesting_fact_<%= c.id %>").slideToggle();
	    });
 
	});
 
	</script>

	
	<div class="interesting_fact">
		<a class="show_hide_interesting_fact_<%= c.id %>">View Interesting Fact and Posts</a>
	</div>
	
	<div class="validation-info"   style="
			<% if c.credit_validations.confirmed.empty? %>
			background-color:red;
			<% end %>
			
			<% if c.credit_validations.confirmed.count == 1  %>
			background-color:orange;
			<% end %>	
			
			<% if c.credit_validations.confirmed.count == 2  %>
				background-color:orange;
			<% end %>
			
			<% if c.credit_validations.confirmed.count == 3  %>
			background-color:green;
			<% end %>
			
			">
	
	
	<p class="cv-count">
	<% if c.credit_validations.confirmed.count > 2 %>
	<%= image_tag '/assets/beta/tick.png' %>
	<% else %>	
	<% if c.credit_validations.confirmed.count > 2 %>
	3
	<% end %>
	<% if c.credit_validations.confirmed.count == 2 %>
	2
	<% end %>
	<% if c.credit_validations.confirmed.count == 1 %>
	1
	<% end %>
	<% if c.credit_validations.confirmed.count == 0 %>
	0
	<% end %>
		/3</p><br />
		
	<% end %>	
	<p class="validation-status">
		<% if c.credit_validations.confirmed.count > 2 %>
		Verified</p>
		<% end %>
		<% if c.credit_validations.confirmed.count == 2 %>
		Part Verified</p>
		<% end %>
		<% if c.credit_validations.confirmed.count == 1 %>
		Part Verified</p>
		<% end %>
		<% if c.credit_validations.confirmed.count == 0 %>
		Unverified</p>
		<% end %>
	
	
		<div class="head-shots">
				<% if c.credit_validations.empty? %>
					<% 3.times do %>
					<a class="show_hide_validate_partial_<%= c.id.to_i %>">
					<span class="picture">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
						<a href="#openModalvalidate<%= c.id %>" class="">
							<%= image_tag '/assets/empty.png' %>
						</a>	
						<div id="openModalvalidate<%= c.id %>" class="modalDialog">
							<div>
							 	<a href="#close" title="Close" class="close" style="width:20px;">X</a>
								<% if current_user %>			
								<% if current_user.id == c.user_id %>
								<script type="text/javascript">

								$(document).ready(function(){

								        $(".slidingDiv_email_<%= c.id %>").hide();
								        $(".show_hide_email_<%= c.id %>").show();

								    $('.show_hide_email_<%= c.id %>').click(function(){
								    $(".slidingDiv_email_<%= c.id %>").slideToggle();
								    });

								});

								</script>

						
								<% if c.credit_validations.count < 3  %>

				<h2>Invite someone to verify your credit.</h2>
						    
									<%= form_for(@credit_validation) do |f| %>
									<%= f.label "Select existing co-creator:"%>
									<div style="z-index:1000;">
										<%= f.collection_select :credit_id, Credit.where('user_id != ?', current_user.id).where(:product_id => c.product.id).uniq, :id, :user_name, :prompt => "Please Select" %>
										</div> 
										<%= f.hidden_field :validator_id, :value => current_user.id %>
										<%= f.hidden_field :status, :value => "confirmed" %>
   
										<%= submit_tag " Add Verifier", :name => 'existing_credit', :class => 'submit' %>
										<%= f.hidden_field :current_credit_id, :value => c.id %>
									<% end %>
							
									<h2>or invite from:</h2>
									<a class="show_hide_email_<%= c.id %>" style="cursor: pointer;">Email</a>
										<a class="show_hide_facebook_<%= c.id %>" style="cursor: pointer;" >Facebook</a>
	
							


								<div class="slidingDiv_email_<%= c.id %>">
						

								<div style="float:right;"> <a class="show_hide_email_<%= c.id %>">(close X)</a></div>
								<br />

								<%= form_for @credit, :validate => true do |f|%>
								<% if @credit.errors.any? %>
								  <div id="error_explanation">
								    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

								    <ul>
								    <% @credit.errors.full_messages.each do |msg| %>
								      <li><%= msg %></li>
								    <% end %>
								    </ul>
								  </div>
								<% end %> 
									<%= f.label "Co-creator E-mail"%>

									<%= f.text_field :pending_user_email %>

										<%= f.label "What was the role of your co-creator?"%>
   
										<%= f.text_field :role %>
   
 	
									 		<%= f.hidden_field :product_id, :value => c.product.id %>
		
											<%= f.hidden_field :current_credit_id, :value => c.id %>
		
											<%= f.hidden_field :current_credit_role, :value => c.role %>
		
	    
											<a href="/message_preview?credits_id=<%= c.id %>" target="blank">(preview the message)</a>
		
									 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :class => 'submit' %>
			
									<% end %> 
								</div>
						

								<script type="text/javascript">

								$(document).ready(function(){

								        $(".slidingDiv_facebook_<%= c.id %>").hide();
								        $(".show_hide_facebook_<%= c.id %>").show();

								    $('.show_hide_facebook_<%= c.id %>').click(function(){
								    $(".slidingDiv_facebook_<%= c.id %>").slideToggle();
								    });

								});

								</script>	


								<div class="slidingDiv_facebook_<%= c.id %>">	
							
									<div style="float:right;"> <a class="show_hide_facebook_<%= c.id %>">(close X)</a></div>	
									<br />

									<%= form_for @credit, :validate => true do |f|%>
									<% if @credit.errors.any? %>
									  <div id="error_explanation">
									    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

									    <ul>
									    <% @credit.errors.full_messages.each do |msg| %>
									      <li><%= msg %></li>
									    <% end %>
									    </ul>
									  </div>
									<% end %>

											<%= f.label "What was the role of your co-creator?"%>
											<div>
											<%= f.text_field :role %>
											</div>	
		
										 		<%= f.hidden_field :product_id, :value => c.product.id %>
		
												<%= f.hidden_field :current_credit_id, :value => c.id %>
		   
										 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :name => 'facebook', :class => 'submit' %>
			
										<% end %> 
							 
											</div>


											<script type="text/javascript">

											$(document).ready(function(){

											        $(".slidingDiv_co_<%= c.id %>").hide();
											        $(".show_hide_co_<%= c.id %>").show();

											    $('.show_hide_co_<%= c.id %>').click(function(){
											    $(".slidingDiv_co_<%= c.id %>").slideToggle();
											    });

											});

											</script>	


									<% end %>
								<% end %>
								<% end %>
					
							</div>
						</div>
						<% else %>	
						<%= image_tag '/assets/question.png' %>	
						<% end %>
						<% else %>
						<%= image_tag '/assets/question.png' %>
						<% end %>
					</span>
					</a>
					<% end %>
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
		
							<% end %> <% end %>
					<% else %>

				<% end %>
	
		
	
							<% if c.credit_validations.count.eql?(1) %>
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							<div id="openModalvalidate<%= c.id %>" class="modalDialog">
								<div>
								 	<a href="#close" title="Close" class="close" style="width:20px;">X</a>
									<% if current_user %>			
									<% if current_user.id == c.user_id %>
									<script type="text/javascript">
 
									$(document).ready(function(){
 
									        $(".slidingDiv_email_<%= c.id %>").hide();
									        $(".show_hide_email_<%= c.id %>").show();
 
									    $('.show_hide_email_<%= c.id %>').click(function(){
									    $(".slidingDiv_email_<%= c.id %>").slideToggle();
									    });
 
									});
 
									</script>

							
									<% if c.credit_validations.count < 3  %>

					<h2>Invite someone to verify your credit.</h2>
							    
										<%= form_for(@credit_validation) do |f| %>
										<%= f.label "Select existing co-creator:"%>
										<div style="z-index:1000;">
											<%= f.collection_select :credit_id, Credit.where('user_id != ?', current_user.id).where(:product_id => c.product.id).uniq, :id, :user_name, :prompt => "Please Select" %>
											</div> 
											<%= f.hidden_field :validator_id, :value => current_user.id %>
											<%= f.hidden_field :status, :value => "confirmed" %>
	   
											<%= submit_tag " Add Verifier", :name => 'existing_credit', :class => 'submit' %>
											<%= f.hidden_field :current_credit_id, :value => c.id %>
										<% end %>
								
										<h2>or invite from:</h2>
										<a class="show_hide_email_<%= c.id %>" style="cursor: pointer;">Email</a>
											<a class="show_hide_facebook_<%= c.id %>" style="cursor: pointer;" >Facebook</a>
		
								


									<div class="slidingDiv_email_<%= c.id %>">
							

									<div style="float:right;"> <a class="show_hide_email_<%= c.id %>">(close X)</a></div>
									<br />
	
									<%= form_for @credit, :validate => true do |f|%>
									<% if @credit.errors.any? %>
									  <div id="error_explanation">
									    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

									    <ul>
									    <% @credit.errors.full_messages.each do |msg| %>
									      <li><%= msg %></li>
									    <% end %>
									    </ul>
									  </div>
									<% end %> 
										<%= f.label "Co-creator E-mail"%>
   
										<%= f.text_field :pending_user_email %>
  
											<%= f.label "What was the role of your co-creator?"%>
	   
											<%= f.text_field :role %>
	   
	 	
										 		<%= f.hidden_field :product_id, :value => c.product.id %>
			
												<%= f.hidden_field :current_credit_id, :value => c.id %>
			
												<%= f.hidden_field :current_credit_role, :value => c.role %>
			
		    
												<a href="/message_preview?credits_id=<%= c.id %>" target="blank">(preview the message)</a>
			
										 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :class => 'submit' %>
				
										<% end %> 
									</div>
							
	
									<script type="text/javascript">
 
									$(document).ready(function(){
 
									        $(".slidingDiv_facebook_<%= c.id %>").hide();
									        $(".show_hide_facebook_<%= c.id %>").show();
 
									    $('.show_hide_facebook_<%= c.id %>').click(function(){
									    $(".slidingDiv_facebook_<%= c.id %>").slideToggle();
									    });
 
									});
 
									</script>	


									<div class="slidingDiv_facebook_<%= c.id %>">	
								
										<div style="float:right;"> <a class="show_hide_facebook_<%= c.id %>">(close X)</a></div>	
										<br />
	
										<%= form_for @credit, :validate => true do |f|%>
										<% if @credit.errors.any? %>
										  <div id="error_explanation">
										    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

										    <ul>
										    <% @credit.errors.full_messages.each do |msg| %>
										      <li><%= msg %></li>
										    <% end %>
										    </ul>
										  </div>
										<% end %>
   
												<%= f.label "What was the role of your co-creator?"%>
												<div>
												<%= f.text_field :role %>
												</div>	
			
											 		<%= f.hidden_field :product_id, :value => c.product.id %>
			
													<%= f.hidden_field :current_credit_id, :value => c.id %>
			   
											 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :name => 'facebook', :class => 'submit' %>
				
											<% end %> 
								 
												</div>
	
	
												<script type="text/javascript">
 
												$(document).ready(function(){
 
												        $(".slidingDiv_co_<%= c.id %>").hide();
												        $(".show_hide_co_<%= c.id %>").show();
 
												    $('.show_hide_co_<%= c.id %>').click(function(){
												    $(".slidingDiv_co_<%= c.id %>").slideToggle();
												    });
 
												});
 
												</script>	
	

										<% end %>
									<% end %>
									<% end %>
						
								</div>
							</div>			
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
							
				
				<% c.credit_validations.each do |cv| %>
				<% if cv.status == "confirmed" %>
				<span class="picture">
					<% @user = User.find_by_id(cv.validator_id) %>
				<a href="/users/<%= cv.validator_id %>" name="confirmed1">
					<% if @user %>
					<% if @user.provider == "facebook" %>
					<img  src="http://graph.facebook.com/<%= @user.uid %>/picture?type=square">
					<% else %>
					<%= image_tag @user.profile_picture %>
					<% end %>
					</a>
					<% else %>
					<%= image_tag '/assets/deleted.png' %>
					<% end %>
				</span>
	
				<% end %>
					<% if cv.status == "pending" %>
					<span class="picture">
						<% if current_user %>
							<% if current_user.id == c.user_id  %>
						<%= link_to credit_validation_path(cv) do %>
					<%= image_tag '/assets/pending.png' %>
	
						<% end %>
						<% else %>
							<%= image_tag '/assets/pending.png' %>
								<% end %>
								<% else %>
									<%= image_tag '/assets/pending.png' %>
									<% end %>
			
						</span>
		
		
		
	
					<% end %>
					<% 2.times do %>
					<a class="show_hide_validate_partial_<%= c.id %>">
					<span class="picture">
					<% if current_user %>	
						<% if current_user.id == c.user_id  %>
							<a href="#openModalvalidate<%= c.id %>" class="">
							<%= image_tag '/assets/empty.png' %>
							</a>
								
						<% else %>	
						<%= image_tag '/assets/question.png' %>	
						<% end %>
						<% end %>
			
				
					</span>
					</a>
					<% end %>
					
					<% end %>
					<% else %>
	
			<% end %>

			<% if c.credit_validations.count.eql?(2)  %>
			<% c.credit_validations.each do |cv| %>
			<% if cv.status == "confirmed" %>
			<span class="picture">
				<% @user = User.find_by_id(cv.validator_id) %>
			<a href="/users/<%= cv.validator_id %>" name="confirmed2">
				<% if @user %>
				<% if @user.provider == "facebook" %>
				<img  src="http://graph.facebook.com/<%= @user.uid %>/picture?type=square">
				<% else %>
				<%= image_tag @user.profile_picture %>
				
				<% end %>
				</a>
				<% else %>
				<%= image_tag '/assets/deleted.png' %>
				<% end %>
			</span>
			<% end %>
				<% if cv.status == "pending" %>
	
				<span class="picture">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
					<%= link_to credit_validation_path(cv) do %>
				<%= image_tag '/assets/pending.png' %>
	
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
							<% end %>
							<% else %>
								<%= image_tag '/assets/pending.png' %>
								<% end %>
	
					</span>
			<% end %>

		
				<% end %>
				<% 1.times do %>
				<a class="show_hide_validate_partial_<%= c.id %>">
					<span class="picture">
					<% if current_user %>	
						<% if current_user.id == c.user_id  %>
						<a href="#openModalvalidate<%= c.id %>" class="">
							<%= image_tag '/assets/empty.png' %>
						</a>
						<div id="openModalvalidate<%= c.id %>" class="modalDialog">
							<div>
							 	<a href="#close" title="Close" class="close" style="width:20px;">X</a>
								<% if current_user %>			
								<% if current_user.id == c.user_id %>
								<script type="text/javascript">

								$(document).ready(function(){

								        $(".slidingDiv_email_<%= c.id %>").hide();
								        $(".show_hide_email_<%= c.id %>").show();

								    $('.show_hide_email_<%= c.id %>').click(function(){
								    $(".slidingDiv_email_<%= c.id %>").slideToggle();
								    });

								});

								</script>

						
								<% if c.credit_validations.count < 3  %>

				<h2>Invite someone to verify your credit.</h2>
						    
									<%= form_for(@credit_validation) do |f| %>
									<%= f.label "Select existing co-creator:"%>
									<div style="z-index:1000;">
									
										</div> 
										<%= f.hidden_field :validator_id, :value => current_user.id %>
										<%= f.hidden_field :status, :value => "confirmed" %>
   
										<%= submit_tag " Add Verifier", :name => 'existing_credit', :class => 'submit' %>
										<%= f.hidden_field :current_credit_id, :value => c.id %>
									<% end %>
							
									<h2>or invite from:</h2>
									<a class="show_hide_email_<%= c.id %>" style="cursor: pointer;">Email</a>
										<a class="show_hide_facebook_<%= c.id %>" style="cursor: pointer;" >Facebook</a>
	
							


								<div class="slidingDiv_email_<%= c.id %>">
						

								<div style="float:right;"> <a class="show_hide_email_<%= c.id %>">(close X)</a></div>
								<br />

								<%= form_for @credit, :validate => true do |f|%>
								<% if @credit.errors.any? %>
								  <div id="error_explanation">
								    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

								    <ul>
								    <% @credit.errors.full_messages.each do |msg| %>
								      <li><%= msg %></li>
								    <% end %>
								    </ul>
								  </div>
								<% end %> 
									<%= f.label "Co-creator E-mail"%>

									<%= f.text_field :pending_user_email %>

										<%= f.label "What was the role of your co-creator?"%>
   
										<%= f.text_field :role %>
   
 	
									 		<%= f.hidden_field :product_id, :value => c.product.id %>
		
											<%= f.hidden_field :current_credit_id, :value => c.id %>
		
											<%= f.hidden_field :current_credit_role, :value => c.role %>
		
	    
											<a href="/message_preview?credits_id=<%= c.id %>" target="blank">(preview the message)</a>
		
									 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :class => 'submit' %>
			
									<% end %> 
								</div>
						

								<script type="text/javascript">

								$(document).ready(function(){

								        $(".slidingDiv_facebook_<%= c.id %>").hide();
								        $(".show_hide_facebook_<%= c.id %>").show();

								    $('.show_hide_facebook_<%= c.id %>').click(function(){
								    $(".slidingDiv_facebook_<%= c.id %>").slideToggle();
								    });

								});

								</script>	


								<div class="slidingDiv_facebook_<%= c.id %>">	
							
									<div style="float:right;"> <a class="show_hide_facebook_<%= c.id %>">(close X)</a></div>	
									<br />

									<%= form_for @credit, :validate => true do |f|%>
									<% if @credit.errors.any? %>
									  <div id="error_explanation">
									    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

									    <ul>
									    <% @credit.errors.full_messages.each do |msg| %>
									      <li><%= msg %></li>
									    <% end %>
									    </ul>
									  </div>
									<% end %>

											<%= f.label "What was the role of your co-creator?"%>
											<div>
											<%= f.text_field :role %>
											</div>	
		
										 		<%= f.hidden_field :product_id, :value => c.product.id %>
		
												<%= f.hidden_field :current_credit_id, :value => c.id %>
		   
										 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :name => 'facebook', :class => 'submit' %>
			
										<% end %> 
							 
											</div>


											<script type="text/javascript">

											$(document).ready(function(){

											        $(".slidingDiv_co_<%= c.id %>").hide();
											        $(".show_hide_co_<%= c.id %>").show();

											    $('.show_hide_co_<%= c.id %>').click(function(){
											    $(".slidingDiv_co_<%= c.id %>").slideToggle();
											    });

											});

											</script>	


									<% end %>
								<% end %>
								<% end %>
					
							</div>
						</div>				
						<% else %>	
						<%= image_tag '/assets/question.png' %>	
						<% end %>
						<% end %>
					</span>
	
				</a>
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
	
						<% end %> <% end %>
				<% end %>
	
				<% end %>
	
				<% if c.credit_validations.count.eql?(3)  %>
				<% c.credit_validations.each do |cv| %>
	
				<% if cv.status == "confirmed" %>
				<span class="picture">
					<% @user = User.find_by_id(cv.validator_id) %>
				<a href="/users/<%= cv.validator_id %>" name="confirmed3">
					<% if @user %>
					<% if @user.provider == "facebook" %>
					<img  src="http://graph.facebook.com/<%= @user.uid %>/picture?type=square">
					<% else %>
					<%= image_tag @user.profile_picture %>
					
					<% end %>
					</a>
					<% else %>
					<%= image_tag '/assets/deleted.png' %>
					<% end %>
				</span>
				<% end %>
					<% if cv.status == "pending" %>
				<span class="picture">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
					<%= link_to credit_validation_path(cv) do %>
				<%= image_tag '/assets/pending.png' %>
	
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
							<% end %>
							<% else %>
								<%= image_tag '/assets/pending.png' %>
								<% end %>
		
					</span>
		
					<% end %>

		
					<% end %>
	
	
					<% end %>
	
	
	
		</div>	

	
	
	
	
	
	
	
	
	</div>
	
	
	
		<% end %>
	</div>
		
		<div class="slidingDiv_interesting_fact_<%= c.id %>" id="interesting_fact">
			<h3>Interesting Fact:</h3>
				 <% if current_user %>			
<% if current_user.id == c.user_id %><%= link_to "(edit)", edit_credit_path(:id => c) %> <% end %> <% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</h3><p class="fact"><%= c.fact %></p>



<% if c.product.status == "In Development" or c.product.status == "Ongoing"  %>	


<h3>Timeline Posts:</h3>

<% if current_user %>			
	<% if current_user.id == c.user_id %>	
			<%= form_for(@post) do |f| %>
			  <% if @post.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			      <ul>
			      <% @post.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <div class="field">
			    <%= f.text_area :body, :rows => "5", :placeholder => "Write a new post..." %>
			Upload an Image <div class="file-upload"><%= f.file_field :image %></div> or <br />
			<%= f.text_field :video, :placeholder => "YouTube Video ID" %>
				<%= f.hidden_field :credit_id, :value => c.id %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Add update", :class => "submit" %>
			 </div>
					<% end %>
				<% end %>	
		
			<% end %>
		<% end %>
		
		<ul class="posts">	
				  <% @posts = Post.where(:credit_id => c.id).order("created_at desc").limit(10) %>
		<% @posts.each do |post| %>
		<li>
		<p class="time">Added on <%= post.created_at.strftime "%d-%m-%Y" %> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://alpha.whoactually.com/products/<%=  c.product.id %>" data-text="<%= c.fact %>" style="margin-top:10px;">Tweet this fact</a></p><br />
		<p class="content"><%= post.body %></p>
		<% if post.image.blank? %>
		<% else %>
			<%= image_tag post.image.post  %>
		<% end  %>
		<% if post.video.blank? %>
		<% else %>
		<iframe width="600" height="480" src="//www.youtube.com/embed/<%= post.video %>?rel=0" frameborder="0" allowfullscreen></iframe>
		<% end %>
		</li>

		<% end %>
		</ul>	
		
		</div>	
	
	<% end %>
	
</div>

	
</div>



<div class="grid_3 activity-feed">
<% if current_user %>
	<h3>Recent Following Activity</h3>
	
<% for friendship in current_user.friendships%>
<% @friend_credits = Credit.where(:user_id => friendship.friend.id).limit(4) %>
<% @friend_credits.each do |fc| %>
<div class="following-item">

	<div class="profile-picture">
		<%= image_tag friendship.friend.profile_picture %>
	</div>
	
	<div class="name">
	<%= link_to user_path(friendship.friend.id) do %><%= friendship.friend.name %><% end %>
	</div>
	<div class="stats">
	<p>Credits</p> <div class="data">
	 <%= friendship.friend.credits.count %>
	</div>
	</div>	
<div class="role">
		<%= fc.role %>
	</div>
	<div class="product-title">
<a href="/products/<%= fc.product.id %>"><%= fc.product.title %></a>
	</div>
</div>
<% end %>
<% end %>




  <% for user in current_user.inverse_friends %>
<%= link_to user_path(user.id) do %><%=h user.name %><% end %><br />
  <% end %>

<% end %>

		
</div>

</div>


