<div class="container_12 pages">
	
	</div>

	<div class="container_12 profile-header">
		<h1><%= @user.name %> </h1>
		<div class="grid_4">
<img src="http://graph.facebook.com/<%= @user.uid%>/picture?type=large"><br />
			</div>


	</div>

<% for friendship in @user.friendships%>
	<% friendship.friend.name %>  (<%= link_to "unfollow", friendship, :method => :delete %>)    <br />
<%end%>






<div class="container_12 activity-feed">
	<h1>Credits</h1>
		<ul>
			<% @credits.each do |c| %>
			<li class="<%= cycle('even', 'odd') -%>"><% if c.user %> <%= link_to c.user.name, user_path(c.user) %> <img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square"><span class="plus">+</span> <%else%> Pending User  <% end %> <% if c.product.image? %><%= image_tag c.product.image.thumb.to_s %><%end%>  <%= link_to c.product.title, product_path(c.product)%></li>
			<%end%>	
		</ul>
</div>