<h1>Your Profile</h1>
<img src="http://graph.facebook.com/<%= @user.uid%>/picture?type=large"><br />
<%= @user.name %> <br />
<%= @user.email%>
<%= @user.credits_count %>

<h2>Updates</h2>
<% @posts.each do |po| %>
<%= po.body %>
	<% if po.user.id == current_user.id %>
		<%= link_to 'Edit', edit_post_path(po) %><br />
	<%end%>
<%end%>
 <% if @user.id == current_user.id%>
 <%= link_to 'Add new post', new_post_path %>
 <%end%>

	<h2>Titles Added by User</h2>
	<% @user.products.each do |p| %>
	<%= link_to p.title, p %>
	<%= image_tag p.image.thumb%>	
	<%end%>
<h2>Pending Friend Validations</h2>
<% if @credit_validations.empty? %>

<%else%>
<% @credit_validations.each do |cv| %>
	<%= cv.credit.user.name%> | <% cv.credit.role%> | <%= cv.credit.product.title %> <%= form_for cv.credit, :method => :put do |f| %>
																					  <%= f.hidden_field :status, :value => 'approved' %>
																					  <%= f.submit "Approve" %>
																						<% end %>
																						<%= form_for cv.credit, :method => :put do |f| %>
																					  <%= f.hidden_field :status, :value => 'declined' %>
																					  <%= f.submit "Decline" %>
																						<% end %>  <br /> 
<%end%>
<%end%>



<h2>Credits</h2>
<% if @credits.empty? %>

<%else%>
<% @credits.each do |c|%>
<%= link_to c.product.title, product_path(c.product.id) %><br />
<%end%>
<%end%>



