<div class="user_header">

    <div class="user_background" style="background-image: url(<% if @user.profile_picture.blank? %><%= '/assets/beta/placeholder-user.png' %><% else %><%= @user.profile_picture %><% end %>)"></div>

    <div class="container_12">

        <div class="user_img grid_1">
        	<% if @user.profile_picture.blank? %>
            	<%= image_tag("/assets/beta/placeholder-user.png") %>
            <% else %>
                <%= image_tag @user.profile_picture %>
    		<% end %>
        </div>

        <div class="description grid_11">
            <h1><%= @user.name %></h1>
            <% if @user.twitter.present? %>
            <span class="twitter">@<%= @user.twitter %></span>
            <% end %><br>
            <% if @user.link.present? %>
            <span class="website"><%= @user.link %></span>
            <% end %>
        </div>

    </div> <!-- Close container_12 -->

    <div class="bottom_bar">

        <div class="container_12">

            <% if current_user %>
            <div class="grid_8">&nbsp;</div>
            <% else %>
            <a class="grid_8" href="#"><span>Login/Register</span> to reveal <%= @user.name %>'s contact details.</a>
            <% end %>

            <% if current_user && current_user == @user %>
              <%= link_to edit_user_path(@user), class: "grid_4" do %>
                <span>Edit your profile</span>
              <% end %>
            <% end %>


        </div><!-- Close container_12 -->

    </div>

</div> <!-- Close header_area -->

<div class="container_12 content">

    <h2><i class="fa fa-check-circle"></i> Credits</h2>

    <div class="credit_list clearfix">

        <ul class="grid_12">
            <% @credits.each do |c| %>
                <% if c.user_id.blank? %>
                <% else %>
            <li class="clearfix">
                <a href="<%= product_path c.product %>" class="user grid_3">
                    <% if c.product.image %>
                        <%= image_tag c.product.image, :class => 'cover_art' %>
                    <% else %>
                        <%= image_tag '/assets/beta/placeholder-cover.png', :class => 'cover_art' %>
                    <% end %>
                    <p class="details">
                        <span class="name"><%= c.product.title %></span>
                        <span class="role"><%= c.role %></span>
                    </p>
                </a>
                <p class="role_description grid_5"><%= c.role_desc %></p>

                <% if c.credit_validations.confirmed.count == 2  %>
    				<!-- Add Check -->
    			<% end %>

    			<div class="insider grid_1">
    			    <% if c.fact %>
        			    <a href="<%= product_path c.product, anchor: "#{c.user_id}_story" %>"><i class="fa fa-book"></i></a>
        			<% else %>
        			    &nbsp;
        			<% end %>
    			</div>

    			<!-- Old markup brought forward -->
    			<div class="verification grid_3">

    				<% if c.credit_validations.empty? %>
    					<% if current_user %>
    						<% if current_user.id == c.user_id  %>

    							<% else %>
    							<%= form_for(@credit_validation) do |f| %>
    								<%= f.hidden_field :credit_id, :value => "#{c.id}" %>
    								<%= f.hidden_field :user_id, :value => "#{c.user_id}" %>
    								<%= f.hidden_field :validator_id, :value => "#{current_user.id}" %>
    								<%= f.hidden_field :status, :value => "confirmed" %>
    						<% if @user.credits.count > 0 %><%= f.submit "+", :name => "one_side", :class => "submit-one-side" %><%end%>

    								<% end %>
    							<% end %>

    							<% end %>

    					<% else %>

    				<% end %>



    							<% if c.credit_validations.count.eql?(1) %>
    					<% c.credit_validations.each do |cv| %>
    				<% if cv.status == "confirmed" %>
    				<span class="picture confirmed">
    					<% @user_validator = User.find_by_id(cv.validator_id) %>
    				<a href="/users/<%= cv.validator_id %>" name="confirmed1">
    					<%= render '/users/user_validator_images'  %>
    				</span>

    				<% end %>
    					<% if cv.status == "pending" %>
    					<span class="picture pending">
    						<% if current_user %>
    							<% if current_user.id == c.user_id  %>
    						<%= link_to credit_validation_path(cv) do %>
    					<%= image_tag '/assets/beta/placeholder-user.png' %>

    						<% end %>
    						<% else %>
                <a>
    							<%= image_tag '/assets/beta/placeholder-user.png' %>
    								<% end %>
    								<% else %>
                    <a>
    									<%= image_tag '/assets/beta/placeholder-user.png' %>
    									<% end %>

    						</a></span>




    					<% end %>


    					<% if current_user %>
    						<% if current_user.id == c.user_id  %>

    							<% else %>
    							<%= form_for(@credit_validation) do |f| %>
    								<%= f.hidden_field :credit_id, :value => "#{c.id}" %>
    								<%= f.hidden_field :user_id, :value => "#{c.user_id}" %>
    								<%= f.hidden_field :validator_id, :value => "#{current_user.id}" %>
    								<%= f.hidden_field :status, :value => "confirmed" %>

    								<% if @user.credits.count > 0 %><%= f.submit "+", :name => "one_side", :class => "submit-one-side" %><%end%>


    								<% end %>
    							<% end %>

    							<% end %>

    					<% end %>
    					<% else %>

    			<% end %>

    			<% if c.credit_validations.count.eql?(2)  %>
    			<% c.credit_validations.each do |cv| %>
    			<% if cv.status == "confirmed" %>
    			<span class="picture ">
    				<% @user_validator = User.find_by_id(cv.validator_id) %>
    			<a href="/users/<%= cv.validator_id %>" name="confirmed2">

    				<%= render '/users/user_validator_images'  %>
          </a>
    			</span>
    			<% end %>
    				<% if cv.status == "pending" %>

    				<span class="picture pending">
    					<% if current_user %>
    						<% if current_user.id == c.user_id  %>
    					<%= link_to credit_validation_path(cv) do %>
    				<%= image_tag '/assets/beta/placeholder-user.png' %>

    					<% end %>
    					<% else %>
              <a>
    						<%= image_tag '/assets/beta/placeholder-user.png' %>
    							<% end %>
    							<% else %>
                  <a>
    								<%= image_tag '/assets/beta/placeholder-user.png' %>
    								<% end %>

    					</a></span>
    			<% end %>


    				<% end %>
    				<% 1.times do %>

    				<% if current_user %>
    					<% if current_user.id == c.user_id  %>

    						<% else %>
    						<%= form_for(@credit_validation) do |f| %>
    							<%= f.hidden_field :credit_id, :value => "#{c.id}" %>
    							<%= f.hidden_field :user_id, :value => "#{c.user_id}" %>
    							<%= f.hidden_field :validator_id, :value => "#{current_user.id}" %>
    							<%= f.hidden_field :status, :value => "confirmed" %>

    								<% if @user.credits.count > 0 %><%= f.submit "+", :name => "one_side", :class => "submit-one-side" %><%end%>

    							<% end %>
    						<% end %>

    						<% end %>

    				<% end %>

    				<% end %>

    				<% if c.credit_validations.count.eql?(3)  %>

    				<% c.credit_validations.each do |cv| %>

    				<% if cv.status == "confirmed" %>
    				<span class="picture">
    					<% @user_validator = User.find_by_id(cv.validator_id) %>
    				<a href="/users/<%= cv.validator_id %>" name="confirmed3">

    					<%= render '/users/user_validator_images'  %>
            </a>
    				</span>
    				<% end %>
    					<% if cv.status == "pending" %>
    				<span class="picture pending">
    					<% if current_user %>
    						<% if current_user.id == c.user_id  %>
    					<%= link_to credit_validation_path(cv) do %>
    				<%= image_tag '/assets/beta/placeholder-user.png' %>

    					<% end %>
    					<% else %>
              <a>
    						<%= image_tag '/assets/beta/placeholder-user.png' %>
    							<% end %>
    							<% else %>
                  <a>
    								<%= image_tag '/assets/beta/placeholder-user.png' %>
    								<% end %>

              </a>
    					</span>

    					<% end %>


    					<% end %>


    					<% end %>

    					<% if c.credit_validations.confirmed.count > 0 and c.credit_validations.confirmed.count < 3  %>
            				<span class="fa-stack part_verified">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-check fa-stack-1x white"></i>
                            </span>
            			<% else %>
        					<% if c.credit_validations.confirmed.count > 2  %>
                				<span class="fa-stack verified">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-check fa-stack-1x white"></i>
                                </span>
                  <% else %>
                  <% if c.credit_validations.confirmed.count == 0  %>
                        <span class="fa-stack part_verified">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-question fa-stack-1x white"></i>
                                </span>
                			<% end %>
                        <% end %>
                        <% end %>


    		</div>
    		<!-- End old markup -->



            </li>
                <% end %>
            <% end %>
        </ul>

    </div>

    <% if @user.bio.present? %>
      <h2 class="grid_4"><i class="fa fa-bookmark"></i> Biography</h2>
      <p class="bio grid_7"><%= @user.bio %></p>
    <% end %>

</div> <!-- Close container_12 -->



