<div class="index">


  <!-- New Hero Area -->
  <div class="hero">

    <ul class="backgrounds">
      <li></li>
      <li></li>
      <li></li>
    </ul>

    <div class="project_slider">

      <% @featured_products.each do |product| %>
        <div>
          <div class="container_12">
            <h5><%= product.title %></h5>
            <div class="project_details" data-product-url="<%= product_url(product, anchor: 'add_credit') %>">
              <%= product_image_tag product, {size: :post}, {class: "cover_art"} %>
              <ul class="team">
                <% product.credits.limit(3).each do |credit| %>
                  <li>
                    <%= render "/shared/profile_image", user: credit.user, credit: credit %>
                    <div class="profile_info">
                      <span class="profile_name"><%= credit.name %></span>
                      <span class="profile_role"><%= credit.role %></span>
                      <%= content_tag(:p, credit.role_desc, class: "profile_description") %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>

    </div> <!-- Close project_slider -->

    <div class="container_12">

      <a href="#" id="add-credit" class="add_credit hidden">
          <i class="fa fa-plus"></i>
      </a>

      <div class="grid_8 intro">
        <h1 class="hero-h1"><span class="logotype">WhoActually</span> <span class="phrase"></span></h1>

        <p>Beyond a job title — Find out who did what on a particular game, film and more...
          Scout talent, read insider stories or claim credit for your own role.</p>

        <a href="#" class="btn"><i class="fa fa-play-circle"></i> See how it works</a>

      </div> <!-- Close grid_6 -->
    </div> <!-- Close container_12 -->

    <div class="bottom_bar">
    </div>

  </div> <!-- Close hero -->

  <!-- Video Overlay -->
  <div class="video">
    <iframe src="http://player.vimeo.com/video/70016170?byline=0&amp;portrait=0&amp;color=00cc99" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  </div>

  <div class="lists">
    <div class="container_12">
      <div class="grid_4">
        <h3>Recent Projects</h3>
        <ul>
          <% @recent_products.each do |product| %>
            <li><%= render "product_mini", product: product %></li>
          <% end %>
        </ul>
        <%= link_to "view more", recent_products_path, class: "more" %>
      </div>

      <div class="grid_4">
        <h3>Most Popular</h3>
        <ul>
          <% @popular_products.each do |product| %>
            <li><%= render "product_mini", product: product %></li>
          <% end %>
        </ul>
        <%= link_to "view more", popular_products_path, class: "more" %>
      </div>


      <div class="grid_4">
        <h3>Recent Credits</h3>
        <ul class="credits">
          <% @recent_credits.each do |credit| %>
            <li><%= render "credit_mini", credit: credit %></li>
          <% end %>
        </ul>
        <%= link_to "view more", recent_credits_path, class: "more" %>
      </div>
    </div> <!-- Close container_12 -->

  </div> <!-- Close lists -->

</div>
