<div class="index">
	

<div class="row-1">
	
<% if current_user %>
<div class="container_12 user-messages">
	<% if @unclamied_email_credits  %>

<div class= "activity-feed">
	
		<ul>
	<% @unclamied_email_credits.each do |u| %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= u.role %> <%= u.user_id %>on <%= u.product.title %></h3> <span class="right" style="margin-top:-80px;"><%= link_to "Claim Credit >", front_validate_new_email_credit_url(:credit_id => u.id), :class => "blue-btn" %> </span> </li>
	<% end %>
	
</ul> 	
<% else %>

<% end %>



<% if current_user %>
<div class="container_12 user-messages">
	<% if @pending_cv  %>

<div class= "activity-feed">
	
		<ul>
	<% @pending_cv.each do |cv| %>
	
	<% @user = User.find_by_id(cv.user_id) %>
	<% @credit = Credit.find_by_id(cv.credit_id) %>
	<% @user_validator = User.find_by_id(cv.validator_id) %>
	
	<% if @user %>
	<% if @credit %>
	<% @product = Product.find_by_id(@credit.product_id) %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= @user_validator.name %> verified you on <%= @product.title %> <span class="right" style="margin-top:-10px;"><%= link_to "Accept    ",  validate_credit_validation_path(cv), :method=>:put %> or <%= link_to '  Delete', cv, method: :delete, data: { confirm: 'Are you sure?' }, :class => "blue-link" %></span></h3> </li>
		<% end %>
		<% end %>
		<% end %>
		
	<% end %>
	
</ul> 	
<% else %>

<% end %>




	</div>
	</div>
	<% end %>
	
	<div class="container_12 row-1-content">
<% if current_user %>
	<div class="grid_3 user-list" style="margin-left:40px;">
		
		<h2>Discover The People</h2>
		<a href="/users/117">
				<img alt="Picture?type=square" src="http://graph.facebook.com/582237673/picture?type=square" />
		</a>		<a href="/users/122">
				<img alt="Picture?type=square" src="http://graph.facebook.com/728126745/picture?type=square" />
		</a>		<a href="/users/16">
				<img alt="Picture?type=square" src="http://graph.facebook.com/591301847/picture?type=square" />
		</a>		<a href="/users/47">
				<img alt="Picture?type=square" src="http://graph.facebook.com/100002368402696/picture?type=square" />
		</a>		<a href="/users/41">
				<img alt="Picture?type=square" src="http://graph.facebook.com/505075439/picture?type=square" />
		</a>		<a href="/users/74">
				<img alt="Picture?type=square" src="http://graph.facebook.com/1370075147/picture?type=square" />
		</a>		<a href="/users/12">
				<img alt="Picture?type=square" src="http://graph.facebook.com/721746576/picture?type=square" />
		</a>		<a href="/users/82">
				<img alt="Picture?type=square" src="http://graph.facebook.com/621054399/picture?type=square" />
		</a>		<a href="/users/36">
				<img alt="Picture?type=square" src="http://graph.facebook.com/530989975/picture?type=square" />
		</a>		<a href="/users/50">
				<img alt="Picture?type=square" src="http://graph.facebook.com/676336925/picture?type=square" />
		</a>		<a href="/users/55">
				<img alt="Picture?type=square" src="http://graph.facebook.com/501208313/picture?type=square" />
		</a>		<a href="/users/46">
				<img alt="Picture?type=square" src="http://graph.facebook.com/641703117/picture?type=square" />
		</a>		<a href="/users/57">
				<img alt="Picture?type=square" src="http://graph.facebook.com/100004562500469/picture?type=square" />
		</a>		<a href="/users/65">
				<img alt="Picture?type=square" src="http://graph.facebook.com/1266632801/picture?type=square" />
		</a>		<a href="/users/66">
				<img alt="Picture?type=square" src="http://graph.facebook.com/601451809/picture?type=square" />
		</a>		<a href="/users/7">
				<img alt="Picture?type=square" src="http://graph.facebook.com/523113716/picture?type=square" />
		</a>		<a href="/users/34">
				<img alt="Picture?type=square" src="http://graph.facebook.com/576171197/picture?type=square" />
		</a>		<a href="/users/52">
				<img alt="Picture?type=square" src="http://graph.facebook.com/731012573/picture?type=square" />
		</a>		<a href="/users/75">
				<img alt="Picture?type=square" src="http://graph.facebook.com/739800270/picture?type=square" />
		</a>		<a href="/users/51">
				<img alt="Picture?type=square" src="http://graph.facebook.com/829180178/picture?type=square" />
		</a>		<a href="/users/64">
				<img alt="Picture?type=square" src="http://graph.facebook.com/1187252389/picture?type=square" />
		</a>		<a href="/users/335">
				<img alt="Picture?type=square" src="http://graph.facebook.com/681482833/picture?type=square" />
		</a>		<a href="/users/323">
				<img alt="Picture?type=square" src="http://graph.facebook.com/623153799/picture?type=square" />
		</a>		<a href="/users/27">
				<img alt="Picture?type=square" src="http://graph.facebook.com/790025738/picture?type=square" />
		</a>		<a href="/users/67">
				<img alt="Picture?type=square" src="http://graph.facebook.com/587492525/picture?type=square" />
		</a>		<a href="/users/26">
				<img alt="Picture?type=square" src="http://graph.facebook.com/574081003/picture?type=square" />
		</a>		<a href="/users/161">
				<img alt="Picture?type=square" src="http://graph.facebook.com/664283504/picture?type=square" />
		</a>		<a href="/users/73">
				<img alt="Picture?type=square" src="http://graph.facebook.com/574036420/picture?type=square" />
		</a>		<a href="/users/165">
				<img alt="Picture?type=square" src="http://graph.facebook.com/1642161894/picture?type=square" />
		</a>		<a href="/users/21">
				<img alt="Picture?type=square" src="http://graph.facebook.com/671364007/picture?type=square" />
		</a>		<a href="/users/344">
				<img alt="Picture?type=square" src="http://graph.facebook.com/791543046/picture?type=square" />
		</a>		<a href="/users/60">
				<img alt="Picture?type=square" src="http://graph.facebook.com/1031855671/picture?type=square" />
		</a>		<a href="/users/78">
				<img alt="Picture?type=square" src="http://graph.facebook.com/638106745/picture?type=square" />
		</a>		<a href="/users/295">
				<img alt="Picture?type=square" src="http://graph.facebook.com/630395360/picture?type=square" />
		</a>		<a href="/users/340">
				<img alt="Picture?type=square" src="http://graph.facebook.com/723174672/picture?type=square" />
		</a>		<a href="/users/58">
				<img alt="Picture?type=square" src="http://graph.facebook.com/587892964/picture?type=square" />
		</a>		<a href="/users/38">
				<img alt="Picture?type=square" src="http://graph.facebook.com/647595898/picture?type=square" />
		</a>		<a href="/users/281">
				<img alt="Picture?type=square" src="http://graph.facebook.com/821512537/picture?type=square" />
		</a>		<a href="/users/19">
				<img alt="Picture?type=square" src="http://graph.facebook.com/608011227/picture?type=square" />
		</a>		<a href="/users/277">
				<img alt="Picture?type=square" src="http://graph.facebook.com/1128573694/picture?type=square" />
		</a>		<a href="/users/327">
				<img alt="Picture?type=square" src="http://graph.facebook.com/500826494/picture?type=square" />
		</a>		<a href="/users/31">
				<img alt="Picture?type=square" src="http://graph.facebook.com/541004825/picture?type=square" />
		</a>		<a href="/users/342">
				<img alt="Picture?type=square" src="http://graph.facebook.com/605501755/picture?type=square" />
		</a>		<a href="/users/9">
				<img alt="Picture?type=square" src="http://graph.facebook.com/596327656/picture?type=square" />
		</a>		<a href="/users/11">
				<img alt="Picture?type=square" src="http://graph.facebook.com/744843122/picture?type=square" />
		</a>	
	</div>
	
	<div class="grid_5 user-list-middle">
		
		<h2>Featured</h2>
		<a href="/products/1195">
		<img src="http://i.imgur.com/8heZhND.png" width=235px>
		</a>
	</div>
	
	<div class="grid_3 user-list">
		<h2>Discover Their Work</h2>
		<a href="/products/960">
				<img alt="Thumb_download__3_" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/960/thumb_download__3_.jpeg" />
		</a>		<a href="/products/1175">
				<img alt="Thumb_tak" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1175/thumb_tak.jpg" />
		</a>		<a href="/products/957">
				<img alt="Thumb_download__6_" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/957/thumb_download__6_.jpeg" />
		</a>		<a href="/products/1171">
				<img alt="Thumb_001" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1171/thumb_001.jpg" />
		</a>		<a href="/products/1002">
				<img alt="Thumb_new_international_track___field" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1002/thumb_New_International_Track___Field.jpg" />
		</a>		<a href="/products/196">
				<img alt="Thumb_theme_hospital" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/196/thumb_Theme_Hospital.jpg" />
		</a>		<a href="/products/7">
				<img alt="Thumb_avp" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/7/thumb_avp.jpg" />
		</a>		<a href="/products/1154">
				<img alt="Thumb_252px-star_wars_battlefront_-_renegade_squadron_coverart" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1154/thumb_252px-Star_Wars_Battlefront_-_Renegade_Squadron_Coverart.png" />
		</a>		<a href="/products/1075">
				<img alt="Thumb_rubicon-amiga" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1075/thumb_Rubicon-Amiga.jpg" />
		</a>		<a href="/products/1201">
				<img alt="Thumb_dinki1januarycover" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1201/thumb_Dinki1JanuaryCover.png" />
		</a>		<a href="/products/178">
				<img alt="Thumb_team_apache" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/178/thumb_Team_Apache.jpg" />
		</a>		<a href="/products/1204">
				<img alt="Thumb_splash_test" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1204/thumb_splash_test.png" />
		</a>		<a href="/products/1195">
				<img alt="Thumb_nnt" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1195/thumb_nnt.jpg" />
		</a>		<a href="/products/1182">
				<img alt="Thumb_made_man" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1182/thumb_made_man.jpg" />
		</a>		<a href="/products/1241">
				<img alt="Thumb_soul_bubbles" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1241/thumb_Soul_Bubbles.jpg" />
		</a>		<a href="/products/277">
				<img alt="Thumb_battlestations-_pacific" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/277/thumb_Battlestations-_Pacific.jpg" />
		</a>		<a href="/products/1237">
				<img alt="Thumb_fortyfivecover" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1237/thumb_fortyfivecover.jpg" />
		</a>		<a href="/products/1155">
				<img alt="Thumb_indy" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1155/thumb_Indy.jpg" />
		</a>		<a href="/products/1017">
				<img alt="Thumb_virtua_tennis-_world_tour" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1017/thumb_Virtua_Tennis-_World_Tour.jpg" />
		</a>		<a href="/products/146">
				<img alt="Thumb_singstar_anthems" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/146/thumb_SingStar_Anthems.jpg" />
		</a>		<a href="/products/950">
				<img alt="Thumb_download" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/950/thumb_download.jpeg" />
		</a>		<a href="/products/1179">
				<img alt="Thumb_jvr" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1179/thumb_jvr.jpg" />
		</a>		<a href="/products/1225">
				<img alt="Thumb_armalyte" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1225/thumb_Armalyte.jpg" />
		</a>		<a href="/products/15">
				<img alt="Thumb_battle_engine_aquila_" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/15/thumb_Battle_Engine_Aquila_.jpg" />
		</a>		<a href="/products/206">
				<img alt="Thumb_urban_chaos" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/206/thumb_Urban_Chaos.jpg" />
		</a>		<a href="/products/1087">
				<img alt="Thumb_bunnyreaper" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1087/thumb_BunnyReaper.jpg" />
		</a>		<a href="/products/951">
				<img alt="Thumb_images" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/951/thumb_images.jpeg" />
		</a>		<a href="/products/1085">
				<img alt="Thumb_islandgolf" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1085/thumb_IslandGolf.jpg" />
		</a>		<a href="/products/995">
				<img alt="Thumb_driver__76" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/995/thumb_Driver__76.jpg" />
		</a>		<a href="/products/27">
				<img alt="Thumb_casino_royale" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/27/thumb_casino_royale.jpg" />
		</a>		<a href="/products/1228">
				<img alt="Thumb_mayhemlogo" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1228/thumb_MayhemLogo.jpg" />
		</a>		<a href="/products/1165">
				<img alt="Thumb__12093549796646" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1165/thumb__12093549796646.jpg" />
		</a>		<a href="/products/1240">
				<img alt="Thumb_nb-box" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1240/thumb_nb-box.jpg" />
		</a>		<a href="/products/1181">
				<img alt="Thumb_pacman" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1181/thumb_pacman.jpg" />
		</a>		<a href="/products/1015">
				<img alt="Thumb_virtua_tennis_2009" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1015/thumb_Virtua_Tennis_2009.jpg" />
		</a>		<a href="/products/147">
				<img alt="Thumb_singstar_legends" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/147/thumb_singstar_legends.jpg" />
		</a>		<a href="/products/1070">
				<img alt="Thumb_music_cover" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1070/thumb_music_cover.jpg" />
		</a>		<a href="/products/49">
				<img alt="Thumb_dungeons___dragons_tactics" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/49/thumb_Dungeons___Dragons_Tactics.jpg" />
		</a>		<a href="/products/1164">
				<img alt="Thumb_rochard_poster_by_recoilgames-d4gjard" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1164/thumb_rochard_poster_by_recoilgames-d4gjard.jpg" />
		</a>		<a href="/products/967">
				<img alt="Thumb_1317818-hvem_vil_v_re_million_r_cover" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/967/thumb_1317818-hvem_vil_v_re_million_r_cover.jpg" />
		</a>		<a href="/products/53">
				<img alt="Thumb_eyetoy-_play_3" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/53/thumb_EyeToy-_Play_3.jpg" />
		</a>		<a href="/products/100">
				<img alt="Thumb_microsoft_train_sim" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/100/thumb_microsoft_train_sim.jpg" />
		</a>		<a href="/products/970">
				<img alt="Thumb_c64f13titlepng" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/970/thumb_c64f13titlepng.png" />
		</a>		<a href="/products/79">
				<img alt="Thumb_square_wa_icon" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/79/thumb_Square_WA_Icon.jpg" />
		</a>		<a href="/products/148">
				<img alt="Thumb_singstar_rocks" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/148/thumb_singstar_rocks.jpg" />
		</a>		<a href="/products/1013">
				<img alt="Thumb_toca_race_driver_2" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1013/thumb_TOCA_Race_Driver_2.jpg" />
		</a>		<a href="/products/1144">
				<img alt="Thumb_quarrel-by-denki-logo" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1144/thumb_Quarrel-by-denki-logo.png" />
		</a>		<a href="/products/214">
				<img alt="Thumb_world_war_ii-_prisoner_of_war" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/214/thumb_World_War_II-_Prisoner_of_War.jpg" />
		</a>		<a href="/products/954">
				<img alt="Thumb_download__2_" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/954/thumb_download__2_.jpeg" />
		</a>		<a href="/products/225">
				<img alt="Thumb_you_re_in_the_movies" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/225/thumb_You_re_in_the_Movies.jpg" />
		</a>		<a href="/products/991">
				<img alt="Thumb_doctor_who-_city_of_the_daleks" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/991/thumb_Doctor_Who-_City_of_the_Daleks.jpg" />
		</a>		<a href="/products/14">
				<img alt="Thumb_battalion_wars" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/14/thumb_Battalion_Wars.jpg" />
		</a>		<a href="/products/1125">
				<img alt="Thumb_933684_78267_front" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1125/thumb_933684_78267_front.jpg" />
		</a>		<a href="/products/1210">
				<img alt="Thumb_mobileamusements" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/1210/thumb_MobileAmusements.jpg" />
		</a>		<a href="/products/946">
				<img alt="Thumb_264983484" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/946/thumb_264983484.jpg" />
		</a>		<a href="/products/964">
				<img alt="Thumb_my_sea_park" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/964/thumb_my_sea_park.jpg" />
		</a>	
	</div>
	
	
	<% else %>
	
		<h1>Who actually makes all the films, games, TV shows, videos, music, design, artwork, websites, comics and other cool stuff you love?</h1>
		<p>Whether you're in the business or a fan, or both, get the insider stories behind the work, from the people who actually make it all happen.</p>
		
		
				
		<iframe src="http://player.vimeo.com/video/70016170?byline=0&amp;portrait=0&amp;color=ff0179" width="624" height="351" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		
			<% end %>
	</div>	
	
</div>	

<% if current_user %>
<% else %>
<div class="row-2">
	<div class="container_12 row-2-content">
		<h1>Sign-up or sign-in to WhoActually</h1>
	
		<p>We need to validate your identity so you can claim the creative credits you deserve.</p>

	<p>We will NEVER post anything or contact any of your friends without permission. We'll only use your profile picture (which you can change) and the email address registered to that account to communicate with you.</p>
		<div class="signin">
			<div class="grid_3 push_1">
			 <%= link_to "Sign in With Facebook", "/auth/facebook", id: "facebook" %>
			
			
			 </div>
		</div>	
		
		<div class="grid_2 push_2 or">
			<%= image_tag '/assets/beta/or-circle.png' %>
		</div>	
		<div class="signin">
			<div class="grid_3 push_2">
			
			 <%= link_to "Sign in with LinkedIn", "/auth/linkedin", id: "linkedin" %>
		
			 </div>
		</div>	
	</div>
	<div class="container_12">
		<p>By creating your WhoActually account you agree to our <a>Terms of Use</a> and  <a>Privacy Policy</a></p>
</div>
</div>
<% end %>


<div class="row-3">
	<div class="container_12 slider">
		<h2>Featured Members</h2>
	<% @featured_users.each do |fu| %>
	<% if fu.provider == "facebook" %>
	<%= link_to user_path(fu.id) do %><img src="http://graph.facebook.com/<%= fu.uid%>/picture?type=large"><% end %>
	<% else %>
		<%= link_to user_path(fu.id) do %><%= image_tag fu.picture %><% end  %>
	<% end %>
	<% end %>
	
	</div>	
	
	<div class="container_12 charts">
		<div class="grid_4 push_1 popular">
			<div class="selected">
				Popular Works
			</div>
			
			<ul>
				<li>
							<img alt="1346776228-0020131011-2-1jdxgmh" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2306/1346776228-0020131011-2-1jdxgmh.jpg" />		
								<div class="title">
									<a href="/products/2306">Adventures of Robinson Crusoe</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="1213142806-0020131011-2-ghg583" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2301/1213142806-0020131011-2-ghg583.jpg" />		
								<div class="title">
									<a href="/products/2301">The Adventures of Pinocchio</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="1280678768-0020131011-2-5xs0h8" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2298/1280678768-0020131011-2-5xs0h8.jpg" />		
								<div class="title">
									<a href="/products/2298">The Adventures of Mr. Pratt</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="1267953713-0020131011-2-evcab8" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2303/1267953713-0020131011-2-evcab8.jpg" />		
								<div class="title">
									<a href="/products/2303">The Adventures of Rad Gravity</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="Assets" src="/assets/" />		
								<div class="title">
									<a href="/products/3598">Apocalypse</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="1303176998-0020131011-2-1kyepzv" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2297/1303176998-0020131011-2-1kyepzv.jpg" />		
								<div class="title">
									<a href="/products/2297">The Adventures of Mighty Max</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="1313401185-0020131011-2-1sq7i76" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2315/1313401185-0020131011-2-1sq7i76.jpg" />		
								<div class="title">
									<a href="/products/2315">The Adventures of St. Bernard</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
								<li>
							<img alt="1282626834-0020131011-2-11f5cp1" src="https://s3.amazonaws.com/d3-US/afcf/uploads/product/image/2309/1282626834-0020131011-2-11f5cp1.jpg" />		
								<div class="title">
									<a href="/products/2309">The Adventures of Rocky and Bull...</a>
								</div>
				
								<div class="sats">
			
								</div>	
					
								</li>
				</ul>	
		</div>	
		
		<div class="grid_4 push_2 popular">
					<div class="selected">
						Recent Credits
					</div>
					
					<ul>
						<li>
											<img alt="Picture?type=square" src="http://graph.facebook.com/641703117/picture?type=square" />		
												<div class="title">
													<a href="/users/46">Tom Barker</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/473">Front Mission Evolved</a>
												</div>	
					
												</li>
												<li>
											<img alt="Picture?type=square" src="http://graph.facebook.com/676336925/picture?type=square" />		
												<div class="title">
													<a href="/users/50">Mark Potente</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/1064">Slient Service</a>
												</div>	
					
												</li>
						
												<li>
											<img alt="Picture?type=square" src="http://graph.facebook.com/651913267/picture?type=square" />		
												<div class="title">
													<a href="/users/5">Ed Daly</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/953">Dancing with the Stars: We ...</a>
												</div>	
					
												</li>
												<li>
											<img alt="0_jhxb8k4porsu9wfzjgze86exeud29aqzucwh8fd_vjjpdel4v67uabgskns1vdbn4igw78cfztil" src="http://m.c.lnkd.licdn.com/mpr/mprx/0_JhxB8k4poRsu9wFZJGZe86exEUD29aQZUCwH8Fd_vjJpdEl4v67UabgSknS1vdbN4igW78cFZTIl" />		
												<div class="title">
													<a href="/users/324">Mick Morris</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/1208">DMC Devil May Cry </a>
												</div>	
					
												</li>
												<li>
											<img alt="Picture?type=square" src="http://graph.facebook.com/681482833/picture?type=square" />		
												<div class="title">
													<a href="/users/335">Dan Phillips</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/1225">Armalyte</a>
												</div>	
					
												</li>
												<li>
											<img alt="Picture?type=square" src="http://graph.facebook.com/100003735187441/picture?type=square" />		
												<div class="title">
													<a href="/users/320">Laurence Seidler</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/1205">Tradesman&#x27;s Entrance</a>
												</div>	
					
												</li>
												<li>
											<img alt="0_66vqgusawkjmvdqhqtebga0_itmbsmqhx3awgfy-qlsb5ol8eho417hplvjejwb2fl4otemqqeff" src="http://m.c.lnkd.licdn.com/mpr/mprx/0_66VqgusawKjMVDQhQTebga0_ItMBsmQhX3awgfy-qlSb5ol8Eho417HpLVJeJWb2FL4otemqQEff" />		
												<div class="title">
													<a href="/users/177">Jim Mummery</a>
												</div>
				
												<div class="sats">
												<strong>Work:</strong> <a href="/products/968">Strike Suit Zero</a>
												</div>	
					
												</li>
						</ul>	
				</div>	
		
	</div>	
</div>
	


</div>