<div class="index">
	

<div class="row-1">
	
<% if current_user %>
<div class="container_12 user-messages">
<% if @unclamied_email_credits  %>
<div class= "activity-feed">
	
		<ul>
	<% @unclamied_email_credits.each do |u| %>
		<li class="<%= cycle('even', 'odd') -%>"><h3><%= u.role %> <%= u.user_id %>on <%= u.product.title %></h3> <span class="right" style="margin-top:-80px;"><%= link_to "Claim Credit >", front_validate_new_email_credit_url(:credit_id => u.id), :class => "blue-btn" %> </span> </li>
	<% end %>
	
</ul> 	
	<% else %>
	
<% end %>

	</div>
	<% end %>
	<div class="container_12 row-1-content">
<% if current_user %>
	<div class="grid_3 user-list">
		
		<h2>Discover The People</h2>
		<% @users.each do |fu| %>
		<%= link_to user_path(fu.id) do %>
		<%= image_tag fu.profile_picture %>
		<% end %>
		<% end %>
	</div>
	
	<div class="grid_5 user-list-featured" style="margin-top:-50px;">
		
		<h2>Featured</h2>
		<a href="/products/1195">
		<img src="http://i.imgur.com/9TKZfwj.jpg" width=300px>
		</a>
	</div>
	
	<div class="grid_3 user-list">
		<h2>Discover Their Work</h2>
		<% @works.each do |w| %>
		<% if w.image.blank? %>
		<% else %>
		<%= link_to product_path(w.id) do %>
		<%= image_tag w.image.thumb %>
		<% end %>
		<% end %>
		<% end %>
	</div>
	
	
	<% else %>
	
		<h1>Who actually makes all the films, games, TV shows, videos, music, design, artwork, websites, comics and other cool stuff you love? </h1>
		<p>Knowing the folks behind the scenes means having the inside track. So get to know the creators who made your favourite things and see what they have to say about everything from their working experiences and their current projects to their own personal favourite media. You'll meet new friends, find new cool stuff and connect with the real movers and shakers. You'll learn more direct from the horse's mouth than from anywhere else on the web.</p>
		
		
				
		<iframe src="http://player.vimeo.com/video/70016170?byline=0&amp;portrait=0&amp;color=ff0179" width="624" height="351" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		
			<% end %>
	</div>	
	
</div>	

<% if current_user %>
<% else %>
<div class="row-2">
	<div class="container_12 row-2-content">
		<h1>Sign up or into WhoActually</h1>
	
		<p> We need to validate your identity so you can begin to claim the creative credits you feel you deserve and connecting with the fans who love them.</p>

	<p>We will NEVER post anything without your consent or contact any of your friends. We hate that just as much as you do. We'll only use your profile picture (which you can change) and the email address registered to that account to communicate with you. </p>
		<div class="signin">
			<div class="grid_3 push_1">
			 <%= link_to "Sign in With Facebook", "/auth/facebook", id: "facebook" %>
			
			
			 </div>
		</div>	
		
		<div class="grid_2 push_2 or">
			<%= image_tag '/assets/beta/or-circle.png' %>
		</div>	
		<div class="signin">
			<div class="grid_3 push_2">
			
			 <%= link_to "Sign in with LinkedIn", "/auth/linkedin", id: "linkedin" %>
		
			 </div>
		</div>	
	</div>
	<div class="container_12">
		<p>By creating your WhoActually account you agree to our <a>Terms of Use</a> and  <a>Privacy Policy</a></p>
</div>
</div>
<% end %>


<div class="row-3">
	<div class="container_12 slider">
		<h2>Featured Members</h2>
	<% @featured_users.each do |fu| %>
	<% if fu.provider == "facebook" %>
	<%= link_to user_path(fu.id) do %><img src="http://graph.facebook.com/<%= fu.uid%>/picture?type=large"><% end %>
	<% else %>
		<%= link_to user_path(fu.id) do %><%= image_tag fu.picture %><% end  %>
	<% end %>
	<% end %>
	
	</div>	
	
	<div class="container_12 charts">
		<div class="grid_4 push_1 popular">
			<div class="selected">
				Popular Works
			</div>
			<div class="tab">
				Popular Users
			</div>
			<ul>
			<% @popular_works.each do |pw| %>
				<li>
			<%= image_tag pw.image %>		
				<div class="title">
					<%= link_to pw.title, product_path(pw) %>
				</div>
				
				<div class="sats">
			
				</div>	
					
				</li>
			<% end %>	
				</ul>	
		</div>	
		
		<div class="grid_4 push_2 popular">
					<div class="selected">
						Recent Credits
					</div>
					<div class="tab">
						Popular Users
					</div>
					<ul>
					<% @recent_credits.each do |c| %>
						<% if c.user_id %>
						<% @user = User.find_by_id(c.user_id) %>
						<li>
					<%= image_tag @user.profile_picture %>		
						<div class="title">
							<%= link_to @user.name, user_path(c.user_id) %>
						</div>
				
						<div class="sats">
						<strong>Work:</strong> <%= link_to c.product.title, product_path(c.product.id) %>
						</div>	
					
						</li>
						<% else %>
						
						<% end %>
					<% end %>	
						</ul>	
				</div>	
		
	</div>	
</div>
	


</div>