<div class="container_12 user-page">
	<div class="grid_9 alpha user-container">





<div class="user-info-panel">
	
	<div class="grid_3 profile-picture">
		<% if @user.picture.blank? %>

		<% if @user.provider == "facebook" %>		
	<img src="http://graph.facebook.com/<%= @user.uid%>/picture?type=large"><br />
		<% end %>
		<% if @user.provider == "linkedin" %>		
	<%= image_tag @user.profile_picture %><br />
		<% end %>
		<% else %>
		<%= image_tag @user.picture %>
		<% end %>
		
	</div>
	
	
	<div class="grid_3 stats">
		<div class="stats">
			<p class="credit-count">14</p>
			<p class="credits">Credits</p>
				<div class="verified-count">
					<p class="verified-credits">10</p>
					<p class="verifed">Verified</p>
				</div>
					<div class="images">
						<p class="verified-credits">10</p>
						<p class="verifed">Videos</p>
					</div>
						<div class="videos">
							<p class="verified-credits">10</p>
							<p class="verifed">Images</p>
						</div>
		</div>
	</div>
	
	<div class="grid_2 analytics">
		<div class="followers">
			<div class="data">
				11
			</div>
			<div class="title">
				Followers
			</div>	
			</div>
			
			<div class="likes">
				<div class="data">
					11
				</div>
				<div class="title">
					Likes
				</div>	
				</div>
				
				
				<div class="shared">
					<div class="data">
						11
					</div>
					<div class="title">
						Shared
					</div>	
				</div>
					
					
					<div class="views">
						<div class="data">
							11
						</div>
						<div class="title">
							Views
						</div>	
					</div>			
					
	
	 </div>
	 
	<div class="description">
		<div class="name">
			<%= @user.name %>
		</div>
	
		<a href="#" class="blue-btn">Follow <%= image_tag '/assets/beta/follow.png' %></a>
	
		<div class="info">
			<p class="url"><%= @user.link %></p>
		
		</div>	
		
		<div class="bio">
			<%= @user.bio %>
		</div>	
			
		
			
		
	
	</div>
		
	
</div>	

<ul id="tabs">
		    <li><a href="#" name="tab1">Overview</a></li>
    		<li><a href="#" name="tab2">Tech Specs</a></li>
			<li><a href="#" name="tab3	">Performance</a></li>
			<li><a href="#" name="tab4">Compare</a></li>
			<li><a href="#" name="tab5">Downloads</a></li>
    		<li><a href="#" name="tab6">Get d3</a></li>   
		</ul>	
		
		

<div class="credits">
	
	<% @credits.each do |c| %>
	<div class="credit-item">
		<% if c.user %>
	<%= image_tag c.product.image, :width => "50" %>	 
	<div class="user-name">
	<%= link_to c.product.title, product_path(c.product) %>
	</div>
	
	<div class="user-details">
		<p class="title">Credits</p><p class="data"><%= c.user.credits_count %></p>
		<p class="title">Followers</p><p class="data">5</p>
	</div>
	
	<div class="more-detail">
		<p class="role"><%= c.role %></p>
		<p class="role-description"><%= c.role_desc %></p>
	</div>
	
	
	<script type="text/javascript">
 
	$(document).ready(function(){
 
	        $(".slidingDiv_interesting_fact_<%= c.id %>").hide();
	        $(".show_hide_interesting_fact_<%= c.id %>").show();
 
	    $('.show_hide_interesting_fact_<%= c.id %>').click(function(){
	    $(".slidingDiv_interesting_fact_<%= c.id %>").slideToggle();
	    });
 
	});
 
	</script>

	
	<div class="interesting_fact">
		<a href"#" class="show_hide_interesting_fact_<%= c.id %>">View Interesting Fact</a>
	</div>
	
	
	
	<div class="validation-info">
	<p class="cv-count">
	<% if c.confirmed_validations_count > 2 %>
	<%= image_tag '/assets/beta/tick.png' %>
	<% else %>	
		<%= c.confirmed_validations_count %>/3</p><br />
		
	<% end %>	
	<p class="validation-status">
		<% if c.confirmed_validations_count > 2  %>
		Verified</p>
		<% else %>
		Partly Verified
		<% end %>
	
	
<div class="head-shots">
		<% if c.credit_validations.empty? %>
			<% 3.times do %>
			<a class="show_hide_validate_partial_<%= c.id.to_i %>">
			<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% else %>
				<%= image_tag '/assets/question.png' %>
				<% end %>
			</span>
			</a>
			<% end %>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
		
					<% end %> <% end %>
			<% else %>

		<% end %>
	
		
	
					<% if c.credit_validations.count.eql?(1) %>
					<span class="tick-text" style="">Who will actually vouch for me: </span><br />
		<% c.credit_validations.each do |cv| %>
		<% if cv.status == "confirmed" %>
		<span class="picture">
			<% @user = User.find_by_id(cv.validator_id) %>
		<a href="/users/<%= cv.validator_id %>" name="confirmed1"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
		</span>
	
		<% end %>
			<% if cv.status == "pending" %>
			<span class="picture">
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
				<%= link_to credit_validation_path(cv) do %>
			<%= image_tag '/assets/pending.png' %>
	
				<% end %>
				<% else %>
					<%= image_tag '/assets/pending.png' %>
						<% end %>
						<% else %>
							<%= image_tag '/assets/pending.png' %>
							<% end %>
			
				</span>
		
		
		
	
			<% end %>
			<% 2.times do %>
			<a class="show_hide_validate_partial_<%= c.id %>">
			<span class="picture">
			<% if current_user %>	
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% end %>
			
				
			</span>
			</a>
			<% end %>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
		
					<% end %> <% end %>
			<% end %>
			<% else %>
	
	<% end %>

	<% if c.credit_validations.count.eql?(2)  %>
	<% c.credit_validations.each do |cv| %>
	<% if cv.status == "confirmed" %>
	<span class="picture">
		<% @user = User.find_by_id(cv.validator_id) %>
	<a href="/users/<%= cv.validator_id %> "name="confirmed2"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>

	</span>
	<% end %>
		<% if cv.status == "pending" %>
	
		<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
	
			</span>
	<% end %>

		
		<% end %>
		<% 1.times do %>
		<a class="show_hide_validate_partial_<%= c.id %>">
			<span class="picture">
			<% if current_user %>	
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% end %>
			</span>
	
		</a>
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
	
				<% end %> <% end %>
		<% end %>
	
		<% end %>
	
		<% if c.credit_validations.count.eql?(3)  %>
		<% c.credit_validations.each do |cv| %>
	
		<% if cv.status == "confirmed" %>
		<span class="picture">
			<% @user = User.find_by_id(cv.validator_id) %>
		<a href="/users/<%= cv.validator_id %>" name="confirmed3"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
		</span>
		<% end %>
			<% if cv.status == "pending" %>
		<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
		
			</span>
		
			<% end %>

		
			<% end %>
	
	
			<% end %>
	
	
	
</div>	
	
	
	
	
	
	
	
	
	</div>
	
		<% end %>
	</div>
		
		<div class="slidingDiv_interesting_fact_<%= c.id %>" id="interesting_fact">
			<h3>Interesting Fact:</h3>
				 <% if current_user %>			
<% if current_user.id == c.user_id %><%= link_to "(edit)", edit_credit_path(:id => c) %> <% end %> <% end %>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://alpha.whoactually.com/products/<%=  c.product.id %>" data-text="<%= c.fact %>">Tweet this fact</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</h3><p><%= c.fact %></p>



<% if c.product.status == "In Development" or c.product.status == "Live and Ongoing"  %>	


<h3>Updates:</h3>
	  <% @posts = Post.where(:credit_id => c.id).order("created_at desc").limit(4) %>
<% if current_user %>			
	<% if current_user.id == c.user_id %>	
			<%= form_for(@post) do |f| %>
			  <% if @post.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

			      <ul>
			      <% @post.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			  <div class="field">
			    <%= f.label :post_an_update %><br />
			    <%= f.text_area :body, :rows => "5" %>
				<%= f.hidden_field :credit_id, :value => c.id %>
			  </div>
			  <div class="actions">
			    <%= f.submit "Add update", :class => "blue-link" %>
			 
					<% end %>
				<% end %>	
			<% end %>
		<% end %>
		</div>	
	<% end %>
	
</div>

	
</div>



<div class="grid_3 activity-feed">

	<h3>Recent Activity</h3>
	
<% for friendship in current_user.friendships%>
<% @friend_credits = Credit.where(:user_id => friendship.friend.id).limit(4) %>
<% @friend_credits.each do |fc| %>
<div class="following-item">

	<div class="profile-picture">
		<%= image_tag friendship.friend.profile_picture %>
	</div>
	
	<div class="name">
	<%= link_to user_path(friendship.friend.id) do %><%= friendship.friend.name %><% end %>
	</div>
	<div class="stats">
	<p>Credits</p> <div class="data">
	 <%= friendship.friend.credits_count %>
	</div>
	</div>	
<div class="role">
		<%= fc.role %>
	</div>
	<div class="product-title">
	<%= fc.product.title %>
	</div>
</div>
<% end %>
<% end %>



  <% for user in current_user.inverse_friends %>
<%= link_to user_path(user.id) do %><%=h user.name %><% end %><br />
  <% end %>



		
</div>

</div>


