<div class="container_12 work-page">
	<div class="grid_9 work-container">


<div class="work-info-panel">
	<div class="title">
		<%= @product.title %>
	</div>
	<div class="genre">
	<% if @product.product_genre %><p><%= @product.product_genre.name %><%end%>
	</div>	
	
	<div id="slides">	
			<% if @product.image.blank? %>
		<div class="slides">
			<%= image_tag 'default-small.png'%>
		</div>	
		<%else%>
		<div class="slides">
			<%= image_tag @product.image.small %>
		</div>	
		<%end%>
		<% if @product.image_2 %>
		<div class="slides">	
		<%= image_tag @product.image_2.small %>
		</div>

		<% end %>

		<% if @product.image_3 %>
		<div class="slides">
		<%= image_tag @product.image_3.small %>
		</div>
		<% end %>
	</div>	

	<div class="stats">
		<p class="credit-count">14</p>
		<p class="credits">Credits</p>
			<div class="verified-count">
				<p class="verified-credits">10</p>
				<p class="verifed">Validated</p>
			</div>
				<div class="images">
					<p class="verified-credits">10</p>
					<p class="verifed">Videos</p>
				</div>
					<div class="videos">
						<p class="verified-credits">10</p>
						<p class="verifed">Images</p>
					</div>
	</div>


	<div class="description-containter">
		<div class="analytics">
			<div class="followers">
				<div class="data">
					11
				</div>
				<div class="title">
					Followers
				</div>	
				</div>
				
				<div class="likes">
					<div class="data">
						11
					</div>
					<div class="title">
						Likes
					</div>	
					</div>
					
					
					<div class="shared">
						<div class="data">
							11
						</div>
						<div class="title">
							Shared
						</div>	
					</div>
						
						
						<div class="views">
							<div class="data">
								11
							</div>
							<div class="title">
								Views
							</div>	
						</div>		
		</div>
		
		<div class="description">
			<div class="details">
				<p class="description-title">Date added</p><p class="data"><%= @product.created_at.strftime("%Y") %></p>
				<p class="description-title">Added By</p><p class="data"><%= @product.user.name %></p><br /><br />
				<p class="description-title">Developer</p><p class="data"><%= @product.studio %></p>
				<p class="description-title">Status</p><p class="data"><%= @product.status %></p>
		
			</div>
			
			<p class="description-text"><%= @product.description %></p>	
			
		</div>
		<div class="actions">
		<a href="#" class="blue-btn">Like <%= image_tag '/assets/beta/like.png' %></a>
		<a href="#" class="blue-btn">Follow Work <%= image_tag '/assets/beta/follow.png' %></a>
		</div>
	</div>	
	</div>	
<div class="credits">

	<div class="actions">
		<a href="#" class="blue-btn-border">Add Credit <%= image_tag '/assets/beta/like.png' %></a>
		<div class="sort">
		<select onchange="if (this.value) window.location.href=this.value">
			    <option value="1">Sort by..</option>
			    <option value="/products/<%= @product.id %>?sort=created_at desc">Most Recent</option>
			    <option value="/products/<%= @product.id %>?sort=verified">Verified</option>
			</select>
		</div>	
	</div>
	<% @credits.each do |c| %>
	<div class="credit-item">
		<% if c.user %>
	<%= image_tag c.user.profile_picture, :width => "50" %>	 
	<div class="user-name">
	<%= link_to c.user.name, user_path(c.user) %>
	</div>
	
	<div class="user-details">
		<p class="title">Credits</p><p class="data"><%= c.user.credits_count %></p>
		<p class="title">Followers</p><p class="data">5</p>
	</div>
	
	<div class="more-detail">
		<p class="role"><%= c.role %></p>
		<p class="role-description"><%= c.role_desc %></p>
	</div>
	
	<a href"#" class="blue-btn-border-large">View Interesting Fact</a>
		
	
	
	
	<div class="validation-info">
	<p class="cv-count">
	<% if c.confirmed_validations_count > 2 %>
	<%= image_tag '/assets/beta/tick.png' %>
	<% else %>	
		<%= c.confirmed_validations_count %>/3</p><br />
		
	<% end %>	
	<p class="validation-status">
		<% if c.confirmed_validations_count > 2  %>
		Verfied</p>
		<% else %>
		Partly Verified
		<% end %>
	
	
<div class="head-shots">
		<% if c.credit_validations.empty? %>
			<% 3.times do %>
			<a class="show_hide_validate_partial_<%= c.id.to_i %>">
			<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% else %>
				<%= image_tag '/assets/question.png' %>
				<% end %>
			</span>
			</a>
			<% end %>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
		
					<% end %> <% end %>
			<% else %>

		<% end %>
	
		
	
					<% if c.credit_validations.count.eql?(1) %>
					<span class="tick-text" style="">Who will actually vouch for me: </span><br />
		<% c.credit_validations.each do |cv| %>
		<% if cv.status == "confirmed" %>
		<span class="picture">
			<% @user = User.find_by_id(cv.validator_id) %>
		<a href="/users/<%= cv.validator_id %>" name="confirmed1"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
		</span>
	
		<% end %>
			<% if cv.status == "pending" %>
			<span class="picture">
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
				<%= link_to credit_validation_path(cv) do %>
			<%= image_tag '/assets/pending.png' %>
	
				<% end %>
				<% else %>
					<%= image_tag '/assets/pending.png' %>
						<% end %>
						<% else %>
							<%= image_tag '/assets/pending.png' %>
							<% end %>
			
				</span>
		
		
		
	
			<% end %>
			<% 2.times do %>
			<a class="show_hide_validate_partial_<%= c.id %>">
			<span class="picture">
			<% if current_user %>	
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% end %>
			
				
			</span>
			</a>
			<% end %>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
		
					<% end %> <% end %>
			<% end %>
			<% else %>
	
	<% end %>

	<% if c.credit_validations.count.eql?(2)  %>
	<% c.credit_validations.each do |cv| %>
	<% if cv.status == "confirmed" %>
	<span class="picture">
		<% @user = User.find_by_id(cv.validator_id) %>
	<a href="/users/<%= cv.validator_id %> "name="confirmed2"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>

	</span>
	<% end %>
		<% if cv.status == "pending" %>
	
		<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
	
			</span>
	<% end %>

		
		<% end %>
		<% 1.times do %>
		<a class="show_hide_validate_partial_<%= c.id %>">
			<span class="picture">
			<% if current_user %>	
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% end %>
			</span>
	
		</a>
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
	
				<% end %> <% end %>
		<% end %>
	
		<% end %>
	
		<% if c.credit_validations.count.eql?(3)  %>
		<% c.credit_validations.each do |cv| %>
	
		<% if cv.status == "confirmed" %>
		<span class="picture">
			<% @user = User.find_by_id(cv.validator_id) %>
		<a href="/users/<%= cv.validator_id %>" name="confirmed3"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
		</span>
		<% end %>
			<% if cv.status == "pending" %>
		<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
		
			</span>
		
			<% end %>

		
			<% end %>
	
	
			<% end %>
	
	
	
</div>	
	
	
	
	
	
	
	
	
	</div>
		<% end %>
	</div>
	<% end %>
	
</div>



	</div>
	<div class="grid_3 activity-feed">
		
	</div>
	
</div>