<div class="container_12 work-page">
	<div class="grid_9 work-container">


<div class="work-info-panel">
	<div class="title">
		<%= @product.title %>
	</div>
	<div class="genre">
	<% if @product.product_genre %><p><%= @product.product_genre.name %><%end%>
	</div>	
	
	<div id="slides">	
			<% if @product.image.blank? %>
		<div class="slides">
			<%= image_tag 'default-small.png'%>
		</div>	
		<%else%>
		<div class="slides">
			<%= image_tag @product.image.small %>
		</div>	
		<%end%>
		<% if @product.image_2 %>
		<div class="slides">	
		<%= image_tag @product.image_2.small %>
		</div>

		<% end %>

		<% if @product.image_3 %>
		<div class="slides">
		<%= image_tag @product.image_3.small %>
		</div>
		<% end %>
	</div>	

	<div class="stats">
		<p class="credit-count">14</p>
		<p class="credits">Credits</p>
			<div class="verified-count">
				<p class="verified-credits">10</p>
				<p class="verifed">Validated</p>
			</div>
				<div class="images">
					<p class="verified-credits">10</p>
					<p class="verifed">Videos</p>
				</div>
					<div class="videos">
						<p class="verified-credits">10</p>
						<p class="verifed">Images</p>
					</div>
	</div>


	<div class="description-containter">
		<div class="analytics">
			<div class="followers">
				<div class="data">
					11
				</div>
				<div class="title">
					Followers
				</div>	
				</div>
				
				<div class="likes">
					<div class="data">
						11
					</div>
					<div class="title">
						Likes
					</div>	
					</div>
					
					
					<div class="shared">
						<div class="data">
							11
						</div>
						<div class="title">
							Shared
						</div>	
					</div>
						
						
						<div class="views">
							<div class="data">
								11
							</div>
							<div class="title">
								Views
							</div>	
						</div>		
		</div>
		
		<div class="description">
			<div class="details">
				<p class="description-title">Date added</p><p class="data"><%= @product.created_at.strftime("%Y") %></p>
				<p class="description-title">Added By</p><p class="data"><%= @product.user.name %></p><br /><br />
				<p class="description-title">Developer</p><p class="data"><%= @product.studio %></p>
				<p class="description-title">Status</p><p class="data"><%= @product.status %></p>
		
			</div>
			
			<p class="description-text"><%= @product.description %></p>	
			
		</div>
		<div class="actions">
		<a href="#" class="blue-btn">Like <%= image_tag '/assets/beta/like.png' %></a>
		<a href="#" class="blue-btn">Follow Work <%= image_tag '/assets/beta/follow.png' %></a>
		</div>
	</div>	
	</div>	
	
	
	
	
<div class="credits">

	<div class="actions">
		<a href="#openModalhoovue" class="blue-btn-border">Add credit</a>
		
		<div id="openModalhoovue" class="modalDialog">
			<div>
				<a href="#close" title="Close" class="close" style="width:30px;">X</a>
				<h2>Add your credit</h2>
				
				<%= form_for(@credit) do |f| %>
			  <% if @credit.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

			      <ul>
			      <% @credit.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			 <div class="role">
			  <%= f.text_field :role, :placeholder => "Your Role" %> 
			  </div>
  
			  <% if @product.product_genre.name == "Game" %>
			   <div class="fact">
			<p>Please include details of platform formats, a period of time for an online game, or other such details that relate to this credit.  If the credit doesn't relate to specific versions you could leave it blank:</p>  <%= f.text_area :issue, :rows => '2'	 %>

			  </div>
  
			 <% end %>
 
 
				  <% if @product.product_genre.name == "Comic" %>
				   <div class="desc">
			<p>Please include details of the range of issues or other information for which your credit relates.</p>
				   <%= f.text_field :issue %>
			<p>Please also include a date range where you worked on this Comic.</p>	   
			    <%= f.date_select :startdate, :discard_month => true, :start_year => 1980 %> - 
				 <%= f.date_select :enddate, :discard_month => true, :start_year => 1980 %>  
				 </div>
				 <% end %>
 
 
 

			 <div class="desc">
			  <%= f.text_field :role_desc, :placeholder => "What you actually did" %>
			 </div>
 
			   <div class="fact">
		<%= f.text_area :fact, :rows => '2', :placeholder => "Tell fans of this work one interesting thing about it"	 %>
				<span class="counter"> <strong>You have <em id="count"></em> characters remaining</strong></span>
			  </div>
			   <%= f.hidden_field :product_id, :value => @product.id %>
			     <%= f.hidden_field :user_id, :value => current_user.id %>
				     <%= f.hidden_field :user_name, :value => current_user.name %>
	
			   <div class="submit">
			    <%= f.submit 'Create Credit >', :class => "submit" %>
				</div>
  
			<% end %>
			
				
			</div>
		</div>	
		
		<div class="sort">
		<select onchange="if (this.value) window.location.href=this.value">
			    <option value="1">Sort by..</option>
			    <option value="/products/<%= @product.id %>?sort=created_at desc">Most Recent</option>
			    <option value="/products/<%= @product.id %>?sort=verified">Verified</option>
			</select>
		</div>	
	</div>
	<% @credits.each do |c| %>
	<div class="credit-item">
		<% if c.user %>
	<%= image_tag c.user.profile_picture, :width => "50" %>	 
	<div class="user-name">
	<%= link_to c.user.name, user_path(c.user) %>
	</div>
	
	<div class="user-details">
		<p class="title">Credits</p><p class="data"><%= c.user.credits_count %></p>
		<p class="title">Followers</p><p class="data">5</p>
	</div>
	
	<div class="more-detail">
		<p class="role"><%= c.role %></p>
		<p class="role-description"><%= c.role_desc %></p>
	</div>
	
	
	<script type="text/javascript">
 
	$(document).ready(function(){
 
	        $(".slidingDiv_interesting_fact_<%= c.id %>").hide();
	        $(".show_hide_interesting_fact_<%= c.id %>").show();
 
	    $('.show_hide_interesting_fact_<%= c.id %>').click(function(){
	    $(".slidingDiv_interesting_fact_<%= c.id %>").slideToggle();
	    });
 
	});
 
	</script>

	
	<div class="interesting_fact">
		<a href"#" class="show_hide_interesting_fact_<%= c.id %>">View Interesting Fact</a>
	</div>
	
	
	
	<div class="validation-info">
	<p class="cv-count">
	<% if c.confirmed_validations_count > 2 %>
	<%= image_tag '/assets/beta/tick.png' %>
	<% else %>	
		<%= c.confirmed_validations_count %>/3</p><br />
		
	<% end %>	
	<p class="validation-status">
		<% if c.confirmed_validations_count > 2  %>
		Verfied</p>
		<% else %>
		Partly Verified
		<% end %>
	
	
<div class="head-shots">
		<% if c.credit_validations.empty? %>
			<% 3.times do %>
			<a class="show_hide_validate_partial_<%= c.id.to_i %>">
			<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% else %>
				<%= image_tag '/assets/question.png' %>
				<% end %>
			</span>
			</a>
			<% end %>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
		
					<% end %> <% end %>
			<% else %>

		<% end %>
	
		
	
					<% if c.credit_validations.count.eql?(1) %>
					<span class="tick-text" style="">Who will actually vouch for me: </span><br />
		<% c.credit_validations.each do |cv| %>
		<% if cv.status == "confirmed" %>
		<span class="picture">
			<% @user = User.find_by_id(cv.validator_id) %>
		<a href="/users/<%= cv.validator_id %>" name="confirmed1"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
		</span>
	
		<% end %>
			<% if cv.status == "pending" %>
			<span class="picture">
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
				<%= link_to credit_validation_path(cv) do %>
			<%= image_tag '/assets/pending.png' %>
	
				<% end %>
				<% else %>
					<%= image_tag '/assets/pending.png' %>
						<% end %>
						<% else %>
							<%= image_tag '/assets/pending.png' %>
							<% end %>
			
				</span>
		
		
		
	
			<% end %>
			<% 2.times do %>
			<a class="show_hide_validate_partial_<%= c.id %>">
			<span class="picture">
			<% if current_user %>	
				<% if current_user.id == c.user_id  %>
					<%= image_tag '/assets/empty.png' %>
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% end %>
			
				
			</span>
			</a>
			<% end %>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
		
					<% end %> <% end %>
			<% end %>
			<% else %>
	
	<% end %>

	<% if c.credit_validations.count.eql?(2)  %>
	<% c.credit_validations.each do |cv| %>
	<% if cv.status == "confirmed" %>
	<span class="picture">
		<% @user = User.find_by_id(cv.validator_id) %>
	<a href="/users/<%= cv.validator_id %> "name="confirmed2"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>

	</span>
	<% end %>
		<% if cv.status == "pending" %>
	
		<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
	
			</span>
	<% end %>

		
		<% end %>
		<% 1.times do %>
		
			<span class="picture">
			<% if current_user %>	
				<% if current_user.id == c.user_id  %>
				<a href="#openModalvalidate<%= c.id %>" class="">
					<%= image_tag '/assets/empty.png' %>
				</a>
					
					<div id="openModalvalidate<%= c.id %>" class="modalDialog">
						<div>
						 	<a href="#close" title="Close" class="close" style="width:20px;">X</a>
							<% if current_user %>			
							<% if current_user.id == c.user_id %>
							<script type="text/javascript">
 
							$(document).ready(function(){
 
							        $(".slidingDiv_email_<%= c.id %>").hide();
							        $(".show_hide_email_<%= c.id %>").show();
 
							    $('.show_hide_email_<%= c.id %>').click(function(){
							    $(".slidingDiv_email_<%= c.id %>").slideToggle();
							    });
 
							});
 
							</script>

							
							<% if c.credit_validations.count < 3  %>

			<h2>Invite someone to validate your credit.</h2>
							    
								<%= form_for(@credit_validation) do |f| %>
								<%= f.label "Select existing co-creator:"%>
								<div style="z-index:1000;">
									<%= f.collection_select :credit_id, Credit.where('user_id != ?', current_user.id).where(:product_id => @product.id).uniq, :id, :user_name, :prompt => "Please Select" %>
									</div> 
									<%= f.hidden_field :validator_id, :value => current_user.id %>
									<%= f.hidden_field :status, :value => "confirmed" %>
	   
									<%= submit_tag "Add Validator", :name => 'existing_credit', :class => 'submit' %>
									<%= f.hidden_field :current_credit_id, :value => c.id %>
								<% end %>
								
								<h2>or invite from:</h2>
								<a class="show_hide_email_<%= c.id %>" style="cursor: pointer;">Email</a>
									<a class="show_hide_facebook_<%= c.id %>" style="cursor: pointer;" >Facebook</a>
		
								


							<div class="slidingDiv_email_<%= c.id %>">
							

							<div style="float:right;"> <a class="show_hide_email_<%= c.id %>">(close X)</a></div>
							<br />
	
							<%= form_for @credit, :validate => true do |f|%>
							<% if @credit.errors.any? %>
							  <div id="error_explanation">
							    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

							    <ul>
							    <% @credit.errors.full_messages.each do |msg| %>
							      <li><%= msg %></li>
							    <% end %>
							    </ul>
							  </div>
							<% end %> 
								<%= f.label "Co-creator E-mail"%>
   
								<%= f.text_field :pending_user_email %>
  
									<%= f.label "What was the role of your co-creator?"%>
	   
									<%= f.text_field :role %>
	   
	 	
								 		<%= f.hidden_field :product_id, :value => c.product.id %>
			
										<%= f.hidden_field :current_credit_id, :value => c.id %>
			
										<%= f.hidden_field :current_credit_role, :value => c.role %>
			
		    
										<a href="/message_preview?credits_id=<%= c.id %>" target="blank">(preview the message)</a>
			
								 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :class => 'submit' %>
				
								<% end %> 
							</div>
							
	
							<script type="text/javascript">
 
							$(document).ready(function(){
 
							        $(".slidingDiv_facebook_<%= c.id %>").hide();
							        $(".show_hide_facebook_<%= c.id %>").show();
 
							    $('.show_hide_facebook_<%= c.id %>').click(function(){
							    $(".slidingDiv_facebook_<%= c.id %>").slideToggle();
							    });
 
							});
 
							</script>	


							<div class="slidingDiv_facebook_<%= c.id %>">	
								
								<div style="float:right;"> <a class="show_hide_facebook_<%= c.id %>">(close X)</a></div>	
								<br />
	
								<%= form_for @credit, :validate => true do |f|%>
								<% if @credit.errors.any? %>
								  <div id="error_explanation">
								    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

								    <ul>
								    <% @credit.errors.full_messages.each do |msg| %>
								      <li><%= msg %></li>
								    <% end %>
								    </ul>
								  </div>
								<% end %>
   
										<%= f.label "What was the role of your co-creator?"%>
										<div>
										<%= f.text_field :role %>
										</div>	
			
									 		<%= f.hidden_field :product_id, :value => c.product.id %>
			
											<%= f.hidden_field :current_credit_id, :value => c.id %>
			   
									 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :name => 'facebook', :class => 'submit' %>
				
									<% end %> 
								 
										</div>
	
	
										<script type="text/javascript">
 
										$(document).ready(function(){
 
										        $(".slidingDiv_co_<%= c.id %>").hide();
										        $(".show_hide_co_<%= c.id %>").show();
 
										    $('.show_hide_co_<%= c.id %>').click(function(){
										    $(".slidingDiv_co_<%= c.id %>").slideToggle();
										    });
 
										});
 
										</script>	
	

								<% end %>
							<% end %>
							<% end %>
						
						</div>
					</div>		
				<% else %>	
				<%= image_tag '/assets/question.png' %>	
				<% end %>
				<% end %>
			</span>
	
		</a>
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
	
				<% end %> <% end %>
		<% end %>
	
		<% end %>
	
		<% if c.credit_validations.count.eql?(3)  %>
		<% c.credit_validations.each do |cv| %>
	
		<% if cv.status == "confirmed" %>
		<span class="picture">
			<% @user = User.find_by_id(cv.validator_id) %>
		<a href="/users/<%= cv.validator_id %>" name="confirmed3"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
		</span>
		<% end %>
			<% if cv.status == "pending" %>
		<span class="picture">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
		
			</span>
		
			<% end %>

		
			<% end %>
	
	
			<% end %>
	
	
	
</div>	
	
	
	
	
	
	
	
	
	</div>
	
		<% end %>
	</div>
		
		<div class="slidingDiv_interesting_fact_<%= c.id %>" id="interesting_fact">
			<h3>Interesting Fact:</h3>
				 <% if current_user %>			
<% if current_user.id == c.user_id %><%= link_to "(edit)", edit_credit_path(:id => c) %> <% end %> <% end %>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://alpha.whoactually.com/products/<%=  c.product.id %>" data-text="<%= c.fact %>">Tweet this fact</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</h3><p><%= c.fact %></p>



<% if c.product.status == "In Development" or c.product.status == "Live and Ongoing"  %>	


<h3>Updates:</h3>
	  <% @posts = Post.where(:credit_id => c.id).order("created_at desc").limit(4) %>
<% if current_user %>			
	<% if current_user.id == c.user_id %>	
			
	<% end %>	
		<% end %>
		<% end %>
		</div>	
	<% end %>
	
</div>



	</div>
	<div class="grid_3 activity-feed">
		
	</div>
	
</div>