<h1>Log in</h1>
<p>For access please email <a href="contact@whoactually.com">contact@whoactually.com</a></p>
<%= form_tag betasessions_path do %>
  <div class="field">
    
    <%= hidden_field_tag :email, "user" %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>