
<%= form_for(@credit) do |f| %>

  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if controller.action_name == 'role' %>
   <div class="field">
    <%= f.label :your_role %>
    <%= f.text_field :role %>
  </div>
  <div class="field"><br />
 <%= f.label :role_description %>	
   <%= f.text_area :role_desc, :rows => '5'	 %>
   <br/>
 </div>
 <% end %> 
 
  <% if controller.action_name == 'edit' %>
 
  <div class="white-box">
  	
  
 
   <div class="field">
  <%= f.label :interesting_fact %><br />
    <%= f.text_area :fact, :rows => '5'	 %><br/>
	 
  </div>
</div>
	<% end %>
	
<% if controller.action_name == 'role' %>
   <%= f.fields_for :credit_validations do |builder| %>
     <%= render 'cv_fields', f: builder %>
   <% end %>
   
   <% end  %>
   
  
<div class="platforms">
	<h3>Game platforms</h3>
	<%=  %>
	<%= hidden_field_tag "credit[platform_ids][]", nil %>
	<% Platform.all.each do |platform| %>
	  <%= check_box_tag "credit[platform_ids][]", platform.id, @credit.platform_ids.include?(platform.id), id: dom_id(platform) %>
	  <%= label_tag dom_id(platform), platform.name %>
	<% end %>
</div>
<div class="role">

Other platform<br/>

<%= f.text_field :issue, :placeholder => "Other platform" %>
</div>
	
 

  <div class="actions">
    <%= f.submit "SAVE", :class => "submit" %>
	</div>

  
<% end %>

