<%= form_for(@credit) do |f| %>

  <% if @credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% @credit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if controller.action_name == 'role' %>
   <div class="field">
    <%= f.label :your_role %>
    <%= f.text_field :role %>
  </div>
  <div class="field"><br />
 <%= f.label :role_description %>	
   <%= f.text_area :role_desc, :rows => '5'	 %>
   <br/>
 </div>
 <% end %> 
 
  <% if controller.action_name == 'edit' %>
 
  <div class="white-box">
  	
  
 
   <div class="field">
  <%= f.label :interesting_fact %><br />
    <%= f.text_area :fact, :rows => '5'	 %><br/>
	 
  </div>
</div>
	<% end %>
	
<% if controller.action_name == 'role' %>
   <%= f.fields_for :credit_validations do |builder| %>
     <%= render 'cv_fields', f: builder %>
   <% end %>
   
   <% end  %>
 

  <div class="actions">
    <%= f.submit %>

  
<% end %>

