<% if @products.present? %>	
<h2><i class="fa fa-archive"></i> Games</h2>

  <ul>
    <% @products.each do |p| %>
      <li>
        <%= link_to p do %>
          <% if p.image? %>
            <%= image_tag p.image.thumb.to_s, :class => 'cover_art' %>
          <% else %>
            <%= image_tag '/assets/beta/placeholder-cover.png', :class => 'cover_art'%>
          <% end %>
          <h3><%= p.title %></h3>
          <span>
            <% if p.product_genre_id.present? %>
              <%= p.product_genre.name %>
            <% end %>
          </span>
        <% end %>
      </li>
    <% end %>	
  </ul>
  <%= paginate @products %>
<% end %>

<% if @users.present? %>
  <h2><i class="fa fa-users"></i> People</h2>

  <ul class="people">
    <% @users.each do |u| %>
      <li>
        <%= link_to u do %>
          <% if u.provider == "facebook" %>
            <img src="http://graph.facebook.com/<%= u.uid%>/picture?type=square" class="user">	
          <% else %>
            <% if u.profile_picture %>
              <%= image_tag u.profile_picture, :class => 'user' %>
            <% else %>
              <%= image_tag '/assets/beta/placeholder-user.png', :class => 'user' %>
            <% end %>
          <% end %>

          <h3><%= u.name %></h3>

        <% end %>
      </li>
    <% end %>
  </ul>

  <%= paginate @users %>
<% end %>

<% if @projects.blank? &&  @users.blank? %>
  <div class="noresults">
  <p>Sorry, your search returned no results. <br>We may not yet have it in our database.</p>
  <p><%= link_to "Add a new game", new_product_path, class: "btn" %></p>
  </div>
<% end %>

