
<div class="activity-feed">
	<% if @products %>
	<% @products.each do |p| %>
	<script type="text/javascript">
 
	$(document).ready(function(){
 
	        $(".slidingDiv<%= p.id %>").hide();
	        $(".show_hide<%= p.id %>").show();
 
	    $('.show_hide<%= p.id %>').click(function(){
	    $(".slidingDiv<%= p.id %>").slideToggle();
	    });
 
	});
 
	</script>

	<% end %>
	<h2>Works we know about:</h2>
<ul>
<% @products.each do |p| %>
<%= link_to p do %>
<li class="<%= cycle('even', 'odd') -%>">
<span style="float:left; margin:10px 10px;">	<% if p.image? %><%= image_tag p.image.thumb.to_s %> <%else%> <%= image_tag '/assets/default-credit-small.jpg'%> <%end%></span> <h2> <%= link_to p.title, product_path(p)%>  <span style="margin-left:20px;"> <% if p.product_genre_id.present? %><%= p.product_genre.name %> <%end%></h2> 
	 <span style="float:right; margin-top:-50px;"><a href="#<%= p.id %>" class="show_hide<%= p.id %>">Add Credit</a></span>
<div class="slidingDiv<%= p.id %>">
	<div class="new-credit">
		<%= form_for(@credit) do |f| %>
	  <% if @credit.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

	      <ul>
	      <% @credit.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	 <div class="role">
	 <h2>Your role was: <%= f.text_field :role %> on <%= p.title %><% if p.image.blank? %>
			<%= image_tag 'default-thumb.png'%>
		<%else%>
			<%= image_tag p.image.small %>
		<%end%></h2>
	  </div>
  
	  <% if p.genre == "Game" %>
	   <div class="desc">
	<p>Please include details of platform formats, a period of time for an online game, or other such details that relate to this credit.  If the credit doesn't relate to specific versions you could leave it blank.</p>
	   <%= f.text_field :issue %>
	 </div>
	 <% end %>
 
	  <% if p.genre == "Comic" %>
	   <div class="desc">
<p>Please include details of the range of issues or other information for which your credit relates.</p>
	   <%= f.text_field :issue %>
<p>Please also include a date range where you worked on this Comic.</p>  
    <%= f.date_select :startdate, :discard_month => true, :start_year => 1980 %> - 
	 <%= f.date_select :enddate, :discard_month => true, :start_year => 1980 %>  
	 </div>
	  
	 <% end %>
 
	  <% if p.genre == "Website" %>
	   <div class="desc">
	When was it live?
	   <%= f.text_field :issue %>
	 </div>
	 <% end %>

	 <div class="desc">
	What did you actually do?  <%= f.text_field :role_desc %>
	 </div>
 
	   <div class="fact">
	<p>Tell fans of this work one interesting thing about it:</p>  <%= f.text_area :fact, :rows => '2'	 %>
		<span class="counter"> <strong>You have <em id="count"></em> characters remaining</strong></span>
	  </div>
	   <%= f.hidden_field :product_id, :value => p.id %>
	     <%= f.hidden_field :user_id, :value => current_user.id %>
		     <%= f.hidden_field :user_name, :value => current_user.name %>
	
	   <div class="submit">
	    <%= f.submit 'Create Credit >'%>
		</div>
  
	<% end %>

	
	</div>

	

	
<a href="#<%= p.id %>" class="show_hide<%= p.id %>">hide</a></div>
 </span>
 </li>
<%end%>
	<%end%>	
	<%else%>

	<%end%>
</ul>
</div>
	 <h2>Add a new work</h2>
		<%= form_tag new_product_path, :method => 'get' do%>
		  <p>
Please select a category for your new work then click 'Add new work':<br />			  
 <%= select_tag :name, options_from_collection_for_select(ProductGenre.all, :id, :name, params[:product_category]), :class => "select-advanced" %>

 <%= submit_tag "Add new work", :class => "search-button" %>

</p>
		<% end %>
	

</div>

