
<div class="activity-feed">
	<% if @products %>
	<% @products.each do |p| %>
	<script type="text/javascript">
 
	$(document).ready(function(){
 
	        $(".slidingDiv<%= p.id %>").hide();
	        $(".show_hide<%= p.id %>").show();
 
	    $('.show_hide<%= p.id %>').click(function(){
	    $(".slidingDiv<%= p.id %>").slideToggle();
	    });
 
	});
 
	</script>

	<% end %>
	<div class="activity-feed">
		<% if @users %>
		<h2>Users:</h2>
	<ul>
	<% @users.each do |u| %>
	<%= link_to u do %>
	
	<li class="<%= cycle('even', 'odd') -%>">
		<% if u.provider == "facebook" %>
		
	<img src="http://graph.facebook.com/<%= u.uid%>/picture?type=square">	
		
		<% else %>
		<% if u.profile_picture %>
		<%= image_tag u.profile_picture, :width => "50", :height => "50" %>
		<% else %>
		<%= image_tag 'default-thumb.png' %>
		<% end %>
		
		
		<% end %>
<%= link_to u.name, user_path(u) %>
	</li>
	<%end%>
		<%end%>
	</ul>
			<%else%>
		
			<%end%>
	</div>	
	
	<h2>Works we know about:</h2>
<ul>
<% @products.each do |p| %>
<%= link_to p do %>
<li class="<%= cycle('even', 'odd') -%>">
<span style="float:left; margin:10px 10px;">	<% if p.image? %><%= image_tag p.image.thumb.to_s %> <%else%> <%= image_tag '/assets/default-thumb.png'%> <%end%></span> <h2> <%= link_to p.title, product_path(p)%>  <span style="margin-left:20px;"> <% if p.product_genre_id.present? %><%= p.product_genre.name %> <%end%></h2> 
	

 </span>
 </li>
<%end%>
	<%end%>	
	<%else%>

	<%end%>
</ul>
</div>


	
	

</div>

