		
	<% if c.credit_validations.empty? %>
		<% 3.times do %>
		<span class="score">
			<a href="#<%= c.id %>">
				<%= image_tag '/assets/empty.png' %>
				</a>
				
		</span>
		
		<% end %>
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
		<div class="validator-text" style="margin-right:-210px;">
			<p>Please add 3 Validators below</p>
				</div>
				<% end %> <% end %>
		<% else %>

	<% end %>
	
		
	
				<% if c.credit_validations.count.eql?(1) %>
	<% c.credit_validations.each do |cv| %>
	<% if cv.status == "confirmed" %>
	<span class="score">
		<% @user = User.find_by_id(cv.validator_id) %>
	<a href="/users/<%= cv.validator_id %>" name="confirmed1"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
	</span>
	
	<% end %>
		<% if cv.status == "pending" %>
		<span class="score">
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<%= link_to credit_validation_path(cv) do %>
		<%= image_tag '/assets/pending.png' %>
	
			<% end %>
			<% else %>
				<%= image_tag '/assets/pending.png' %>
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
						<% end %>
		<p style="margin:-10px;">Pending</p>
			</span>
		
		
		
	
		<% end %>
		<% 2.times do %>
		<span class="score">
			<a href="#<%= c.id %>">
				<%= image_tag '/assets/empty.png' %>
				</a>
				
		</span>
		<% end %>
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
		<div class="validator-text" style="margin-right:-210px;">
			<p>Please add 2 more Validators below</p>
				</div>
				<% end %> <% end %>
		<% end %>
		<% else %>
	
<% end %>

<% if c.credit_validations.count.eql?(2)  %>

<% c.credit_validations.each do |cv| %>
<% if cv.status == "confirmed" %>
<span class="score">
	<% @user = User.find_by_id(cv.validator_id) %>
<a href="/users/<%= cv.validator_id %> "name="confirmed2"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>

</span>
<% end %>
	<% if cv.status == "pending" %>
	
	<span class="score">
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
		<%= link_to credit_validation_path(cv) do %>
	<%= image_tag '/assets/pending.png' %>
	
		<% end %>
		<% else %>
			<%= image_tag '/assets/pending.png' %>
				<% end %>
				<% else %>
					<%= image_tag '/assets/pending.png' %>
					<% end %>
	<p style="margin:-10px;">Pending</p>
		</span>
		

	


	<% end %>

		
	<% end %>
	<% 1.times do %>
	<span class="score">
		<a href="#<%= c.id %>">
			<%= image_tag '/assets/empty.png' %>
			</a>
				
	</span>
	<% if current_user %>
		<% if current_user.id == c.user_id  %>
	<div class="validator-text" style="margin-right:-240px;">
		<p>Please add 1 more Validator below</p>
			</div>
			<% end %> <% end %>
	<% end %>
	
	<% end %>
	
	<% if c.credit_validations.count.eql?(3)  %>
	<% c.credit_validations.each do |cv| %>
	
	<% if cv.status == "confirmed" %>
	<span class="score">
		<% @user = User.find_by_id(cv.validator_id) %>
	<a href="/users/<%= cv.validator_id %>" name="confirmed3"><img src="http://graph.facebook.com/<% if @user %><%= @user.uid %><% end %>/picture?type=square" style="margin-top:-5px;"></a>
	</span>
	<% end %>
		<% if cv.status == "pending" %>
	<span class="score">
		<% if current_user %>
			<% if current_user.id == c.user_id  %>
		<%= link_to credit_validation_path(cv) do %>
	<%= image_tag '/assets/pending.png' %>
	
		<% end %>
		<% else %>
			<%= image_tag '/assets/pending.png' %>
				<% end %>
				<% else %>
					<%= image_tag '/assets/pending.png' %>
					<% end %>
	<p style="margin:-10px;">Pending</p>
		</span>
		
		<% end %>

		
		<% end %>
	
	
		<% end %>
