

<% if current_user %>			
<% if current_user.id == c.user_id %>

<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv_validate_partial_<%= c.id %>").hide();
        $(".show_hide_validate_partial_<%= c.id %>").show();
 
    $('.show_hide_validate_partial_<%= c.id %>').click(function(){
    $(".slidingDiv_validate_partial_<%= c.id %>").slideToggle();
    });
 
});
 
</script>


<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv_email_<%= c.id %>").hide();
        $(".show_hide_email_<%= c.id %>").show();
 
    $('.show_hide_email_<%= c.id %>').click(function(){
    $(".slidingDiv_email_<%= c.id %>").slideToggle();
    });
 
});
 
</script>

<div class="slidingDiv_validate_partial_<%= c.id %>">
<% if c.credit_validations.count < 3  %>
<a class="show_hide_email_<%= c.id %>" style="cursor: pointer;"><%= image_tag 'validate-by-email-button.png' %></a>
	<a class="show_hide_facebook_<%= c.id %>" style="cursor: pointer;" ><%= image_tag 'validate-by-facebook-button.png' %></a>
		<a class="show_hide_co_<%= c.id %>" style="cursor: pointer;" ><%= image_tag 'validate-by-co-button.png' %></a>
</div>


<div class="slidingDiv_email_<%= c.id %>">
	<div class="credit-validate-container">

<div style="float:right;"> <a class="show_hide_email_<%= c.id %>">(close X)</a></div>
	<h2>Invite new co-creator by Email</h2>
	
<%= form_for @credit, :validate => true do |f|%>
<% if @credit.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

    <ul>
    <% @credit.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> <div class="help-box" stlye="margin-top:-160px">
		 <h4>Help</h4>
		To validate your credit ask someone else who had a role on <%= p.title %> to vouch for you
		</div>
	<%= f.label "Co-creator E-mail"%>
   
	<%= f.text_field :pending_user_email %>
  
		<%= f.label "What was the role of your co-creator?"%>
	   
		<%= f.text_field :role %>
	   
	 	
	 		<%= f.hidden_field :product_id, :value => c.product.id %>
			
			<%= f.hidden_field :current_credit_id, :value => c.id %>
		    
	 			<%= f.submit 'Validate Your Credit', :id => 'blue-link' %>
				
	<% end %> 
</div>
</div>
	
<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv_facebook_<%= c.id %>").hide();
        $(".show_hide_facebook_<%= c.id %>").show();
 
    $('.show_hide_facebook_<%= c.id %>').click(function(){
    $(".slidingDiv_facebook_<%= c.id %>").slideToggle();
    });
 
});
 
</script>	


<div class="slidingDiv_facebook_<%= c.id %>">	
	<div class="credit-validate-container">
	<div style="float:right;"> <a class="show_hide_facebook_<%= c.id %>">(close X)</a></div>	
		<h2>Invite new co-creator via Facebook</h2>
	
	<%= form_for @credit, :validate => true do |f|%>
	<% if @credit.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

	    <ul>
	    <% @credit.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>
    <div class="help-box" stlye="margin-top:-40px">
		 <h4>Help</h4>
		To validate your credit ask someone else who had a role on <%= p.title %> to vouch for you
		</div>
			<%= f.label "What was the role of your co-creator?"%>
			<%= f.text_field :role %>

			
		 		<%= f.hidden_field :product_id, :value => c.product.id %>
			
				<%= f.hidden_field :current_credit_id, :value => c.id %>
			   
		 			<%= f.submit 'Validate Your Credit', :id => 'blue-link', :name => 'facebook' %>
				
		<% end %> 
		</div>
			</div>
	
	
			<script type="text/javascript">
 
			$(document).ready(function(){
 
			        $(".slidingDiv_co_<%= c.id %>").hide();
			        $(".show_hide_co_<%= c.id %>").show();
 
			    $('.show_hide_co_<%= c.id %>').click(function(){
			    $(".slidingDiv_co_<%= c.id %>").slideToggle();
			    });
 
			});
 
			</script>	
	

			<div class="slidingDiv_co_<%= c.id %>">		
	
<div class="credit-validate-container">
<div style="float:right;"> <a class="show_hide_co_<%= c.id %>">(close X)</a></div>
	<h2>Validate with credited co-creator</h2>
    <div class="help-box" stlye="margin-top:-20px">
		 <h4>Help</h4>
		To validate your credit ask someone else who had a role on <%= p.title %> to vouch for you
		</div>
	<%= form_for(@credit_validation) do |f| %>
	<%= f.label "Select co-creator:"%>
		<%= f.collection_select :credit_id, Credit.where('user_id != ?', current_user.id).where(:product_id => p.id), :id, :user_name, :prompt => "Please Select" %>
		<%= f.hidden_field :validator_id, :value => current_user.id %>
		<%= f.hidden_field :status, :value => "confirmed" %>
	   
		<%= submit_tag "Add Validator", :name => 'existing_credit', :id => 'blue-link' %>
		<%= f.hidden_field :current_credit_id, :value => c.id %>
	<% end %>
</div>	
</div>
	<% end %>
<% end %>
<% end %>
