<script type="text/javascript">

$(document).ready(function(){

        $("#slidingDiv_new_work").hide();
        $("#show_hide_new_work").show();

    $('#show_hide_new_work').click(function(){
    $("#slidingDiv_new_work").slideToggle();
    });

});

</script>


<div class="container_12 pages">
	<h1>Add a credit</h1> 
	<div class="container_12">
<div class="grid_3 alpha add_credit_box">
	<h2>Search works</h2>

<%= form_tag search_credits_path, :method => 'get' do %>

  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)}, :placeholder => "Enter a work name to search" %><br />
     <%= submit_tag "SEARCH", :name => nil, :class => "search-button" %>
  <%end%>
 
 </div>  


<div class="grid_3 add_credit_box">
<h2>Add a new work to our site</h2>	
<p>Can't find the work your after?</p>
<a id="show_hide_new_work" style="cursor:hand;">ADD NEW WORK
</a>

</div>


<div class="grid_3 omega add_credit_box">
<h2>Quick-Add credit</h2>	
	 <p>Use the form below to quickly add multiple credits. Previous role suggestions appear.</p>
<%= form_for(@credit) do |f| %>
 
 	<%= f.text_field :role, :placeholder => "Your role (e.g. job title)", :class => "role" %> 
 

	<%= f.select(:product_id, Product.all.collect {|a| [a.title, a.id]}, :class => "select-advanced") -%>

    <%= f.hidden_field :user_id, :value => current_user.id %>
	
	<%= f.submit 'CREATE CREDIT', :class => 'submit'%>

<% end %>
</div>	
  </div>
  
  <div class="container_10 new_work" id="slidingDiv_new_work">
  <h1>New Work</h1>
  <div class="white-box">
 <%= form_for @product, :validate => true do |f| %>
    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

	
  
    <div class="field">
	 <!--[if IE]>
	  <%= f.label :name %>
	 <![endif]-->
<%= f.text_field :title, :placeholder => "Name" %>	
  	
    </div>
	
    <div class="field" style="width:400px">
   	 <!--[if IE]>
   	  <%= f.label :Developer_or_production_company_etc_if_applicable %>
   	 <![endif]-->
     
   <%= f.text_field :developed_by, :placeholder => "Developer/production company etc. if applicable", :style => "width:325px;" %>
    </div>
	
    <div class="field">
   	 <!--[if IE]>
   	  <%= f.label :Publisher_or_distributor_etc_if_applicable %>
   	 <![endif]-->
     
   <%= f.text_field :published_by, :placeholder => "Publisher/distributor etc. if applicable" %>
    </div>
	
	<div class="field">
		
	<%= f.select(:product_genre_id, ProductGenre.all.collect {|a| [a.name, a.id]}) -%>
	</div>	
	

 	<div class="field">
  	
  	<%= f.select :status, [ ['Completed'], ['Live and Ongoing'], ['In Development']], :prompt => "Status" %>
  	 </div>
	 
  	 
       <div class="field">
      
  	   <%= f.date_select :year, :discard_month => true, :start_year => 1950, :prompt => "Year of release" %>
       </div>
  	
  	 

       <div class="field">
        
  	   <%= f.date_select :enddate, :discard_month => true, :start_year => 1950, :prompt => "End year (if applies)" %>
       </div>
  	
     <div class="field">
      <%= f.label :images_for_this_work %>
      <%= f.file_field :image, :class => "upload"  %>
    </div>
    <div class="field">
    
     <%= f.file_field :image_2, :class => "upload" %>
   </div>
   <div class="field">
  
    <%= f.file_field :image_3, :class => "upload" %>
  </div><br/>
    <div class="field">
      	 <!--[if IE]>
      	 <%= f.label :youtube_video_id %>
      	 <![endif]-->	
     <%= f.text_field :video, :placeholder => "Youtube video ID" %>
   </div>
   <div class="field">
    	 <!--[if IE]>
     <%= f.label :website %>
		 <![endif]-->
   
     <%= f.text_field :url, :title => "The image and URL used may relate to a specific version that not all credits will relate to (a range of images and other version information will be included in due course).", :placeholder => "Website Address" %>
   </div>
   <div class="field">
    	 <!--[if IE]>
    	 <%= f.label :work_description %>
    	 <![endif]-->	
   
    <%= f.text_area :description, :rows => "10", :cols => "5", :placeholder => "Description of this work." %>
  </div>
 
    

  
  
  <div class="submit">
   <%= f.submit 'CREATE WORK', :class => "submit" %>
  </div>
 
    </div>
    
  <% end %>
   </div>
  
  <p>
  <div id="products-list"> <%= render 'search_results'%></div>
   
</p>
