<div class="container_12 search-page">
	
	<h1>Search</h1> 
		
<%= form_tag search_credits_path, :method => 'get' do %>

  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)}, :placeholder => "Enter a work name to search" %><br />
     <%= submit_tag "Search", :name => nil, :class => "search-button" %>
  <%end%>
 
  <%= link_to "Use the quick add credits page >", batch_credits_path, :class => "blue-btn" %>
  <p>
  <div id="products-list"> <%= render 'search_results'%></div>
   
</p>