<div class="container_12 credits-form">
	<h2>Your new credit:</h2>
<ul>
	
	<li class="<%= cycle('even', 'odd') -%>">
	<h2><% if @credit.product.image? %>
			<%= image_tag @credit.product.image.thumb.to_s %>
				 <%else%> 
			<%= image_tag '/assets/default-credit-small.jpg'%>
	 <%end%>  
	   
	 
	  <%= @credit.role%> <%= link_to "(edit)", role_credits_path(:id => @credit) %>   on   <%= link_to @credit.product.title, product_path(@credit.product)%></h2>
		
		
		
	

<br /><br /><br /><br />
	   
		<%= render '/credits/more-detail', :c => @credit %>	
	

<div class="container_12">
	<p>Would you like to?</p>
	<%= link_to 'Accept this credit', product_path(@credit.product), :class => "blue-btn" %>


<%= link_to 'Decline this credit', @credit, method: :delete, data: { confirm: 'Are you sure?' }, :class => "blue-btn" %>

</div>


	</li>
			
</ul>
</div>




