<div class="container_12 credits-form">

<ul>
	
	<li class="<%= cycle('even', 'odd') -%>">
	<h2><% if @credit.product.image? %>
			<%= image_tag @credit.product.image.thumb.to_s %>
				 <%else%> 
			<%= image_tag '/assets/default-credit-small.jpg'%>
	 <%end%>  
	   
	 
	  <%= @credit.role%> <%= link_to "(edit)", role_credits_path(:id => @credit) %>   on   <%= link_to @credit.product.title, product_path(@credit.product)%></h2>
		
		
		
	<%= render '/credits/ticks', :c => @credit %>

<br /><br /><br /><br />
	   
		<%= render '/credits/more-detail', :c => @credit %>	
	

<div class="container_12">

<%= link_to 'Not a valid credit? Delete', @credit, method: :delete, data: { confirm: 'Are you sure?' }, :class => "blue-link" %>

<%= link_to 'Finish', product_path(@credit.product), :class => "blue-link" %>
</div>


	</li>
			
</ul>
</div>




