<p id="notice"><%= notice %></p>

<h1>Your Credit in <%= @credit.product.title %></h1>

<p>
  <b>Work:</b>
  <%= @credit.product.title %>
</p>

<b>Role</b>
<p>
<%= @credit.role %>
<%= link_to "Edit role >", role_credits_path(:id => @credit.id) %>
</p>

<b>Fact</b>
<p>
<%= @credit.fact %>
<%= link_to "Add another interesting thing +", edit_credit_path(@credit) %>
</p>



<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
