<h1>Listing credit_validations</h1>

<table>
  <tr>
    <th>Credit</th>
    <th>User</th>
    <th>User validation</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_validations.each do |credit_validation| %>
  <tr>
    <td><%= credit_validation.credit_id %></td>
    <td><%= credit_validation.user_id %></td>
    <td><%= credit_validation.user_validation %></td>
    <td><%= link_to 'Show', credit_validation %></td>
    <td><%= link_to 'Edit', edit_credit_validation_path(credit_validation) %></td>
    <td><%= link_to 'Destroy', credit_validation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit validation', new_credit_validation_path %>
