<div class="container_12 pages">
	

<h1>Credit Validation</h1>


<h2>Validation Status: <%= @credit_validation.status %></h2>

<% if @credit_validation.validator_id && @credit_validation.validator_id < 10000 %>
<% @user = User.find_by_id(@credit_validation.validator_id) %>
<% end %>
<p>Sent to: <% if @user %>Sent to:<%= @user.name %> <% end %>
	<% if @credit_validation.token %>
	<% if @credit_validation.token.match(/\A[\w+\-.]+@[a-z\d\-.]+\.[a-z]+\z/i) %>
	<%= @credit_validation.token %>
	<% else %>
	Added By Facebook
	<% end %>
	<% else %>
	
	<% end %>
	 on <%= @credit_validation.updated_at.strftime "%A, %B %d, %Y" %></p>
<%= link_to 'Delete pending validation', @credit_validation, :confirm => 'Are you sure?', :method => :delete, :class => "blue-btn" %>
<br /><br /><br /><br />
