

	<div class="container_12 credit-feed">
	<h2>Credits</h2>
	<% if @credit_views.empty? %>
	<h3>No Credits Yet.</h3>
	<% end %>
		<ul>
			<% @credit_views.each do |c| %>
			<script type="text/javascript">
 
			$(document).ready(function(){
 
			        $(".slidingDiv_<%= c.id %>").hide();
			        $(".show_hide<%= c.id %>").show();
 
			    $('.show_hide_<%= c.id %>').click(function(){
			    $(".slidingDiv_<%= c.id %>").slideToggle();
			    });
 
			});
 
			</script>
		<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>">
			<h2 class="border">
				<img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square">
					<%= link_to c.user.name, user_path(c.user) %> 
					<span class="right"> <%= c.role %> <% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %></span>
			
			</h2>		

				<span class="score">
					Rating<br />
					<%= c.count %>0% 
				</span> <br /><br /><br />
						<% if current_user %>
							<% if c.user.id != current_user.id  %>
								<%  @credit_validations = CreditValidation.where(:user_id => current_user.id, :credit_id => c.id) %>
									<% if @user_credits.empty? %>
							<% else %>
					<% if @credit_validations.empty? %>
					<span class="validate">	
					<%= link_to "Validate", increase_credit_path(c), :method=>:put  %>
				</span> 	 <span class="or">
						 or
					</span>	
									<% else %>
							<% end %>
						<% end %> 
					<span class="flag">		
							<%= link_to "Flag", flag_credit_path(c), :method=>:put  %> 
					 </span> 	
				 
						<%end%>  
							<% end %>
							<div class="more-detail">
						
								<h3>Role description <% if current_user %>
					<% if c.user.id == current_user.id  %>
					<%= link_to "(edit)", edit_credit_path(c) %>
					<% end %> <% end %></h3><p><%= c.role_desc %></p>
						
								<h3>Interesting Fact<% if current_user %>
					<% if c.user.id == current_user.id  %>
					<%= link_to "(edit)", edit_credit_path(c) %>
					<% end %> <% end %></h3> <p><%= c.fact %></p>
				</div>
					<% if current_user %>
										<% if c.user.id == current_user.id  %>
					
					<a href="#openModalemail" class="blue-link">Invite someone to validate</a>

						<% end %>
							<% end %>
						 	
			</li>
			
		<%end%>
							<%end%>	
		</ul>
</div>