<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>
	<h2>Credits</h2>
	<% if current_user %>			
	
<a href="#" class="show_hide">Add Credit +</a>
<div class="slidingDiv">
	<%= render "add_credit" %>
<a href="#" class="show_hide">hide</a></div>
	<% end %>

	<div class="container_12 credit-feed">

	<% if @credit_views.empty? %>
	<h3>No Credits Yet.</h3>
	<% end %>
		<ul>
			<% @credit_views.each do |c| %>
		
		<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>">
			<h2 class="border">
				<img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square">
					<%= link_to c.user.name, user_path(c.user) %> 
					<span class="right"> <%= c.role %> 
						<% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %>
							<% if c.issue %>
								Issue: <%= c.issue %>
									
								<% end %>


							
						</span>
			
			</h2>	
			
				
			<% if c.credit_validations.empty? %>
				<% 3.times do %>
				<span class="score">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
							<a href="#openModalemail"><%= image_tag '/assets/empty.png' %></a>
						<% else %>
							<%= image_tag '/assets/empty.png' %>
						<% end%>
					<% else %>
						
							<%= image_tag '/assets/empty.png' %>
					<% end %>
				</span>
				
				<% end %>
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
				<div class="validator-text" style="margin-right:-180px;">
					<p>Please select 3 Validators</p>
						</div>
						<% end %><% end %>
				<% else %>
			<% end %>
	
	
						<% if c.credit_validations.count.eql?(1) %>
			<% c.credit_validations.each do |cv| %>
			<% if cv.status == "confirmed" %>
			<span class="score">
			<a href="/credit_validations/<%= cv.id %>"><%= image_tag '/assets/tick.png' %></a>
			</span>
			<% end %>
				<% if cv.status == "pending" %>
			<span class="score">
		<%= image_tag '/assets/pending.png' %>
	
				</span>
				<% end %>
				<% 2.times do %>
				<span class="score">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
							<a href="#openModalemail"><%= image_tag '/assets/empty.png' %></a>
						<% else %>
							<%= image_tag '/assets/empty.png' %>
						<% end%>
					<% else %>
						
							<%= image_tag '/assets/empty.png' %>
					<% end %>
				</span>
			
				<% end %>
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
				<div class="validator-text">
					<p>Please select 1 more Validator</p>
						</div>
						<% end %> <% end %>
				<% end %>
				<% else %>
	
		<% end %>

		<% if c.credit_validations.count.eql?(2)  %>
		<% c.credit_validations.each do |cv| %>
		<% if cv.status == "confirmed" %>
		<span class="score">
		<a href="/credit_validations/<%= cv.id %>"><%= image_tag '/assets/tick.png' %></a>
		</span>
		<% end %>
			<% if cv.status == "pending" %>
		<span class="score">
		<%= image_tag '/assets/pending.png' %>
	
			</span>
			<% end %>

		
			<% end %>
			<% 1.times do %>
			<span class="score">
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
						<a href="#openModalemail"><%= image_tag '/assets/empty.png' %></a>
					<% else %>
						<%= image_tag '/assets/empty.png' %>
					<% end%>
				<% else %>
						
						<%= image_tag '/assets/empty.png' %>
				<% end %>
			</span>
			<% if current_user %>
				<% if current_user.id == c.user_id  %>
			<div class="validator-text">
				<p>Please select 1 more Validator</p>
					</div>
					<% end %> <% end %>
			<% end %>
	
			<% end %>
	
			<% if c.credit_validations.count.eql?(3)  %>
			<% c.credit_validations.each do |cv| %>
			<% if cv.status == "confirmed" %>
			<span class="score">
			<a href="/credit_validations/<%= cv.id %>"><%= image_tag '/assets/tick.png' %></a>
			</span>
			<% end %>
				<% if cv.status == "pending" %>
			<span class="score">
			<%= image_tag '/assets/pending.png' %>
	
				</span>
				<% end %>

		
				<% end %>
	
	
				<% end %>

		<br /><br /><br /><br />
				
						

							<div class="more-detail">

								<h3>Role description:</h3>
						<% if current_user %>			
						<% if current_user.id == c.user_id %>
						<p><%= best_in_place c, :role_desc, :type => :textarea, :nil => "Click me to add content!", :ok_button => 'Save', :cancel_button => 'Cancel' %></p>
						<% end %>
						<% else %>
						<p> <%= c.role_desc %></p>	
						<% end %>

								<h3>One interesting thing:</h3>
						<% if current_user %>			
						<% if current_user.id == c.user_id %>
						<p><%= best_in_place c, :fact, :type => :textarea, :ok_button => 'Save', :nil => "Click me to add content!", :cancel_button => 'Cancel' %></p>
						<% end %>
						<% else %>
						<p> <%= c.role_desc %></p>	
						<% end %>
					
					<% if current_user %>
										<% if c.user.id == current_user.id  %>
					
										<div style="float:left; margin:10px;">
											
										
					<%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "blue-link" %>
					</div>
					<% end %>
					
							<% end %>
							<div style="margin-top:105px;">
						
						<%= render '/credits/validate-credit', :c => c %>	
						</div>	
						<%end%>	
						 	
							
						
			</li>
			
		
							<%end%>	
		</ul>
</div>