

	<div class="container_12 credit-feed">
	<h2>Credits</h2>
		<ul>
			<% @credit_views.each do |c| %>
			<script type="text/javascript">
 
			$(document).ready(function(){
 
			        $(".slidingDiv_<%= c.id %>").hide();
			        $(".show_hide<%= c.id %>").show();
 
			    $('.show_hide_<%= c.id %>').click(function(){
			    $(".slidingDiv_<%= c.id %>").slideToggle();
			    });
 
			});
 
			</script>
		<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>">
				<img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square">
					<%= link_to c.user.name, user_path(c.user) %> 
			<span style="margin-left:10px"><strong>Role: <% if current_user %>
					<% if c.user.id == current_user.id  %>
					<%= link_to "(edit)", role_credits_path(:id => c) %>
					<% end %> <% end %></strong>  <%= c.role %> </span>
				<span style="margin-left:10px">
				<strong>Score:</strong> <%= c.count %> 
						<% if current_user %>
							<% if c.user.id != current_user.id  %>
							
						<%  @credit_validations = CreditValidation.where(:user_id => current_user.id, :credit_id => c.id) %>
							<% if @user_credits.empty? %>
							<% else %>
						<% if @credit_validations.empty? %>
						<%= link_to "Validate", increase_credit_path(c), :method=>:put  %> 
						<% else %>
							<% end %>
						<% end %>| 
							<%= link_to "Flag", flag_credit_path(c), :method=>:put  %>
						<%end%>  
							<% end %>
						</span> <br /><br />
								<p><strong>Role description: <% if current_user %>
					<% if c.user.id == current_user.id  %>
					<%= link_to "(edit)", edit_credit_path(c) %>
					<% end %> <% end %></strong><br /> <%= c.role_desc %></p>	
								<p><strong>Interesting Fact: <% if current_user %>
					<% if c.user.id == current_user.id  %>
					<%= link_to "(edit)", edit_credit_path(c) %>
					<% end %> <% end %></strong> <br /> <%= c.fact %></p>
					
					<% if current_user %>
										<% if c.user.id == current_user.id  %>
					
					<a href="#openModalemail" class="blue-link">Invite someone to validate</a>

						<% end %>
							<% end %>
						 	
			</li>
			
		<%end%>
							<%end%>	
		</ul>
</div>