<script type="text/javascript">
 
$(document).ready(function(){
 
        $(".slidingDiv").hide();
        $(".show_hide").show();
 
    $('.show_hide').click(function(){
    $(".slidingDiv").slideToggle();
    });
 
});
 
</script>
	<h2>Credits</h2>
	<% if current_user %>			
	
<a href="#" class="show_hide">Add Credit</a>
<div class="slidingDiv" style="margin-bottom:200px;">
	<%= render "add_credit" %>

</div>
	<% end %>

	<div class="container_12 credit-feed" style="margin-top:40px;">

	<% if @credit_views.empty? %>
	<h3>No Credits Yet.</h3>
	<% end %>
		<ul>
			<% @credit_views.each do |c| %>
		
		<% if c.user %>
			<li class="<%= cycle('even', 'odd') -%>">
			<h2 class="border">
				<img src="http://graph.facebook.com/<%= c.user.uid%>/picture?type=square">
					<%= link_to c.user.name, user_path(c.user) %> 
					<span class="right"> <%= c.role %> 
						<% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %>
							<% if c.issue %>
							<%= @product.issue %>: <%= c.issue %> 
							
							 <% if @product.product_genre.name == "Comic" %>
							 <% if c.startdate %>
							<%= c.startdate.strftime("%Y") %>
							<% end %>
							 <% if c.enddate %>
							 - <%= c.enddate.strftime("%Y") %>
							<% end %>
							<% end %>		
								<% end %>


							
						</span>
			
			</h2>	
			<br /><br />
				
		<%= render '/credits/ticks', :c => c %>
		<br /><br /><br /><br />
				
						

<%= render '/credits/more-detail', :c => c %>	
					
					<% if current_user %>
										<% if c.user.id == current_user.id  %>
					
										<div style="float:left; margin:10px;">
											
										
					<%= link_to 'Delete', c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "blue-link" %>
					</div>
					<% end %>
					
							<% end %>
							<div style="margin-top:105px;">
						
						<%= render '/credits/validate-credit', :c => c, :p => @product %>	
						</div>	
						<%end%>	
						 	
							
						
			</li>
			
		
							<%end%>	
		</ul>
</div>