<ul class="products">
  <% products.each do |product| %>
    <li class="product">
      <%= link_to product do %>
        <%= product_image_tag product, {size: :small}, {class: "cover_art"} %>
        <h3><%= product.title %></h3>
        <span><%= product.product_genre.try(:name) %></span>
        <span><%= product.platforms %></span>
      <% end %>
    </li>
  <% end %>
</ul>
