<div class="project_header">
    <div class="container_12">
      <h1 class="grid_12"><%= @page_title || "Add a new game" %></h1>
    </div>
</div>

<div class="container_12 content">

  <div class="grid_12 add_game">

    <%= form_for @product, :validate => true do |f| %>

      <%= render "/shared/error_messages", target: @product %>
      
      <fieldset>
      
      <div>
        <%= f.label :title, "Name" %>
        <%= f.text_field :title, :title => "The name of the game is the title of a released version (alternative titles for the same game in other territories will be included in due course)." %>
      </div>

      <div>
        <%= f.label :status %>
        <%= f.select :status, [ ['Completed'], ['Live and Ongoing'], ['In Development']] %>
      </div>

      <div>
        <%= f.label :year_the_game_was_first_released_if_applicable %>
        <%= f.date_select :year, :discard_month => true, :start_year => 1980 %>
      </div>

      <div>
        <%= f.label :studio %>
        <%= f.text_field :studio %>
      </div>

      <div>
        <%= f.label :product_genre_id, "Genre" %>
        <%= f.collection_select :product_genre_id, ProductGenre.ordered.all, :id, :name %>
      </div>

      <div>
        <%= f.label :work_page_main_image, "Cover Image" %>
        <%= f.file_field :image, :class => "file" %>
      </div>
      
      <div>
        <%= f.label :work_description %>
        <%= f.text_area :description, :rows => "3" %>
      </div>

      <div>
        <%= f.label :website %>
        <%= f.text_field :url, :title => "The image and URL used may relate to a specific version that not all credits will relate to (a range of images and other version information will be included in due course)." %>
      </div>

      <div class="buttons">
        <%= f.submit 'Create Game', class: "btn" %>
      </div>
      
      </fieldset>
      
  </div>
<% end %>
</div>
</div>
