<div class="container_12">

<h1>New <%= @category.name %></h1>
<div class="white-box">


<%= form_for @product, :validate => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	 <% if params[:name] == "3" %>
  <p>The name of the comic is the title of a series.
	  The image used may be of a specific issue, not that which all credits relate too (a range of images and other issue information will be included in due course).

If your work relates to a specific range of issues please include this information within the credit.</p>
    
	 <% end %>
	 
	  <% if params[:name] == "1" %>
	  <p>The name of the games is the title of a released version (alternative titles for the same game in other territories will be included in due course)</p>
	  
	  <p>The image and URL used may relate to a specific version that not all credits will relate too (a range of images and other version information will be included in due course).</p>
 <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

<%= f.hidden_field :product_genre_id, :value => params[:name] %>	
 
 
	<div class="field">
		<%= f.label :work_status %><br />
		
	 <%= f.select :status, [ ['Completed'], ['Ongoing'], ['In Development']] %>
	 </div>
	 
	 <% if params[:name] == "1" %>
     <div class="field">
       <%= f.label :year_the_game_was_first_released %>
	  
       <%= f.date_select :year, :discard_month => true, :start_year => 1980 %>
     </div>
	 <% end %>
	 
	 <% if params[:name] == "2" %>
     <div class="field">
       <%= f.label :year_the_website_was_launched %>
	
        <%= f.date_select :year, :discard_month => true, :start_year => 1980 %>
     </div>
	 <% end %>

	 
	 <% if params[:name] == "4" %>
     <div class="field">
       <%= f.label :year_the_movie_was_released %>
	
       <%= f.date_select :year, :discard_month => true, :start_year => 1980 %>
     </div>
	 <% end %>
	 
	 <% if params[:name] == "5" %>
     <div class="field">
       <%= f.label :year_the_book_was_published %>
	
       <%= f.date_select :year, :discard_month => true, :start_year => 1980 %>
     </div>
	 <% end %>
	 

  	
   <div class="field">
    <%= f.label :work_page_main_image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  
  </div>
  <h1>Your Credit</h1>
  <div class="new-credit">
	
 
   <div class="role">
   <h2>Your role was: <%= f.text_field :role %></h2>
    </div>
   <div class="desc">
  Can you tell us more about what you did in your role:  <%= f.text_field :role_description %>
   </div>
  
   <div class="issue">
  
  </div>
 
     <div class="fact">
  <p>Can you tell us one interesting thing about this work:</p>  <%= f.text_area :fact, :rows => '2'	 %>
  	<span class="counter"> <strong>You have <em id="count"></em> characters remaining</strong></span>
    </div>
  
  <% if params[:name] == "1" %>
   <div class="desc">
<p class="small">Please include details of platform formats, a period of time for an online game, or other such details that relate to this credit.  If the credit doesn't relate to specific versions you could leave it blank.</p>
   <%= f.text_field :issue %>
 </div>
 <% end %>
 
	  <% if params[:name] == "3" %>
	   <div class="desc">
<p class="small">Please include details of the range of issues or other information for which your credit relates.</p>
	   <%= f.text_field :issue %>
	 </div>
	 <% end %>
  
<div class="submit">
 <%= f.submit 'Create Work >'%>
</div>
 
  </div>
  </div>
<% end %>
  
  
  
  
  
  
 

</div>