<div class="container_12">
	

<h1>New Work</h1>
<div class="white-box">

<%= form_for @product, :validate => true do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :product_genre_id %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
	<div class="field">
		<%= f.label :category %>
		<%= collection_select(:product, :product_genre_id, ProductGenre.all, :id, :name)%>
	</div>	
	<div class="field">
		<%= f.label :work_status %>
	 <%= f.select :status, [ ['Completed'], ['Ongoing'], ['In Development']] %>
	 </div>
  	<div class="field">
  		<%= f.label :does_your_work_have %>
  	 <%= f.select :issue, [ ['None'], [''], ['Issue number'], ['Episode'], ['Version'], ['Worked on Date']] %>
  	 </div>
   <div class="field">
    <%= f.label :work_page_main_image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  
  </div>
  <h1>Your Credit</h1>
  <div class="new-credit">

   <div class="role">
   <h2>Your role was: <%= f.text_field :role %></h2>
    </div>
   <div class="desc">
  Can you tell us more about what you did in your role:  <%= f.text_field :role_description %>
   </div>
  
   <div class="issue">
  
  </div>
 
     <div class="fact">
  <p>Can you tell us one interesting thing about this work:</p>  <%= f.text_area :fact, :rows => '2'	 %>
  	<span class="counter"> <strong>You have <em id="count"></em> characters remaining</strong></span>
    </div>
  

  
<div class="submit">
 <%= f.submit 'Create Work >'%>
</div>
 
  </div>
  </div>
<% end %>
  
  
  
  
  
  
 

</div>