<div class="project_header">

    <div class="cover_background" style="background-image: url(<% if @product.image.blank? %><%= '/assets/beta/placeholder-cover.png' %><% else %><%= @product.image.small %><% end %>)"></div>

    <div class="container_12">

        <div class="cover_art grid_3">
        	<% if @product.image.post.blank? %>
            	<%= image_tag '/assets/beta/placeholder-cover.png' %>
            <% else %>
            	<%= image_tag @product.image.post %>
            <% end %>
        </div>

        <div class="description grid_6">
            <h1><%= @product.title %></h1>
        	<ul class="details">
        	    <li class="clearfix"><h4>Category</h4><p><%= @product.product_genre.name %></p></li>
              <li class="clearfix"><h4>Released</h4><p>2013</p></li>
        		<li class="clearfix"><h4>Developer</h4><p><%= @product.developed_by %></p></li>
        		<li class="clearfix"><h4>Publisher</h4><p><%= @product.published_by %></p></li>
        	</ul>


          <% if @product.can_buy_on_amazon? %>
            <span class="amazon_btn">
              <%= link_to amazon_affilliate_url(@product), target: "_blank" do %>
                Buy from <%= image_tag '/assets/beta/amazon.png' %>
            <% end %>
          </span>
        <% end %>
        </div>

    </div> <!-- Close container_12 -->

</div> <!-- Close header_area -->

<div class="container_12 content">

  <% unless @credits.empty? %>
    <h2><i class="fa fa-users"></i> The Team</h2>

    <div class="credit_list clearfix">

        <ul class="grid_12">
            <% @credits.each do |c| %>
                <% if c.user_id.blank? %>
                <% else %>
            <li class="clearfix">
                <a href="<%= user_path(c.user) %>" class="user grid_3">
                    <% if c.user.profile_picture %>
                        <%= image_tag c.user.profile_picture, :class => 'profile_img' %>
                    <% else %>
                        <%= image_tag '/assets/beta/placeholder-user.png', :class => 'profile_img' %>
                    <% end %>
                    <p class="details">
                        <span class="name"><%= c.user.name %></span>
                        <span class="role"><%= c.role %></span>
                    </p>
                </a>
                <p class="role_description grid_5"><%= c.role_desc %></p>

                <% if c.credit_validations.confirmed.count == 2  %>
    				<!-- Add Check -->
    			<% end %>

    			<div class="insider grid_1">
    			    <% if c.fact %>
        			    <a href="#<%= c.user_id %>_story"><i class="fa fa-book"></i></a>
        			<% else %>
        			    &nbsp;
        			<% end %>
    			</div>

          <div class="verification grid_3">
            <%= render "credit_verification_forms", credit: c, credit_validation: @credit_validation %>
          </div>

            </li>
                <% end %>
            <% end %>
        </ul>

    </div>
  <% end %>

  <%= link_to "#", {class: "add_credit"} do %>
    <span class="fa-stack verified fa-lg">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-plus fa-stack-1x"></i>
    </span>
    Were you part of this team? <span>Add a credit</span>
  <% end %>

  <div class="addcredit_form grid_12">
    <% if current_user %>
      <%= form_for @credit do |f| %>
        <%= f.hidden_field :product_id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :user_name %>

        <fieldset>
          <div>
            <%= f.label :role, 'What was your role?' %>
            <%= f.text_field :role %>
          </div>

          <div>
            <%= f.label :role_desc, 'What did you actually do?' %>
            <%= f.text_field :role_desc %>
          </div>

          <div>
            <%= f.label :fact, 'Do you have any insider stories?' %>
            <%= f.text_area :fact %>
          </div>

          <div>
            <label>When were you involved?</label>
            <br><br>
            <%= f.label :startdate, 'From' %>
            <%= f.date_select :startdate, {discard_month: true, discard_day: true} %>
            <%= f.label :enddate, 'Until' %>
            <%= f.date_select :enddate, {discard_month: true, discard_day: true} %>
          </div>

        </fieldset>

        <div class="buttons">
          <%= f.submit :class => 'btn' %>
        </div>

      <% end %>
    <% else %>
      <p>You need to <%= link_to "Login", "/auth/facebook", id: "login_with_facebook" %> before you can add credits</p>
    <% end %>
  </div>

  <%= link_to "#", {class: "invite_team_member"} do %>
    <span class="fa-stack verified fa-lg">
      <i class="fa fa-circle-thin fa-stack-2x"></i>
      <i class="fa fa-paper-plane fa-stack-1x"></i>
    </span>
    Do you know someone who was part of this team? <span>Invite them to add their credit</span>
  <% end %>
  <div class="invite_team_member_form grid_12">
    <% if current_user %>
      <%= form_tag invite_product_url(@product) do |f| %>
        <fieldset>
          <div>
            <label for="email">Email</label>
            <%= text_field_tag :email %>
          </div>

        </fieldset>

        <div class="buttons">
          <%= submit_tag "Invite", :class => 'btn' %>
        </div>

      <% end %>
    <% else %>
    <% end %>
  </div>


  <% if (credits_with_facts = @credits.select{|credit| credit.fact.present? }).any? %>
    <h2><i class="fa fa-book"></i> Insider Stories</h2>

    <div class="stories clearfix">

      <ul class="grid_12">
        <% credits_with_facts.each do |credit| %>
          <li id="<%= credit.user_id %>_story" class="clearfix">
            <%= link_to user_path(credit.user), class: "user grid_4" do %>
              <%= profile_image_tag credit.user, nil, {class: "profile_img"} %>
              <p>
                <span class="name"><%= credit.user.name %></span>
                <span class="role"><%= credit.role %></span>
              </p>
            <% end %>
            <p class="fact grid_7"><%= credit.fact %></p>
          </li>
        <% end %>
      </ul>

    </div>
  <% end %>

</div> <!-- Close container_12 -->

