<div class="container_12 pages">
<p id="notice"></p>
<div class="grid_8 alpha">
 
<h1><%= @product.title %> <% if @product.year %><%= @product.year.strftime("%Y") %><% end %> <% if current_user %><span style="font-size:15px"><% if current_user.id == @product.user_id %><%= link_to "(edit)", edit_product_path(@product) %> <% end %><% end %></span> </h1>
<% if @product.product_genre %><p><%= @product.product_genre.name %> <%end%></p>
<p><%= @product.studio %> <%= form_tag search_path, :method => 'get' do %>
  
 <% if @product.studio.blank? %>
 <% else %>
     <input name="search" type="hidden" value="<%= @product.studio %>" />
	 <%= submit_tag "Find other games by this developer >", :name => nil, :class => "search-button" %>
  <%end%> 
<% end %>
</p>


<p><%= @product.status %> </p>
<p><a href="http://<%= @product.url %>" target=blank><%= @product.url %></a></p>
<div style="margin: 20px 0">
	
	
<% if @product.image.blank? %>
	<%= image_tag 'default-small.png'%>
<%else%>
	<%= image_tag @product.image.small %>
<%end%>
</div>
<%= render '/layouts/addthis' %>
</div>

<div class="grid_4 push_1 omega">
	
</div>

	
<div class="grid_4 omega details">


</div>

<div class="container_12 facts-form">

</div>	

<div class="container_12 credits-form">
<%= render '/products/credits'%>
</div>




</div>
