<div class="container_12 pages">
<p id="notice"></p>
<div class="grid_8 alpha">
 
<h1><%= @product.title %> <% if current_user %><span style="font-size:15px"><% if current_user.id == @product.user_id %><%= link_to "(edit) | ", edit_product_path(@product) %> <% end %><%= link_to 'Add Credit +', new_credit_path(:product_id => @product.id) %> <% end %></span> </h1>

</div>

<div class="grid_4 push_1 omega">
	<% if @product.image.blank? %>
		<%= image_tag 'default-small.png'%>
	<%else%>
		<%= image_tag @product.image.small %>
	<%end%>
</div>

	
<div class="grid_4 omega details">

<% if @product.product_genre %><p><%= @product.product_genre.name %> <%end%></p>

<% @product.properties.each do |name, value| %>
<p>
<h3><%= name.humanize %></h3> <%= value %>
</p>
<%end%>
<%= @product.status %> 
</div>

<div class="container_12 facts-form">

</div>	

<div class="container_12 credits-form">
<%= render '/products/credits'%>
</div>




</div>
