<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Genre:</b>
  <%= @product.genre %>
</p>

<p>
  <b>Added by:</b>
  <a href="/users/<%= @product.user.id%>"><%= @product.user.name%></a>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @product.image.small %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<h2>Credits</h2> <br />
<% @credit_views.each do |c|%>
	<%= c.user.name %> <strong> <%= c.role%> </strong>
<%end%>

<% if current_user %>
<%= form_for @product do |f|%>
 <h2>My Credits</h2>
  <div class="items">
    <%= f.nested_fields_for :credits do |f| %>
      <fieldset class="item">
        <%= f.label :role %>
        <%= f.text_field :role %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <a href="#" class="remove">remove</a>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
      </fieldset>
    <% end %>
  </div>
  <a href="#" class="add">add credit</a>

  <% # more person fields... %>
<%end%>  

<%end%>
