
<div class="container_12 work-page">
	<div class="grid_9 work-container">
		
	
<div class="work-info-panel">
	<div class="title">
		<%= @product.title %>
		<% if @product.moderation_status = "Pending" %>
		(content updated)
		<% end %>
	<% if current_user %>
		<%= link_to '(edit work)', edit_product_path(@product, :name => @product.product_genre.id) %>
	<% end %>	
	</div>
	<div class="genre">
	<% if @product.product_genre %><p><%= @product.product_genre.name %><%end%>
	</div>	
	
	<div id="slides">	
			<% if @product.image.blank? %>
		<div class="slides">
			<%= image_tag 'default-small.png'%>
		</div>	
		<%else%>
		<div class="slides">
			<%= image_tag @product.image.small %>
		</div>	
		<%end%>
		
	</div>	

	<div class="stats">
		<p class="credit-count"><%= @credits.size %></p>
		<p class="credits">Credits</p>
			<div class="verified-count">
				<p class="verified-credits">
					<%= @verified_credits.size %>
				</p>
				<p class="verifed">Verified</p>
			</div>
				<div class="images">
					<p class="verified-credits">0</p>
					<p class="verifed">Videos</p>
				</div>
					<div class="videos">
						<p class="verified-credits">1</p>
						<p class="verifed">Image</p>
					</div>
	</div>


	<div class="description-containter">
		<div class="analytics">
			<div class="followers">
				<div class="data">
			
				</div>
				<div class="title">
				
				</div>	
				</div>
				
				<div class="likes">
					<div class="data">
						<%= @flagging_likes.size %>
					</div>
					<div class="title">
						Likes
					</div>	
					</div>
					
					
					<div class="shared">
						<div class="data">
							
						</div>
						<div class="title">
						
						</div>	
					</div>
						
						
						<div class="views">
							<div class="data" style="margin-top:-15px;">
								<% if @flagging_votes.size == @credits.size %>
								Team voted 100% complete
								<% else %>
								Counting team complete votes
								<% end %>
										</div>
							<div class="title">
								
							</div>	
						</div>		
		</div>
		
		<div class="description">
			<div class="details">
				<p class="description-title">Date added</p><p class="data"><%= @product.created_at.strftime("%Y") %></p>
				<p class="description-title">Published By</p><p class="data" style="width:150px;"><%= truncate(@product.published_by, length: 30) %></p><br /><br />
				<p class="description-title">Status</p><p class="data"><%= @product.status %></p>
				<p class="description-title">Developer</p><p class="data" style="width:150px;"><%= truncate(@product.developed_by, length: 30) %></p>
				
		
			</div>
			
			<p class="description-text"><%= @product.description %></p>	
			
		</div>
		<div class="actions">
		
		<a type=amzn class="blue-btn" search="<%= @product.title %>">Buy on Amazon ></a>
		
		
		
		
		</div>
		
		
		<% if current_user %>
		<script type="text/javascript">

		$(document).ready(function(){

		        $("#slidingDiv_add_new").hide();
		        $("#show_hide_add_new").show();

		    $('#show_hide_add_new').click(function(){
		    $("#slidingDiv_add_new").slideToggle();
		    });

		});

		</script>
		
		<div id="slidingDiv_add_new">
			
				
				<h2>Add your credit</h2>
				<%= form_for(@credit) do |f| %>
			  <% if @credit.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

			      <ul>
			      <% @credit.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
			 <div class="role">
				 <!--[if IE]>
				 <strong>Your role (e.g. job title)</strong><br/>
				 <![endif]-->
			  <%= text_field_tag :role, params[:role], data: {autocomplete_source: Credit.where(:user_id => current_user.id).order(:role).map(&:role).uniq}, :placeholder => "Your role (e.g. job title)", :class => "role" %>  
			  </div>
  
			
			
 
 
				  <% if @product.product_genre.name == "Comic" %>
				   <div class="desc">
			<p>Please include details of the range of issues or other information for which your credit relates.</p>
				   <%= f.text_field :issue %>
			
				 </div>
				 <% end %>
 
 
 
				 <!--[if IE]>
				 <strong>What you actually did</strong><br/>
				 <![endif]--> 
			 <div class="desc">
			  <%= f.text_field :role_desc, :placeholder => "What you actually did" %>
			 </div>
			 <!--[if IE]>
			 <strong>Your insider story (remember to Tag team members or others involved in your story)</strong><br/>
			 <![endif]-->
			   <div class="fact">
		<%= f.text_area :fact, :rows => '2', :placeholder => "Your insider story (remember to Tag team members or others involved in your story)"	 %>
				<br />
			  </div>
			  
			  <div class="field">
			      <%= f.text_field :tag_list, :placeholder => "Tag people in your insider story (seperated by ,)", :style => "width:350px;" %>
			    </div>
				<div class="namecheck" style="margin-top:3px;">
					
				
				<a href="/messages/new?name= Whoactually.com - <%= current_user.name%> has tagged you in a post&link=http://<%= ENV['DEFAULT_URL'] %>/products/<%= @product.id %>" class="blue-btn" target="blank">Tag a Facebook Friend</a>
			  </div>
			  <h3>When did you work on <%= @product.title %>?<br />
		 <%= f.date_select :startdate, :discard_month => true, :start_year => 1950, :prompt => "Year you started work" %>
		 
		  <%= f.date_select :enddate, :discard_month => true, :start_year => 1950, :prompt => "Year you finished work" %>	 
			 
		
			
		
			
			  
			   <%= f.hidden_field :product_idd, :value => @product.id %>
			     <%= f.hidden_field :user_id, :value => current_user.id %>
				     <%= f.hidden_field :user_name, :value => current_user.name %>
	
			   <div class="submit">
			    <%= f.submit 'CREATE CREDIT', :class => "submit" %>
				</div>
  
			<% end %>
			
				
		
		</div>
		<% end %>
	</div>	
	
	</div>	
	
	
	
	
<div class="credits">
<% if current_user %>


<div style="margin:30px;">
	

		<a id="show_hide_add_new" class="grn-btn" style="">Add credit
		<%= image_tag '/assets/beta/btn-icon.png' %>
		</a>
		
			
		
		<div style="float:right;">
		<select onchange="if (this.value) window.location.href=this.value">
			    <option value="1">Sort by..</option>
			    <option value="/products/<%= @product.id %>?sort=created_at desc">Most Recent</option>
			    <option value="/products/<%= @product.id %>?sort=verified">Verified</option>
			</select>
		</div>	
		</div>
<% end %>
	<% @credits.each do |c| %>
		<% if c.user_id.blank? %>
		<% else %>
	<div class="credit-item">
		<% if c.user %>
		<% if c.user.profile_picture %>
	<%= image_tag c.user.profile_picture, :width => "50" %>	 
		<% end %>	
	<div class="user-name">
	<%= link_to c.user.name, user_path(c.user) %>
	</div>
	
	<div class="user-details">
		<p class="title">Credits</p><p class="data"><%= c.user.credits.count %></p>
		<p class="title">Followers</p><p class="data"><%= c.user.friendships.count %></p>
	</div>
	
	<div class="more-detail">
		<p class="role">
			
		
			
			<%= c.role %> -  
			 
			 <% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %></p>
		<p class="role-description"><%= c.role_desc %><% if current_user %>
							<% if c.user.id == current_user.id  %>
							<%= link_to "(edit)", role_credits_path(:id => c) %>
							<% end %> <% end %></p>
	</div>
	
	
	<script type="text/javascript">
 
	$(document).ready(function(){
 
	        $(".slidingDiv_interesting_fact_<%= c.id %>").hide();
	        $(".show_hide_interesting_fact_<%= c.id %>").show();
 
	    $('.show_hide_interesting_fact_<%= c.id %>').click(function(){
	    $(".slidingDiv_interesting_fact_<%= c.id %>").slideToggle();
	    });
 
	});
 
	</script>

	
	<div class="interesting_fact">
		<a   class="show_hide_interesting_fact_<%= c.id %>">View Insider Stories<% if c.product.status == "Ongoing" %> and Posts<% end %></a>
	</div>
	
	
	
	<div class="validation-info"  style="
			<% if c.credit_validations.confirmed.empty? %>
			background-color:red;
			<% end %>
			
			<% if c.credit_validations.confirmed.count == 1  %>
			background-color:orange;
			<% end %>	
			
			<% if c.credit_validations.confirmed.count == 2  %>
				background-color:orange;
			<% end %>
			
			<% if c.credit_validations.confirmed.count == 3  %>
			background-color:green;
			<% end %>
			
			">
	
	
	<p class="cv-count">
	<% if c.credit_validations.confirmed.count > 2 %>
	<%= image_tag '/assets/beta/tick.png' %>
	<% else %>	
	<% if c.credit_validations.confirmed.count > 2 %>
	3
	<% end %>
	<% if c.credit_validations.confirmed.count == 2 %>
	2
	<% end %>
	<% if c.credit_validations.confirmed.count == 1 %>
	1
	<% end %>
	<% if c.credit_validations.confirmed.count == 0 %>
	0
	<% end %>
		/3</p><br />
		
	<% end %>	
	<p class="validation-status">
		<% if c.credit_validations.confirmed.count > 2 %>
		Verified</p>
		<% end %>
		<% if c.credit_validations.confirmed.count == 2 %>
		Part Verified</p>
		<% end %>
		<% if c.credit_validations.confirmed.count == 1 %>
		Part Verified</p>
		<% end %>
		<% if c.credit_validations.confirmed.count == 0 %>
		Unverified</p>
		<% end %>
	
	
		<div class="head-shots">
	
				<% if c.credit_validations.empty? %>
					<% 3.times do %>
					<a class="show_hide_add_<%= c.id %>">
					<span class="picture">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
						<a class="show_hide_add_<%= c.id %>">
							<%= image_tag '/assets/empty.png' %>
						</a>	
						
						<% else %>	
						<%= image_tag '/assets/question.png' %>	
						<% end %>
						<% else %>
						<%= image_tag '/assets/question.png' %>
						<% end %>
					</span>
					</a>
					<% end %>
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
							
							<% else %>
							<%= form_for(@credit_validation) do |f| %>
								<%= f.hidden_field :credit_id, :value => "#{c.id}" %>
								<%= f.hidden_field :user_id, :value => "#{c.user_id}" %>
								<%= f.hidden_field :validator_id, :value => "#{current_user.id}" %>
								<%= f.hidden_field :status, :value => "confirmed" %>
					
		
								<% end %>
							<% end %> 
							
							<% end %>
					
					<% else %>

				<% end %>
	
		
	
							<% if c.credit_validations.count.eql?(1) %>
					<% c.credit_validations.each do |cv| %>
				<% if cv.status == "confirmed" %>
				<span class="picture">
					<% @user = User.find_by_id(cv.validator_id) %>
				<a href="/users/<%= cv.validator_id %>" name="confirmed1">
					<% if @user %>
					<% if @user.provider == "facebook" %>
					<img  src="http://graph.facebook.com/<%= @user.uid %>/picture?type=square">
					<% else %>
					<%= image_tag @user.profile_picture %>
					<% end %>
					</a>
					<% else %>
					<%= image_tag '/assets/deleted.png' %>
					<% end %>
				</span>
	
				<% end %>
					<% if cv.status == "pending" %>
					<span class="picture">
						<% if current_user %>
							<% if current_user.id == c.user_id  %>
						<%= link_to credit_validation_path(cv) do %>
					<%= image_tag '/assets/pending.png' %>
	
						<% end %>
						<% else %>
							<%= image_tag '/assets/pending.png' %>
								<% end %>
								<% else %>
									<%= image_tag '/assets/pending.png' %>
									<% end %>
			
						</span>
		
		
		
	
					<% end %>
					<% 2.times do %>
					<a class="show_hide_add_<%= c.id %>">
					<span class="picture">
					<% if current_user %>	
						<% if current_user.id == c.user_id  %>
							<a class="show_hide_add_<%= c.id %>">
							<%= image_tag '/assets/empty.png' %>
							</a>
								
						<% else %>	
						<%= image_tag '/assets/question.png' %>	
						<% end %>
						<% end %>
			
				
					</span>
					</a>
					<% end %>
					
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
							
							<% else %>
							<%= form_for(@credit_validation) do |f| %>
								<%= f.hidden_field :credit_id, :value => "#{c.id}" %>
								<%= f.hidden_field :user_id, :value => "#{c.user_id}" %>
								<%= f.hidden_field :validator_id, :value => "#{current_user.id}" %>
								<%= f.hidden_field :status, :value => "confirmed" %>
					
								
		
								<% end %>
							<% end %> 
							
							<% end %>
					
					<% end %>
					<% else %>
	
			<% end %>

			<% if c.credit_validations.count.eql?(2)  %>
			<% c.credit_validations.each do |cv| %>
			<% if cv.status == "confirmed" %>
			<span class="picture">
				<% @user = User.find_by_id(cv.validator_id) %>
			<a href="/users/<%= cv.validator_id %>" name="confirmed2">
				<% if @user %>
				<% if @user.provider == "facebook" %>
				<img  src="http://graph.facebook.com/<%= @user.uid %>/picture?type=square">
				<% else %>
				<%= image_tag @user.profile_picture %>
				
				<% end %>
				</a>
				<% else %>
				<%= image_tag '/assets/deleted.png' %>
				<% end %>
			</span>
			<% end %>
				<% if cv.status == "pending" %>
	
				<span class="picture">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
					<%= link_to credit_validation_path(cv) do %>
				<%= image_tag '/assets/pending.png' %>
	
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
							<% end %>
							<% else %>
								<%= image_tag '/assets/pending.png' %>
								<% end %>
	
					</span>
			<% end %>

		
				<% end %>
				<% 1.times do %>
				<a class="show_hide_add_<%= c.id %>">
					<span class="picture">
					<% if current_user %>	
						<% if current_user.id == c.user_id  %>
						<a class="show_hide_add_<%= c.id %>">
							<%= image_tag '/assets/empty.png' %>
						</a>
									
						<% else %>	
						<%= image_tag '/assets/question.png' %>	
						<% end %>
						<% end %>
					</span>
	
				</a>
				<% if current_user %>
					<% if current_user.id == c.user_id  %>
						
						<% else %>
						<%= form_for(@credit_validation) do |f| %>
							<%= f.hidden_field :credit_id, :value => "#{c.id}" %>
							<%= f.hidden_field :user_id, :value => "#{c.user_id}" %>
							<%= f.hidden_field :validator_id, :value => "#{current_user.id}" %>
							<%= f.hidden_field :status, :value => "confirmed" %>
				
							
	
							<% end %>
						<% end %> 
						
						<% end %>
				
				<% end %>
	
				<% end %>
	
				<% if c.credit_validations.count.eql?(3)  %>
				<% c.credit_validations.each do |cv| %>
	
				<% if cv.status == "confirmed" %>
				<span class="picture">
					<% @user = User.find_by_id(cv.validator_id) %>
				<a href="/users/<%= cv.validator_id %>" name="confirmed3">
					<% if @user %>
					<% if @user.provider == "facebook" %>
					<img  src="http://graph.facebook.com/<%= @user.uid %>/picture?type=square">
					<% else %>
					<%= image_tag @user.profile_picture %>
					
					<% end %>
					</a>
					<% else %>
					<%= image_tag '/assets/deleted.png' %>
					<% end %>
				</span>
				<% end %>
					<% if cv.status == "pending" %>
				<span class="picture">
					<% if current_user %>
						<% if current_user.id == c.user_id  %>
					<%= link_to credit_validation_path(cv) do %>
				<%= image_tag '/assets/pending.png' %>
	
					<% end %>
					<% else %>
						<%= image_tag '/assets/pending.png' %>
							<% end %>
							<% else %>
								<%= image_tag '/assets/pending.png' %>
								<% end %>
		
					</span>
		
					<% end %>

		
					<% end %>
	
	
					<% end %>
	
	
	
		</div>	
		
	

	
	
	
	
	
	
	
	
	</div>
	
	
		<% end %>
	</div>
	
		<script type="text/javascript">

		$(document).ready(function(){

		        $(".slidingDiv_add_<%= c.id %>").hide();
		        $(".show_hide_add_<%= c.id %>").show();

		    $('.show_hide_add_<%= c.id %>').click(function(){
		    $(".slidingDiv_add_<%= c.id %>").slideToggle();
		    });

		});

		</script>		
		<div class="slidingDiv_add_<%= c.id %>" >
			<div class="add_credit">
			
			 	<a title="Close" id="close" class="show_hide_add_<%= c.id %>" style="width:20px;">X</a>
				<% if current_user %>			
				<% if current_user.id == c.user_id %>
				<script type="text/javascript">

				$(document).ready(function(){

				        $(".slidingDiv_email_<%= c.id %>").hide();
				        $(".show_hide_email_<%= c.id %>").show();

				    $('.show_hide_email_<%= c.id %>').click(function(){
				    $(".slidingDiv_email_<%= c.id %>").slideToggle();
				    });

				});

				</script>

		
				<% if c.credit_validations.count < 3  %>

<h2>Invite someone to verify your credit.</h2>
		    
					<%= form_for(@credit_validation) do |f| %>
					<%= f.label "Select team member with a credit:"%>
					<div style="z-index:1000;">
						<%= f.collection_select :credit_id, Credit.where('user_id != ?', current_user.id).where(:product_id => c.product.id).uniq, :id, :user_name, :prompt => "Please Select" %>
						</div> 
						<%= f.hidden_field :validator_id, :value => current_user.id %>
						<%= f.hidden_field :status, :value => "confirmed" %>

						<%= submit_tag " SEND REQUEST", :name => 'existing_credit', :class => 'submit' %>
						<%= f.hidden_field :current_credit_id, :value => c.id %>
					<% end %>
			
					<h2>or invite a team member via:</h2>
					<a class="show_hide_email_<%= c.id %>" style="cursor: pointer;">Email</a>
						<a class="show_hide_facebook_<%= c.id %>" style="cursor: pointer;" >Facebook</a>

			


				<div class="slidingDiv_email_<%= c.id %>">
		

				<div style="float:right;"> <a class="show_hide_email_<%= c.id %>">(close X)</a></div>
				<br />

				<%= form_for @credit, :validate => true do |f|%>
				<% if @credit.errors.any? %>
				  <div id="error_explanation">
				    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

				    <ul>
				    <% @credit.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				    </ul>
				  </div>
				<% end %> 
					<%= f.label "Team member email"%>

					<%= f.text_field :pending_user_email %>

						<%= f.label "What was team member's role?"%>

						<%= f.text_field :role %>


					 		<%= f.hidden_field :product_idd, :value => c.product.id %>

							<%= f.hidden_field :current_credit_id, :value => c.id %>

							<%= f.hidden_field :current_credit_role, :value => c.role %>


							<a href="/message_preview?credits_id=<%= c.id %>" target="blank">(preview the message)</a>

					 			<%= f.submit 'SEND REQUEST', :id => 'blue-link', :class => 'submit' %>

					<% end %> 
				</div>
		

				<script type="text/javascript">

				$(document).ready(function(){

				        $(".slidingDiv_facebook_<%= c.id %>").hide();
				        $(".show_hide_facebook_<%= c.id %>").show();

				    $('.show_hide_facebook_<%= c.id %>').click(function(){
				    $(".slidingDiv_facebook_<%= c.id %>").slideToggle();
				    });

				});

				</script>	


				<div class="slidingDiv_facebook_<%= c.id %>">	
			
					<div style="float:right;"> <a class="show_hide_facebook_<%= c.id %>">(close X)</a></div>	
					<br />

					<%= form_for @credit, :validate => true do |f|%>
					<% if @credit.errors.any? %>
					  <div id="error_explanation">
					    <h2><%= pluralize(@credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

					    <ul>
					    <% @credit.errors.full_messages.each do |msg| %>
					      <li><%= msg %></li>
					    <% end %>
					    </ul>
					  </div>
					<% end %>

							<%= f.label "What was team member's role?"%>
							<div>
							<%= f.text_field :role %>
							</div>	

						 		<%= f.hidden_field :product_idd, :value => c.product.id %>

								<%= f.hidden_field :current_credit_id, :value => c.id %>

						 			<%= f.submit 'SEND REQUEST', :id => 'blue-link', :name => 'facebook', :class => 'submit' %>

						<% end %> 
					
							</div>


							<script type="text/javascript">

							$(document).ready(function(){

							        $(".slidingDiv_co_<%= c.id %>").hide();
							        $(".show_hide_co_<%= c.id %>").show();

							    $('.show_hide_co_<%= c.id %>').click(function(){
							    $(".slidingDiv_co_<%= c.id %>").slideToggle();
							    });

							});

							</script>	


					<% end %>
				<% end %>
				<% end %>
	
			</div>
		</div>
		
		
		<div class="slidingDiv_interesting_fact_<%= c.id %>" id="interesting_fact">
			<h3>Insider Stories:</h3>
				 <% if current_user %>			
<% if current_user.id == c.user_id %><%= link_to "(edit)", edit_credit_path(:id => c) %> <% end %> <% end %>
<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.whoactually.com/products/<%=  c.product.id %>" data-text="<%= truncate(c.fact, :length => 100) %>">Tweet this fact</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</h3><p class="fact"><%= c.fact %></p>


<% if c.product.status == "In Development" or c.product.status == "Ongoing"  %>	


<h3>Updates:</h3>
	  <% @posts = Post.where(:credit_id => c.id).order("created_at desc").limit(4) %>
<% if current_user %>			
	<% if current_user.id == c.user_id %>	
	<%= form_for(@post) do |f| %>
	  <% if @post.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

	      <ul>
	      <% @post.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="field">
	    <%= f.text_area :body, :rows => "5", :placeholder => "Write a new post..." %>
		TAG A WHOACTUALLY USER: <br /> <%= f.select(:name_check_user_id, User.all.collect {|a| [a.name, a.id]}, {:include_blank => 'Pick a name'}, :name => "post_name_check_user_id") -%>
		<a href="/messages/new?name= Whoactually.com - <%= current_user.name%> has tagged you in a post&link=http://<%= ENV['DEFAULT_URL'] %>/products/<%= c.product.id %>" class="blue-btn" target="blank">Tag a Facebook friend</a><br />
	Upload an Image <div class="file-upload"><%= f.file_field :image %></div> or <br />
	<%= f.text_field :video, :placeholder => "YouTube Video ID" %>
		<%= f.hidden_field :credit_id, :value => c.id %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Add update", :class => "submit" %>
	 </div>
		
			<% end %>
			<% end %>	
	
				<% end %>	
			
			<ul class="posts">	
			<% @posts.each do |post| %>
			<li>
			<p class="time">Added on <%= post.created_at.strftime "%d-%m-%Y" %> <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.whoactually.com/products/<%=  c.product.id %>" data-text="<%= truncate(c.fact, :length => 50) %>" style="margin-top:10px;">Tweet this fact</a></p><br />
			<p class="content"><%= post.body %></p>
			<% if post.name_check_user_id %>
			<% @user_nc = User.find_by_id(post.name_check_user_id) %>
			<%= link_to @user_nc.name, user_path(@user_nc) %> was namedchecked.
			<% end %>
			<% if post.image.blank? %>
			<% else %>
				<%= image_tag post.image.post  %>
			<% end  %>
			<% if post.video.blank? %>
			<% else %>
			<iframe width="600" height="480" src="//www.youtube.com/embed/<%= post.video %>?rel=0" frameborder="0" allowfullscreen></iframe>
			<% end %>
			</li>

			<% end %>
			</ul>		
			
		
	
		
		<% end %>
		
		
		
		</div>	
		<% end %>
	<% end %>
	
	

		
		</div>
		
		
	</div>
	
</div>
