<div class="container_12 pages">
<p id="notice"><%= notice %></p>
<div class="grid_8 alpha">
 
<h1><%= @product.title %></h1>
</div>

<div class="grid_4 omega">
<%= image_tag @product.image.small %>
</div>

<div class="grid_8 alpha product-desc">
<p class="product-desc">
 <%= @product.description %>
</p>

</div>
	
<div class="grid_4 omega">
<h3>Added by:</h3><a href="/users/<%= @product.user.id%>"><%= @product.user.name%></a></p>
<h3>Genre:</h3> <%= @product.genre %></p>
<h3>Rating:</h3> <%= rating_for @product, "quality" %></p>

</div>


<h2>Credits</h2> <br />
<% @credit_views.each do |c|%>
	<%= c.user.name %> <strong> <%= c.role%> </strong>
<%end%>

<% if current_user %>
<%= form_for @product do |f|%>
 <h2>My Credits</h2>
  <div class="items">
    <%= f.nested_fields_for :credits do |f| %>
      <fieldset class="item">
        <%= f.label :what_was_your_role_? %>
        <%= f.text_field :role %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <a href="#" class="remove">remove</a>

        <%= f.hidden_field :id %>
        <%= f.hidden_field :_destroy %>
      </fieldset>
    <% end %>
  </div>
  <a href="#" class="add">Add credit</a>

  <% # more person fields... %>
<%end%>  

<%end%>
</div>
