<div class="container_12 pages">
<p id="notice"><%= notice %></p>
<div class="grid_8 alpha">
 
<h1><%= @product.title %></h1>
</div>
 <div id="flash_notice"></div>
<div class="grid_4 omega">
	<% if @product.image.small%>
		<%= image_tag 'default-small.png'%>
	<%else%>
		<%= image_tag @product.image.small %>
	<%end%>
</div>

<div class="grid_8 alpha product-desc">
<p class="product-desc">
 <%= @product.description %>
</p>

</div>
	
<div class="grid_4 omega">
<h3>Added by:</h3><a href="/users/<%= @product.user.id%>"><%= @product.user.name%></a></p>
<h3>Genre:</h3> <%= @product.genre %></p>
<h3>Rating:</h3> <%= rating_for @product, "quality" %></p>
<% @product.properties.each do |name, value| %>
<p>
<h3><%= name.humanize %></h3> <%= value %>
</p>
<%end%>

</div>

<div id="facts-form">
	<%= render '/products/facts' %>
</div>	

<div id="credits-form">
<%= render '/products/credits'%>
</div>

<h2>Your Credits</h2>
<% if current_user %>
	<% if @user_credits.empty? %>
<h3>Were you involved with <%= @product.title %>?</h3>
		<%= form_for @credit do |f|%>
 What was your role? <%= f.text_field :role %> <br />
 Interesting Fact <%= f.text_field :fact %>
 		<%= f.fields_for :credit_validations do |builder| %>
  <%= render '/credit_validations/credit_validations_fields', f: builder %>
<% end %>

<%= link_to_add_fields "Add Validator", f, :credit_validations %>	
 		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :product_id, :value => @product.id %>
		<%= f.submit 'Create Your Credit' %>
		<%end%>
	<%else%>
<h3>You currently have a credit for this title:</h3>
		<% @user_credits.each do |uc|%>
		Role:<%= uc.role %> <%= link_to 'Delete Credit', uc, method: :delete %> <br />
		<%end%>
	<%end%>
<%end%>
</div>
