<html>
  <head>
    <title>whoactually | Credit Where It's Due</title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <meta property="og:image" content="http://www.whoactually.com/assets/beta/logo-with-bg.png"/>
    <link rel="shortcut icon" href="/assets/favicon.ico" />

    <SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.co.uk/widgets/q?ServiceVersion=20070822&MarketPlace=GB&ID=V20070822/GB/whoactually-21/8005/5a799ec4-96f9-454c-91c9-334719815924"> </SCRIPT>

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6205712/663186/css/fonts.css" />

  </head>

  <%= render '/layouts/google_analytics'%>

  <body class="new">

    <%= render "/shared/header" %>

    <% if current_user %>
      <% if @pending_cv.size > 0 %>
        <p class="notice">You have <%= @pending_cv.size %> pending notification. <a href="/">View ></a></p>
      <% end %>
    <% end %>

    <%= render "shared/flash", flash: flash %>

    <div class="body-wrapper">
      <%= yield %>
    </div>

    <div class="register <%= "min" unless controller.is_a? BetaController %>">
      <div class="container_12">
        <% if current_user %>
          <h2>What did you do?</h2>
          <p>Join the thousands of professionals already claiming credit for their work. Register today and let others know what you <em>actually</em> did.</p>
          <div class="btn-container">
          <%= link_to 'Get Started', products_path, class: 'btn' %>
          </div>
        <% else %>
          <h2>What did you do?</h2>
          <p>Join the thousands of professionals already claiming credit for their work. Register today and let others know what you <em>actually</em> did.</p>
          <div class="btn-container">
          <%= link_to 'Sign in with Facebook',  "/auth/facebook", class: 'btn' %>
          <%= link_to 'Sign in with LinkedIn',  "/auth/linkedin", class: 'btn' %>
          </div>
        <% end %>
      </div>
    </div>

    <%= render "/shared/footer" %>

    <%= render "/shared/analytics" %>

  </body>

</html>
