<html>
<head>
  <title>whoactually | Credit Where It's Due</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:image" content="http://staging.whoactually.com/assets/beta/logo-with-bg.png"/>
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
  <script type="text/javascript">  $(document).ready(function() { $(".select-advanced").select2({ width: 'element' }); }); </script>
  <SCRIPT charset="utf-8" type="text/javascript" src="http://ws.amazon.co.uk/widgets/q?ServiceVersion=20070822&MarketPlace=GB&ID=V20070822/GB/whoactually-21/8005/5a799ec4-96f9-454c-91c9-334719815924"> </SCRIPT>
</head>
<%= render '/layouts/google_analytics'%>
<body class="new">
	<div class="header-container">
		<div class="container_12 header-content">
			<div class="grid_3 logo">
				<div class="icon">
				<a href="/">	<%= image_tag '/assets/beta/logo-icon.png' %> </a>
				</div>	
				<div class="wa">
			<a href="/">	<%= image_tag '/assets/beta/logo-wa.png' %> </a>
				</div>	
		</div>	
		
			<div class="divider">
			<%= image_tag '/assets/beta/divider.png' %>
			</div>
			<div class="grid_2 drop-down">
				
				<a href="/credits/search">Add a credit +</a>
			</div>
			
			<div class="divider">
			<%= image_tag '/assets/beta/divider.png' %>
			</div>
			
			<div class="grid_4 search">
			<%= form_tag search_credits_path, :method => 'get' do %>
			  <%= text_field_tag :search, params[:search], data: {autocomplete_source: Product.order(:title).map(&:title)} %>
					 <%= submit_tag "", :name => nil, :class => "search-button" %>   
			<% end %>
			</div>
			
			<div class="divider">
			<%= image_tag '/assets/beta/divider.png' %>
			</div>
			
			 <% if current_user %>
			<div class="grid_2 name">
			<%= link_to user_path(current_user) do %><%= current_user.name %><%end%>
			</div>
			
			<div class="divider">
			<%= image_tag '/assets/beta/divider.png' %>
			</div>
			
			<%end%>
			
			<div class="grid_1 signin">
				<% if current_user %>
				
				<%= link_to "Sign out", signout_path %> 
				
				<% else %>
				
				<%= link_to "Sign In", "/auth/facebook", id: "login_with_facebook" %>
				
				<% end %>
			</div>	
			
			<div class="divider">
			<%= image_tag '/assets/beta/divider.png' %>
			</div>
				
			
			
			
		
			
			
			
			
		</div>	
	</div>	



	<% if flash[:notice] %>
	      <p class="notice"><%= flash[:notice] %></p>
	    <% end %>
	    <% if flash[:error] %>
	      <p class="error"><%= flash[:error] %></p>
	    <% end %>
	<div class="body-wrapper">
		
		
	
	
<%= yield %>

	</div>
	
	<div class="footer">
			&copy; 2013 Itsoo Ltd | <a href="/terms">Terms of Use</a> | <a href="mailto:contact@whoactually.com">Contact Us</a> | Release: <%= ENV['rel'] %> <% if current_user%> <% if current_user.role == "admin" %><a href="/lecrabe">Admin</a><%end%><%else%> <%end%>
 		</div>
		</div>
		<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

		<script type="text/javascript">
		  var _sf_async_config = { uid: 47632, domain: 'alpha.whoactually.com', useCanonical: true };
		  (function() {
		    function loadChartbeat() {
		      window._sf_endpt = (new Date()).getTime();
		      var e = document.createElement('script');
		      e.setAttribute('language', 'javascript');
		      e.setAttribute('type', 'text/javascript');
		      e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
		      document.body.appendChild(e);
		    };
		    var oldonload = window.onload;
		    window.onload = (typeof window.onload != 'function') ?
		      loadChartbeat : function() { oldonload(); loadChartbeat(); };
		  })();
		</script>
		
	
</body>	

</html>
